<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="box">
                    <message ref="message"></message>
                    <h1 class="title is-5">Parametry Klienta:</h1>
                    <object-input title="Imię" v-model="data" :config="{name: {}}"></object-input>
                    <object-input title="Nazwisko" v-model="data" :config="{surname: {}}"></object-input>
                    <object-input title="Email" v-model="data" :config="{email: {}}"></object-input>
                    <object-input title="Email Alt." v-model="data" :config="{altemail: {}}"></object-input>
                    <object-input title="Telefon" v-model="data" :config="{phone: {}}"></object-input>

                    <span v-if="id>0">
                        Ostatnia aktualizacja {{renderDate(data.updatedAt)}}
                    </span>
                    <div class="buttons">

                        <button v-if="id != 0" class="button is-success" @click="updateData(id)">
                            Aktualizuj bieżący (#{{id}})
                        </button>
                        <button class="button is-link" @click="updateData(0)">
                            Stwórz nowy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent" v-if="id > 0">
            <table-simple
                ref="table"
                prefix="prod"
                table="HP_HEATPUMP_OVERVIEW"
                :constraints="[{customerId: id}]"
            >
                <template v-slot:header>
                    <tr>
                        <th>L.p</th>
                        <th>Nazwa</th>
                        <th>Pompa ciepła</th>
                        <th>Data montażu</th>
                        <th>Czynnik chłodnicz</th>
                        <th>Ilość czynnika</th>
                        <th>Ekw. CO2</th>
                        <th>do BDO?</th>
                        <th>Powiadomienia</th>
                    </tr>
                </template>

                <template v-slot:rows="props">
                    <tr v-for="(d, index) in props.data" v-if="d">

                        <td>{{parseInt(index)+1}}</td>
                        <td><router-link :to="'/refrigeration/' + d.id">#{{d.id}}</router-link> {{d.name}}</td>
                        <td><router-link :to="'/fragments/products/' + d.productId">#{{d.productId}}</router-link> {{d.productShortDesc}}</td>
                        <table-simple-cell table="HP_HEATPUMP" field="mountedAt" :id="d.id" :value="new Date(d.mountedAt)"
                        ></table-simple-cell>
                        <table-simple-cell table="HP_HEATPUMP" field="refrigerantId" :id="d.id"
                                           foreign-table="HP_REFRIGERANT" :value="d.refrigerantId"
                        ></table-simple-cell>
                        <table-simple-cell table="HP_HEATPUMP" field="refrigerantWeight" :id="d.id" :value="d.refrigerantWeight"
                        ></table-simple-cell>
                        <td>{{d.refrigerantWeight * d.refrigerantGWP}}</td>
                        <td>{{(d.refrigerantWeight * d.refrigerantGWP) > 5000 ? "Tak":"Nie"}}</td>

                        <table-simple-cell table="HP_HEATPUMP" field="notificationPolicyId" :id="d.id"
                                           foreign-table="HP_NOTIFICATIONPOLICY" :value="d.notificationPolicyId"
                        ></table-simple-cell>
                    </tr>
                </template>
            </table-simple>
        </div>
    </div>
</template>

<script>
import tableApi from "../../../../../plugins/tableApi";
import ObjectInput from "../../../../../assets/formInputs/objectInput.vue";
import Message from "../../../../../assets/messages/message.vue";
import TableSimple from "../../../databaseInterface/table/tableSimple.vue";
import RemoveFromDatabaseButton from "../../../../../assets/buttons/removeFromDatabaseButton.vue";
import TableSimpleCell from "../../../databaseInterface/table/tableSimpleCell.vue";
import ChooserInputDb from "../../../databaseInterface/chooserInputDb.vue";

export default {
    name: "refrigerationViewMainPreview",
    components: {
        ChooserInputDb, TableSimpleCell, RemoveFromDatabaseButton, TableSimple, Message, ObjectInput},
    mixins: [tableApi],
    data() {
        return {
            data: {},
            id: this.$route.params.id,
            table: "HP_CUSTOMER",
        }
    },
    mounted() {
        //this.loadProductsOptions()
        this.load()
        this.dbSetMessageRef(this.$refs.message)
    },
    methods: {
        updateData(id) {
            let data = Object.assign({}, this.data)

            delete data.id
            this.dbUpdate({
                table: this.table,
                id: id,
                data
            }).then(m => {
                if(m && (this.id == 0 || id == 0)){
                    this.showSuccess("Sukces", "Poprawnie dodano nowy produkt")
                    this.id = m
                    this.$router.push({params: { id: m }})
                }else{
                    this.showSuccess("Sukces", "Poprawnie zmodyfikowano istniejący produkt")
                }
            }).catch(()=>{})
        },
        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: this.table,
                    id: this.id
                }).then(m => {
                    this.$set(this, 'data', m)
                })
            }
        }
    },
    watch: {
        id: function (){
            this.load()
        },
        "$route.params.id": function (){
            this.id = this.$route.params.id
        },
    }
}
</script>

<style scoped>

</style>
