<template>
    <div>
        <table-simple
            ref="table"
            prefix="prod"
            table="HP_CUSTOMER"
            :on-click-create-new="$route.path + '/0'"
            :constraints="[]"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Id</th>
                    <th>Imię </th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Email Alt.</th>
                    <th>Telefon</th>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">

                    <td>{{parseInt(index)+1}}</td>
                    <td>#{{d.id}}</td>
                    <table-simple-cell table="HP_CUSTOMER" field="name" :id="d.id" :value="d.name"
                    ></table-simple-cell>
                    <table-simple-cell table="HP_CUSTOMER" field="name" :id="d.id" :value="d.surname"
                    ></table-simple-cell>
                    <table-simple-cell table="HP_CUSTOMER" field="email" :id="d.id" :value="d.email"
                    ></table-simple-cell>
                    <table-simple-cell table="HP_CUSTOMER" field="altemail" :id="d.id" :value="d.altemail"
                    ></table-simple-cell>
                    <table-simple-cell table="HP_CUSTOMER" field="phone" :id="d.id" :value="d.phone"
                    ></table-simple-cell>

                    <td>
                        <div class="buttons">
                            <router-link :to="$route.path + '/' + d.id" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                            </router-link>
                            <remove-from-database-button table="HP_CUSTOMER" :id="d.id"
                                                         @click="$refs.table.init()"
                            ></remove-from-database-button>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
import TdFormatted from "../../../../assets/table/tdFormatted.vue";
import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
import RemoveFromDatabaseButton from "../../../../assets/buttons/removeFromDatabaseButton.vue";
export default {

    name: "refrigerationViewMain",
    components: {RemoveFromDatabaseButton, TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
    mounted() {
        this.$emit("setMenu", [])
    },
}
</script>

<style scoped>

</style>
