<template>
    <div>
        <table-simple class="block"
            ref="table"
            prefix="prod"
            table="HP_NOTIFICATION"
            :on-click-create-new="$route.path + '/0'"
            :constraints="[]"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Temat</th>
                    <th>Odbiorcy</th>
                    <th>Status</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">

                    <td>{{parseInt(index)+1}}</td>
                    <td><router-link :to="$route.path + '/' + d.id">#{{d.id}}</router-link> {{d.subject}}</td>
                    <td>{{d.receivers}}</td>
                    <td>{{d.status}}</td>
                    <td>{{d.statusDescription}}</td>
                    <td>
                        <div class="buttons">
                            <router-link :to="'database/HP_NOTIFICATION/edit/' + d.id" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                            </router-link>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>

        <div class="block">
            <h3 class="title">Wysyłka powiadomień</h3>



            <strong>Wybierz rodzaj powiadomienia</strong><br>
            <div class="field">
                <div class="select">
                    <select v-model="notificationType">
                        <option value="0">Własna wiadomość</option>
                        <option v-for="(type, index) in data"
                                :value="parseInt(index)+1">{{data[index].name}}</option>
                    </select>
                </div>
            </div>

            <div class="content">
                <wysiwyg v-if="rich == true" v-model="text" @change="changed"/>
                <textarea v-else rows="10" class="textarea" v-model="text" @change="changed"></textarea>
                <button class="button" @click="rich = !rich">Edytor / Tekst</button>
            </div>
            <div class="buttons">
                <button class="button is-success" @click="updateNotificationContent()">
                    Aktualizuj treść powiadomienia
                </button>
            </div>

            <strong v-if="!selectedId" class="has-text-danger">
                Aby wygenerować powiadomienie wybierz instalację.<br>
            </strong>
            <strong>Wybierz instalację której dotyczyć ma powiadomienie:</strong>
            <chooser-input-db key-name="id"
                              foreign-table="HP_HEATPUMP"
                              @change="onSelected"
                              buttonDisabled="true"
            ></chooser-input-db>

            <template v-if="selectedId">
                Obecnie wybrano instalację o id: <router-link :to="'/refrigeration/' + selectedId">#{{selectedId}}</router-link>
                <div class="buttons">
                    <button class="button is-success" @click="sendNotification()">
                        Wyślij powiadomienie do klienta**
                    </button>
                    <button class="button is-link" @click="sendNotification()">
                        Wyślij powiadomienie (testowo)*
                    </button>
                    <div class="content">
                        *Powiadomienie testowe jest wysyłane na poniższe adresy email:<br>
                        -biuro@elmecosolar.pl,<br>
                        -pparczyk@elmecosolar.pl.<br>
                        **"Powiadomienie do klienta" jest wysyane na powyższe adresy oraz do klienta na email i email alternatywny powiązane z wybraną instalacji.
                        -{{email}}<br>
                        -{{altEmail}}.<br>
                    </div>
                </div>
            </template>

        </div>

    </div>
</template>

<script>
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
import TdFormatted from "../../../../assets/table/tdFormatted.vue";
import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
import RemoveFromDatabaseButton from "../../../../assets/buttons/removeFromDatabaseButton.vue";
import ChooserInputDb from "../../databaseInterface/chooserInputDb.vue";
import tableApi from "../../../../plugins/tableApi";
export default {

    name: "refrigerationViewNotification",
    components: {
        ChooserInputDb,
        RemoveFromDatabaseButton, TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
    mixins: [tableApi],
    data() {
        return {
            selectedId: this.selectedId,
            notificationType: 0,
            data: [],
            email: "",
            altEmail: "",
            rich: true,
            text: ""
        }
    },
    mounted() {
        this.loadNotifications()
        this.$emit("setMenu", [])
    },
    methods: {
        onSelected(id){
            this.selectedId = id
        },
        sendNotification() {

            this.axiosPostMsg('/mailer/sendnotification',{

            }).then(m => {
                this.showSuccess("Sukces", "Wysłano powiadomienie")
            })
        },
        changed() {
            console.log(this.text)
        },
        updateNotificationContent(){
            this.dbUpdate({
                table: "FM_FRAGMENT",
                id: this.data[this.notificationType-1].fragmentId,
                data: {content: this.text}
            }).then(m => {
                this.showSuccess("Sukces", "Poprawnie zmodyfikowano treść")
            }).catch(()=>{})
        },
        loadNotifications(){
            this.dbFindAll({
                table: "HP_FRAGMENTNOTIFICATION",
            }).then(m => {
                this.$set(this, 'data', m)
            })
        }
    },
    watch: {
        notificationType: function (newVal, oldVal){
            if (this.notificationType != 0) {
                if(oldVal != 0)
                    this.data[oldVal-1].fragment.content = this.text
                this.$set(this, 'text', this.data[this.notificationType - 1].fragment.content)
            }else{

            }
        }
    }
}
</script>

<style scoped>

</style>
