<template>
    <div>
        <table-simple
            ref="table"
            prefix="prod"
            table="HP_HEATPUMP_OVERVIEW"
            :on-click-create-new="$route.path + '/0'"
            :constraints="[]"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Nazwa</th>
                    <th>Pompa ciepła</th>
                    <th>Data montażu</th>
                    <th>Czynnik chłodnicz</th>
                    <th>Ilość czynnika</th>
                    <th>Ekw. CO2</th>
                    <th>do BDO?</th>
                    <th>Klient</th>
                    <th>Kontakt</th>
                    <th>Powiadomienia</th>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">

                    <td>{{parseInt(index)+1}}</td>
                    <td><router-link :to="$route.path + '/' + d.id">#{{d.id}}</router-link> {{d.name}}</td>
                    <td><router-link :to="'/fragments/products/' + d.productId">#{{d.productId}}</router-link> {{d.productShortDesc}}</td>
                    <table-simple-cell table="HP_HEATPUMP" field="mountedAt" :id="d.id" :value="new Date(d.mountedAt)"
                    ></table-simple-cell>
                    <table-simple-cell table="HP_HEATPUMP" field="refrigerantId" :id="d.id"
                                       foreign-table="HP_REFRIGERANT" :value="d.refrigerantId"
                    ></table-simple-cell>
                    <table-simple-cell table="HP_HEATPUMP" field="refrigerantWeight" :id="d.id" :value="d.refrigerantWeight"
                    ></table-simple-cell>
                    <td>{{d.refrigerantWeight * d.refrigerantGWP}}</td>
                    <td>{{(d.refrigerantWeight * d.refrigerantGWP) > 5000 ? "Tak":"Nie"}}</td>
                    <td><router-link :to="'/refrigeration/customer/' + d.customerId">#{{d.customerId}}</router-link> {{d.customerName}}</td>
                    <td>{{d.customerPhone}}</td>


                    <table-simple-cell table="HP_HEATPUMP" field="notificationPolicyId" :id="d.id"
                                       foreign-table="HP_NOTIFICATIONPOLICY" :value="d.notificationPolicyId"
                    ></table-simple-cell>
                    <td>
                        <div class="buttons">
                            <router-link :to="$route.path + '/' + d.id" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                            </router-link>
                            <remove-from-database-button table="HP_HEATPUMP" :id="d.id"
                                                         @click="$refs.table.init()"
                            ></remove-from-database-button>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
import TdFormatted from "../../../../assets/table/tdFormatted.vue";
import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
import RemoveFromDatabaseButton from "../../../../assets/buttons/removeFromDatabaseButton.vue";
export default {

    name: "refrigerationViewMain",
    components: {RemoveFromDatabaseButton, TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
    mounted() {
        this.$emit("setMenu", [])
    },
}
</script>

<style scoped>

</style>
