<template>
    <div>
        <table-simple
            class="block"
            ref="table"
            prefix="prod"
            table="HP_HEATPUMP_COMING_EVENTS"
            :on-click-create-new="$route.path + '/0'"
            :constraints="[]"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Nazwa Instalacji</th>
                    <th>Data montażu</th>
                    <th>Data poprzedniego przeglądu</th>
                    <th>Okres przeglądów</th>
                    <th>Data nadchodzącego przeglądu</th>
                    <th>Powiadomienia</th>
                    <th>p. do klienta</th>
                    <th>p. do serwisu</th>

                    <th>BDO?</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">

                    <td>{{parseInt(index)+1}}</td>
                    <td><router-link :to="'/refrigeration/' + d.id">#{{d.id}}</router-link> {{d.name}}</td>
                    <td>{{renderOnlyDate(d.mountedAt)}}</td>
                    <td>{{renderOnlyDate(d.lastService)}}</td>
                    <td>{{ d.notificationpolicyName }}</td>
                    <td>{{ renderOnlyDate(d.nextService) }}</td>
                    <td>
                        powitalna: {{d.welcomeSend ? "Tak" : "Nie"}} <br>
                        po serwisie: {{d.serviceDoneSend ? "Tak" : "Nie"}} <br>
                        {{renderOnlyDate(d.firstNotification)}} {{d.firstSend ? "Tak" : "Nie"}} <br>
                        {{renderOnlyDate(d.secondNotification)}} {{d.secondSend ? "Tak" : "Nie"}} <br>
                        {{renderOnlyDate(d.thirdNotification)}} {{d.thirdSend ? "Tak" : "Nie"}} <br>
                        o. przekroczeniu: {{d.sendTimeElapsed ? "Tak" : "Nie"}} <br>
                    </td>
                    <td>{{d.customerNotificationAllowed ? "Tak":"Nie"}}</td>
                    <td>{{d.serviceNotificationAllowed ? "Tak":"Nie"}}</td>
                    <td>{{(d.refrigerantWeight * d.refrigerantGWP) > 5000 ? "Tak":"Nie"}}</td>
                </tr>
            </template>
        </table-simple>
        <div class="block">
            generator powiadomień na dzień: <simple-input type="date" v-model="date"></simple-input>
        </div>
        <div class="buttons block">
            <button class="button is-link" @click="generateNotifications()">
                Uruchom skrypt generujący powiadomienia
            </button>
        </div>

        <div class="block content" v-if="notifications">
            Wykryte braki w powiadomieniach:
            <ul>
                <li v-for="n in notifications">
                    id: {{n.heatpumpId}}, typ: {{n.notificationTypeId}}, {{n.txt}} <button v-on:click="sendNotification(n)">Wyślij powiadomienie</button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
import TdFormatted from "../../../../assets/table/tdFormatted.vue";
import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
import RemoveFromDatabaseButton from "../../../../assets/buttons/removeFromDatabaseButton.vue";
export default {

    name: "refrigerationViewComing",
    components: {RemoveFromDatabaseButton, TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
    data(){
        return {
            date: new Date(),
            notifications: null
        }
    },
    mounted() {
        this.$emit("setMenu", [])
    },
    methods: {
        generateNotifications(){
            this.axiosPostMsg('/notifications/generatenotificationlist', {
                date: this.date
            }).then(m => {
                this.notifications = m
                this.showSuccess("Sukces", "Poprawnie wygenetowano listę powiadomień")
            })
        },
        sendNotification(notification) {
            this.axiosPostMsg('/notifications/notify', {
                heatpumpId: notification.heatpumpId,
                notificationTypeId: notification.notificationTypeId,
                date: this.date
            }).then(m => {
                this.showSuccess("Sukces", "Poprawnie wysłano powiadomienie")
                this.$refs.table.init()
            })
        }
    }
}
</script>

<style scoped>

</style>
