<template>
    <chooser-input :button-disabled="buttonDisabled" :options="options" v-model="chooseId" @changed="changed" @click="add(chooseId)"></chooser-input>
</template>

<script>
import ChooserInput from "../../../assets/formInputs/chooserInput.vue";
import tableApi from "../../../plugins/tableApi";
export default {

    /**
     * Class can be used to insert many to many relationships
     */
    name: "chooserInputDb",
    components: {ChooserInput},
    mixins: [tableApi],
    props: [
        'table', //source of options data
        'keyName',
        'id', //id of one side of association
        'foreignTable',
        'foreignKeyName',
        'buttonDisabled'
    ],
    data: function (){
        return {
            options: [],
            chooseId: null,

        }
    },
    mounted() {
        this.loadOptions()
    },
    methods: {
        loadOptions: function (){
            this.dbFindAllIds({
                table: this.foreignTable
            }).then(m => {
                for(let i in m){
                    this.options.push(m[i])
                }
            }).catch(()=>{})
        },

        add: function (id){
            //if all props given then send db request
            if( this.table&& this.id) {
                this.dbUpdate({
                    table: this.table,
                    id: 0, //insert new
                    data: {
                        [this.keyName]: this.id,
                        [this.foreignKeyName]: id
                    }
                }).then(m => {
                    this.$emit('click', id)
                }).catch(() => {
                })
            }
            else{
                //else only emit
                this.$emit('click', id)
            }
        },

        changed: function (){
            this.$emit('change', this.chooseId)
        }
    }
}
</script>

<style scoped>

</style>
