<template>
    <div>
        <h1 class="title is-5">Pliki:</h1>
        <cms-view-image-importer
            class="block"
            :filename-set="data.shortDesc"
            :alt-text-set="'Zdjęcie przestawiające ' + data.shortDesc"
            @change="onFileLoad"
        ></cms-view-image-importer>


        <table-simple
            class="block"
            ref="imagesTable"
            :table="table"
            :constraints="constraints"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>id</th>
                    <th>Podgląd</th>
                    <th>Plik</th>
                    <th>Akcje</th>
                </tr>
            </template>
            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data">
                    <td>{{parseInt(index) +1}}</td>
                    <td>
                        <a v-if="d[fileRelationName]" :href="'/file/' + d[fileRelationName].name" target="_blank"> #{{d.id}}</a>
                        <span v-else>#{{d.id}}</span>
                    </td>
                    <td>
                        <figure v-if="d[fileRelationName] && d[fileRelationName].extension" class="image is-64x64 overflow-hidden">
                            <img :src="'/file/' + d[fileRelationName].name">
                        </figure>
                    </td>
                    <table-simple-cell :table="table" :field="fileIdField" :id="d.id"
                                       foreign-table="PM_IMAGE_NAME" :value="d[fileIdField]"
                    ></table-simple-cell>
                    <td>
                        <div class="buttons">
                            <remove-from-database-button :table="table" :id="d.id"
                                                         @click="$refs.imagesTable.init()"
                            ></remove-from-database-button>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
import CmsViewImageImporter from "../viewModules/cmsView/cmsViewImageImporter.vue";
import TableSimple from "./table/tableSimple.vue";
import TableSimpleCell from "./table/tableSimpleCell.vue";
import RemoveFromDatabaseButton from "../../../assets/buttons/removeFromDatabaseButton.vue";
import tableApi from "../../../plugins/tableApi";
export default {
    mixins: [tableApi],
    name: "dbFileSelection",
    props:[
        'id', //id of object that owns files/images
        'foreignKey', //the name of the id in the join table
        'table', // relation table beetween object from db and file HP_HEATPUMPIMAGE, PM_PRODUCTIMAGE, ...
        'fileForeignKey' //the name of the file id in the join table
    ],
    components: {RemoveFromDatabaseButton, TableSimpleCell, TableSimple, CmsViewImageImporter},
    data() {
        return {
            data: {
                shortDesc: "",
            },
            fileIdField: "fileId", //or imageId
            fileRelationName: "file" //or image
        }
    },
    methods: {

        addFile: function (file){
            console.log({
                [this.foreignKey]: this.id,
                [this.fileForeignKey]: file.id || file
            })
            this.dbUpdate({
                table: this.table,
                id: 0,
                data: {
                    [this.foreignKey]: this.id,
                    [this.fileForeignKey]: file.id || file
                }
            }).then(m => {
                this.$refs.imagesTable.init()
            }).catch(()=>{})
        },

        onFileLoad: function (imageId){
            this.addFile(imageId)
        },
    },
    computed: {
        constraints: function () {
            let c1 = {}
            c1[this.foreignKey] = this.id
            return [c1]
        }
    }
}
</script>

<style scoped>

</style>
