<template>
    <div>
        <h1 class="title">Baza danych aplikacji</h1>
        <h1 class="subtitle">Lista tabel </h1>
        <div class="table-container">
            <table class="reference-table">
                <tr>
                    <th>L.p</th>
                    <th>Nazwa</th>
                    <th>Akcje</th>
                </tr>
                <template v-for="(table, index) in tables">
                    <tr>
                        <td>{{parseInt(index)+1}}</td>
                        <td>{{table.name}}</td>
                        <td>
                            <button v-if="active != index" class="button is-small is-link" @click="openDetails(index)">Rozwiń</button>
                            <button v-else class="button is-small is-danger" @click="active = -1">Zwiń</button>
                            <router-link :to="'/database/' + table.name + '/brief'" class="button is-small is-link">
                                <span class="icon is-small">
                                    <i class="fas fa-search"></i>
                                </span>
                            </router-link>
                        </td>
                    </tr>
                    <tr v-if="index == active">
                        <td colspan="3">

                            <table>
                                <tr>
                                    <th>L.p</th>
                                    <th>Nazwa</th>
                                    <th>Typ</th>
                                    <th>Null</th>
                                    <th>Domyślna</th>
                                    <th>AI</th>
                                </tr>

                                <tr v-for="(d, index) in table.details.fields">
                                    <td>{{parseInt(index)+1}}</td>
                                    <td>
                                        <span>{{d.name}}</span>
                                        <span v-if="d.primaryKey" class="icon">
                                            <i class="fas fa-key" style="color:#fcba03"></i>
                                        </span>
                                    </td>
                                    <td>{{d.type}}</td>
                                    <td>
                                        <span class="icon">
                                            <i v-if="d.allowNull" class="fas fa-check has-text-success"></i>
                                            <i v-else class="fas fa-times"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span v-if="d.defaultValue == null">Brak</span>
                                        <span v-if="d.defaultValue == ''">""</span>
                                        <span v-else>{{d.defaultValue}}</span>
                                    </td>
                                    <td>
                                        <span class="icon">
                                            <i v-if="d.autoIncrement" class="fas fa-check has-text-success"></i>
                                            <i v-else class="fas fa-times"></i>
                                        </span>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </template>
            </table>
        </div>

    </div>
</template>

<script>
    export default {
        name: "userDatabaseMain",
        components: {},
        data() {
            return {
                active: -1,
                tables: [],
                details: {}
            }
        },

        mounted() {
            this.$emit("setMenu", [])
            this.load()
        },

        methods: {
            openDetails: function(index){
                this.active = index

                if(!this.tables[index].details) {
                    this.axiosPostMsg('/tablemanagement/describetable', {
                        table: this.tables[index].name
                    }).then(m => {

                        let details = {
                            fields: [],
                            associations: m.associations
                        }
                        for(let key in m.fields){
                            details.fields.push({name: key, ...m.fields[key]})
                        }

                        console.log("details", details)
                        this.$set(this.tables[index], 'details', details)
                    })
                }
            },

            load: function () {
                this.axiosPostMsg('/tablemanagement/showtables').then(m => {
                    this.$set(this, 'tables', m.map((val) => { return {name: val}}))
                })
            },
        }
    }
</script>

<style scoped>

</style>
