<template>
    <div>
        <router-view
            :table="$route.params.table"
            :details="details"
        ></router-view>
    </div>
</template>

<script>
    export default {
        name: "userDatabaseTable",
        data() {
            return {
                details: {},
                menu: [{
                    href: '/database/' + this.$route.params.table,
                    title: 'Główna',
                    icon: 'fas fa-home'
                },{
                    href: '/database/'+this.$route.params.table+'/brief',
                    title: 'Podgląd',
                    icon: 'fas fa-search'
                },{
                    href: '/database/'+this.$route.params.table + '/edit/0',
                    title: 'Nowy wiersz',
                    icon: 'fas fa-plus'
                }],
            }
        },

        mounted() {
            this.$emit("setMenu", this.menu)
            this.loadTableDetails()
        },

        methods: {
            loadTableDetails: function () {
                this.axiosPostMsg('/tablemanagement/describetable', {
                    table: this.$route.params.table
                }).then(m => {
                    let details = {
                        fields: [],
                        associations: m.associations
                    }
                    for(let key in m.fields){
                        details.fields.push({name: key, ...m.fields[key]})
                    }

                    this.$set(this, 'details', details)
                })
            }
        }
    }
</script>

<style scoped>

</style>
