<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "address": {
    "@type": "PostalAddress",
    "addressCountry": "Polska",
    "addressRegion": "Dolnościąskie",
    "postalCode": "50262",
    "streetAddress": "Jedności Narodowej"
    },
    "name": "Elmeco technologie sp. z o.o.",
    "openingHours": [
    "Mo-Sa 7:00-21:00"
    ],
    "email": "biuro@elmecosolar.pl",
    "telephone": "+48501263866",
    "url": "http://www.elmecotechnologie.pl",
    "employees": [{
    "@type": "Person",
    "name": "Jerzy Parczyk",
    "telephone": "+48501263866",
    "email": "jparczyk@elmecosolar.pl",
    "jobTitle": "Prezes"
    },{
    "@type": "Person",
    "name": "Paweł Parczyk",
    "telephone": "+48602417549",
    "email": "pparczyk@elmecosolar.pl",
    "jobTitle": "Wiceprezes"
    }],
    "image": "/LOGO.png",
    "priceRange": "$",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 51.1209180424261,
            "longitude": 17.041747098568198
        }
    }
</script>

<footer class="footer">
    <div class="container">
    <section class="et--footer tile">


        <article class="et--shortcuts tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <!--<figure class="figure" >
                        <img src="../../images/LOGO.png">
                    </figure>-->
                    <ul>
                        <li><strong>Elmeco Technologie sp. z o.o.</strong></li>
                        <li>ul. Jedności Narodowej 79/14</li>
                        <li>50-262</li>
                        <li>NIP: 967 135 46 52</li>
                        <li>KRS: 000 042 25 89</li>
                        <li>REGON: 341 286 593 000 00</li>
                        <li>Credit Agricole 71 1940 1076 3222 3486 0000 0000</li>
                        <li>biuro@elmecosolar.pl</li>
                        <li>Poniedziałek-Sobota 7:00-21:00</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-vertical content">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <h5 class="border-yellow">
                                Fotowoltaika
                            </h5>
                            <ul>
                                <li>Cennik</li>
                                <li>Referencje</li>
                                <li>Monitoring instalacji</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <h5 class="border-blue">
                                Automatyka
                            </h5>
                            <ul>
                                <li>Oferta</li>
                                <li>Realizacje</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <h5 class="border-red">
                                Falowniki Powtran
                            </h5>
                            <ul>
                                <li>Sklep</li>
                                <li>Cennik</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <h5 class="border-gray">
                                Usługi
                            </h5>
                            <ul>
                                <li>Instalacje elektryczne</li>
                                <li>Pompy ciepła</li>
                                <li>Maty grzewcze</li>
                                <li>Promienniki podczerwieni</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    </div>

</footer>
