<template>
    <div class="has-background-brand-yellow">
        <section id="panel-login" class="hero is-primary is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-full-mobile is-7-tablet is-6-desktop is-5-widescreen">
                            <div class="box">
                                <div class="content">
                                    <figure class="image">
                                        <img src="../../images/LOGO.png" />
                                    </figure>

                                    <p class="has-text-justified">
                                        Panel administracyjny serwisu internetowego elmecotechnologie.pl
                                    </p>
                                </div>
                                <div class="form">
                                    <div class="field">
                                        <label class="label">Login / Email</label>
                                        <div class="control has-icons-left">
                                            <input v-model="email" type="text" placeholder="Podaj login/email" class="input" required>
                                            <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        </div>
                                        <p class="help is-danger">{{errors.email}}</p>
                                    </div>
                                    <div class="field">
                                        <label class="label">Hasło</label>
                                        <div class="control has-icons-left">
                                            <input v-model="pass" type="password" placeholder="Podaj hasło" class="input" required>
                                            <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        </div>
                                        <p class="help is-danger">{{errors.pass}}</p>
                                    </div>
                                    <div class="field">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="rememberMe">
                                            Zapamiętaj mnie
                                        </label>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button v-on:click="login()" class="button is-success">
                                                Zaloguj się
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "loginView",
        components: {},
        data(){
            return {
                rememberMe: false,
                email: "",
                pass: "",
                errors: {
                    email: "",
                    pass: "",
                },
                enableResetPassInfo: false
            }
        },

        mounted() {
            let pass = localStorage.getItem('pass')
            let email = localStorage.getItem('email')

            if(pass && email) {
                this.rememberMe = true
                this.email = email
                this.pass = pass
            }

            //parameters pass by query
            if(this.$route.query.pass && this.$route.query.email){
                this.rememberMe = null //do nothing
                this.pass = this.$route.query.pass
                this.email = this.$route.query.email
                this.login()
            }
        },

        methods: {
            login: function(){
                axios.post('/userapi/login', {
                    username: this.email.replace(/ /g, ''),
                    password: this.pass,
                }).then(m => {
                    if(m.data.token) {

                        //console.log("Logged data", m.data)

                        //save logged in status
                        this.$root.$data.token = m.data.token
                        this.$root.$data.permissions = m.data.permissions

                        if(this.rememberMe == true){
                            localStorage.setItem('pass', this.pass)
                            localStorage.setItem('email', this.email)
                        }else if(this.rememberMe == false){
                            localStorage.removeItem('pass')
                            localStorage.removeItem('email')
                        }

                        if(this.$root.$data.token.indexOf('admin')>=0) {
                            this.$root.$data.adminMode = true
                        }

                        // remember for relogin form
                        window.sessionStorage.setItem('pass', this.pass)
                        window.sessionStorage.setItem('email', this.email)

                        window.sessionStorage.setItem('token', m.data.token);

                        //redirect to panel
                        if(this.$route.query.d) {
                            this.$router.push({path: this.$route.query.d.toString()}).catch(err => {})
                        }else{
                            this.$router.push('/').catch(err => {})
                        }
                    }
                    //handle errors
                    else if(m.data.success == false){
                        if(m.data.error.indexOf("Incorrect username") > -1) {
                            this.errors.email = "Niepoprawna nazwa użytkownika"
                            this.errors.password = ""
                            this.enableResetPassInfo = true
                        }
                        else{
                            this.errors.email = ""
                            this.errors.pass = "Niepoprawne hasło"
                            this.enableResetPassInfo = true
                        }
                        localStorage.removeItem('pass')
                        localStorage.removeItem('email')
                    }
                }).catch(e => console.error(e))
            }
        }
    }
</script>

<style scoped>

</style>
