
.menu-container
  position: fixed
  width: 100vh
  height: 100vh
  margin-top: -3.5rem
  z-index: 10

  .menu
    position: absolute
    top: 3.5rem
    left: 0
    bottom: 0
    right: 0

.menu
  color: $white
  padding-top: 1rem

  .menu-label
    color: $white
    font-weight: $weight-bold


  .menu-list
    a
      color: $white
      &:hover
        color: $brand-blue-2

+mobile
  .menu
    overflow-y: scroll
    top: 0
    heigth: 100vh
    width: 100vw
    padding: 1rem



.vsm-hr
  border-color: rgba(0, 0, 0, 0.1)
  margin: 20px


.wrapper
  padding-left: 350px
  webkit-transition: 0.3s ease
  transition: 0.3s ease


.collapsed
  padding-left: 50px !important

@media (max-width: 768px)
  .wrapper
    padding-left: 50px



.sidebar-overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: #000
  opacity: 0.5
  z-index: 900
  
