.camera-preview
  width: 100%
  //max-height: 60vh
  background-color: wheat
  border: 1px solid black
  border-radius: 5px

  video
    //max-height: 60vh


.camera.modal

  .modal-content
    max-height: 100%
    width: 100%
    height: 100vh

    button
      color: black
