$monitor-secondary: $brand-blue-2

.card__1
  background-color: $monitor-secondary
  color: $white

  border: 1px solid $white-ter
  border-radius: 5px


  .card-header
    box-shadow: 0px
    border-bottom: 2px solid $grey-light
    .title
      padding: 2px 12px
      width: 100%
      color: $white
      text-align: right

  .card-content
    padding: 12px


.card__2
  border: 1px solid $white-ter
  border-radius: 5px
  background-color: $white

  .card-header
    background-color: $white-ter
    box-shadow: 0px
    border-bottom: 2px solid $grey-light

    .title
      padding: 2px 12px

  .card-content
    padding: 12px

.card__3
  border: 1px solid $white-ter
  border-radius: 5px
  background-color: $white

  .card-header
    background-color: $white-ter
    box-shadow: 0px
    border-bottom: 2px solid $grey-light

    .title
      padding: 2px 6px

  .card-content
    padding: 6px


.card__4
