.catalog-tile
  a
    display: block
    color: #2a2a2e
    transition: .3s
    &:hover
      transform: scale(1.05)


  &:not(:last-child)
    border-bottom: 1px solid $grey

  .attr
    &-name
      text-transform: uppercase
      color: $grey
    &-value
      font-weight: 900
  .price
    margin-top: 1em
    &-net
      color: $primary
      font-weight: 900
      font-size: 1.25rem
    &-gorss

  .title
    font-size: 1em
    border-bottom: 2px solid $primary
    margin-bottom: 6px

.catalog-product
  .specification
    width: 100%
    font-weight: 900

    tr
      border-bottom: 1px solid $grey-light

      &:nth-child(odd)
        background-color: $grey-lighter

    td
      padding: 5px 30px
      color: $red

    th
      color: $grey
      padding: 5px 30px


  .tag
    border: 1px solid $grey-light
    border-radius: 5px
    color: $red
    font-weight: 900
    display: inline-block
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
