.et--footer
    .border
        &-yellow
            padding-bottom: 0.2em
            border-bottom: 5px solid $brand-yellow
        &-red
            padding-bottom: 0.2em
            border-bottom: 5px solid $brand-red
        &-blue
            padding-bottom: 0.2em
            border-bottom: 5px solid $brand-blue
        &-gray
            padding-bottom: 0.2em
            border-bottom: 5px solid $brand-gray


