$fields-height: 35vh


$field-width: 250px

.fields-of-work
  position: relative
  height: $fields-height
  max-width: 1000px
  margin-left: auto
  margin-right: auto
  @include mobile
    height: 65vh

  margin-bottom: 50px
  margin-top: 50px

  .field-of-work
    display: block
    border: 5px solid $primary
    background-color: rgba(97, 97, 107, 1)
    color: $primary
    text-transform: uppercase
    padding: 15px
    -moz-border-radius: 100px / 50px
    -webkit-border-radius: 100px / 50px
    border-radius: 100px / 50px
    width: $field-width
    text-align: center
    font-weight: 900
    z-index: 10
    transition: 0.3s

    &:hover
      color: rgba(97, 97, 107, 1)
      background-color: $primary
      cursor: pointer

    &.is-centered
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      font-size: 1.25em

    &.is-left-top
      position: absolute
      top: 0px
      left: 0px

    &.is-right-top
      position: absolute
      top: 0px
      @include mobile
        top: calc(1em + 30px + 30px)
      right: 0px

    &.is-left-bottom
      position: absolute
      bottom: 0px
      @include mobile
        bottom: calc(1em + 30px + 30px)
      left: 0px

    &.is-right-bottom
      position: absolute
      right: 0px
      bottom: 0px

  @include desktop
    .fields-connector
      z-index: 1
      position: absolute
      height: 5px
      background: $primary
      width: 40%

      &.is-left-top
        top: calc((1em + 30px) / 2)
        left: $field-width / 2
        transform: rotate(22deg)
        transform-origin: top left

      &.is-right-top
        top: calc((1em + 30px) / 2)
        right: $field-width / 2
        transform: rotate(-22deg)
        transform-origin: top right

      &.is-left-bottom
        bottom: calc((1em + 30px) / 2)
        right: $field-width / 2
        transform: rotate(22deg)
        transform-origin: top right

      &.is-right-bottom
        bottom: calc((1em + 30px) / 2)
        left: $field-width / 2
        transform: rotate(-22deg)
        transform-origin: top left
