.inner-text 
  &--1, &--3 
    display: flex
    justify-content: center
    margin-top: 85px
    font-size: 20px
    //color: #439a2c
    font-weight: bold
    span
      max-width: 100px

  &--3 
    margin-top: 70px

  &--2 
    display: flex
    align-items: center
    justify-content: center
    font-size: 20px
    //color: #439a2c
    font-weight: bold
    span
      max-width: 90px

.mini-gauge
  max-width: 180px
  .inner-text
    width: 100%
    height: 100%




