table.hard-box-container
  margin: -10px
  width: 100%
  border-spacing: 10px
  border-collapse: separate
  height: 100%

  .static-hard-box
    border: 1px solid #AAAAAA
    background-color: white
    border-radius: 0px

  .hard-box
    position: relative
    border: 1px solid #AAAAAA
    background-color: white
    border-radius: 0px
    padding: 2px 10px 10px 2px
    height: 3rem

    h1
      color: #AAAAAA
      position: absolute
      left: 2px
      top: 2px
      text-transform: uppercase
      font-size: $size-7

    h2
      text-align: right
      position: absolute
      right: 10px
      bottom: 2px
      font-size: $size-6
      font-weight: $weight-bold

    &.x2
      height: 5rem
      h1
        font-size: $size-6
      h2
        font-size: $size-5

    &.checkable
      &.is-active, &:hover
        transition: all .5s
        background-color: $green

        h1, h2
          color: $white


