.message-box
  position: fixed
  right: 50px
  bottom: 50px
  max-width: 50%

  z-index: 10001

  @include mobile
    width: calc(100vw - 60px)
    bottom: 25px
    max-width: none
    right: 5px


  .message
    -webkit-box-shadow: 0px 0px 5px -1px rgba(160, 160, 160, 1)
    -moz-box-shadow: 0px 0px 5px -1px rgba(160, 160, 160, 1)
    box-shadow: 0px 0px 5px -1px rgba(160, 160, 160, 1)


