

.dashboard

  .dcard
    background-color: $white
    border: 1px solid $white-bis
    border-radius: 5px

  .dtitle
    $color: $grey-dark

    text-align: center
    width: 100%
    font-size: 1.5rem
    color: $color
    position: relative

    &::after
      content: '\A'
      height: 2px
      background-color: $color
      left: 0px
      right: 0px
      bottom: 2px
      position: absolute
