+desktop
  body.has-navbar-fixed-top
    padding-top: 6rem !important

.navbar
  &.stacked
    flex-direction: column

  font-family: 'Rubik', sans-serif
  font-weight: 500

  &.is-fixed-top
    width: 100vw
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75)
    z-index: 1001

  .container
    position: static
    &.second-layer
      min-height: 0px


  div.navbar-item
    position: static

  a.navbar-item, a.navbar-link
    &:hover
      color: $brand-yellow

    &.is-active
      color: $brand-yellow


  .is-hoverable
    &:hover
       .navbar-link::before
        display: block

    .navbar-link
      position: relative

      &:not(.is-arrowless)::after
        border-color: $brand-blue

      &::before
        content: '\A'
        display: none
        position: absolute
        bottom: -10px
        left: calc(50% - 10px)
        width: 0
        height: 0
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 10px solid white
        z-index: 1002



  .navbar-dropdown
    background-color: $brand-blue
    border: 0px
    border-radius: 0px

    .container
      > *
        font-size: $size-6
        color: $white

        +desktop
          display: inline-block

      a
        +desktop
          padding: 1rem
          position: relative

          &:hover
            background-color: transparent
            color: white

            &::before
              width: 100%

          &::before
            content: '\A'
            position: absolute
            left: 0
            bottom: 0.75rem
            display: block
            height: 3px
            width: 0%
            background-color: $white
            transition: all .3s linear

          &.is-active::before
            width: 100%

.has-navbar-fixed-top
  padding-top: $navbar-height + 0.3rem



