.param
  border-collapse: separate
  border-spacing: 0 2px

  td
    border: 0px
    font-size: 0.85rem
  tr
    td:nth-child(2)
      background-color: $brand-yellow-light
      color: $black
      border-radius: 0px 5px 5px 0px
      padding: 0px 4px 0px 2px

    td:first-child
      background-color: $brand-blue-2
      color: $white
      font-weight: 900
      border-radius: 5px 0px 0px 5px
      padding: 0px 2px 0px 4px
