$border: 1px solid $grey-dark
.reference-table
  border-collapse: separate

  &-container
    overflow-x: scroll
    overflow-y: scroll

  tr:nth-child(1)
    position: sticky
    top: 0
    th
      border-top: $border

  tr
    border: none
    &:nth-child(1)
      th
        position: sticky
        top: 0px
        z-index: 100

    &:nth-child(2)
      th
        position: sticky
        top: calc(0.8rem + 8px + 4px)
        z-index: 10

    td,th
      &:last-child
        border-right: $border


      padding: 2px 5px
      font-size: 0.8rem
      border-bottom: $border
      border-left: $border

      .icon
        font-size: 1rem
      .button
        position: static


    th
      background-color: $brand-yellow
      text-align: center
      font-weight: $weight-bold

.is-height-80
  max-height: calc(85vh - 3.5rem)
