$table-layout-cell-radius: 4px !default

.table-layout
  border-spacing: 0px 2px
  border-collapse: separate
  width: 100%

  td
    display: table-cell
    vertical-align: middle
    padding: 1px 0.25rem

  .label
    text-align: left
    color: $white
    font-weight: $weight-normal
    padding-right: 0.25rem

  //cell used to separate two columns of data
  .separator
    padding-left: 5px
    padding-right: 5px

  .value
    text-align: right
    background-color: $white
    color: $black
    border-radius: $table-layout-cell-radius 0px 0px $table-layout-cell-radius

    //if value is presented without unit
    &.nounit
      border-radius: $table-layout-cell-radius



  .unit
    text-align: left
    background-color: $info
    color: $white
    border-radius: 0px $table-layout-cell-radius $table-layout-cell-radius 0px
    &.empty
      background-color: $white
      color: $black
    &.V
      background-color: $info
      color: $white
    &.A
      background-color: $link
      color: $white
    &.kWh
      background-color: $success
      color: $white
    &.kW
      background-color: $danger
      color: $white
    &.stC
      background-color: $warning
      color: $white
    &.kg
      background-color: $black
      color: $white
    &.Hz
      background-color: $link
      color: $white

