.table-card

  background-color: $white-ter
  border-radius: 5px
  padding: 5px

  table
    width: 100%
    color: $black

    tr:not(:last-child)
      border-bottom: 1px solid $grey-lighter

    td:last-child
      text-align: right



