$brand-yellow: #fcb337
$brand-yellow-light: #ffce8b
$brand-blue: #3dbce1
$brand-blue-2: #4f89c9
$brand-gray: #ededed
$brand-red: #de0e0e

$green: #439A2C
$dark: #61616b
$blue: $brand-blue
$danger: $brand-red

$primary: $brand-yellow

body
  background-color: $brand-gray
  font-family: "Lato", sans-serif

.has-background-brand-yellow
  background-color: $brand-yellow !important
.has-background-brand-gray
  background-color: $brand-gray !important
.has-background-brand-blue
  background-color: $brand-blue !important
.has-text-brand-yellow
  color: $brand-yellow !important
.has-text-brand-blue
  color: $brand-blue !important

.has-background-brand-blue-2
  background-color: $brand-blue-2 !important
