$body-bg-color: #ff0

body
	background-color: $white
	overflow: hidden


.page-wrapper-container
	overflow-x: scroll

.page-wrapper
	padding: 3rem 1rem 1rem 1rem
	overflow-x: auto

	@include mobile
		padding: 5px

.is-maxwidth-250
	width: 250px
	max-width: 250px

.has-background-image
	position: relative

	.background-image
		position: absolute
		height: 100%
		width: 100%
		object-fit: cover
		display: block

	&-static
		height: 100vh
		width: 100vw
		overflow: hidden

.std-image
	background-repeat: no-repeat
	background-size: cover
	height: 250px
	background-position: center

	&-container
		position: relative
		display: block

		&.has-border
			border: 1px solid $grey

	&-grayscale
		filter: grayscale(100%)
		-webkit-filter: grayscale(100%)
		transition: .3s

		&.color-hover:hover
			filter: none

	&-title
		position: absolute
		left: 0%
		bottom: 0%
		display: block
		padding: 10px
		width: 100%
		background-color: #61616b
		opacity: 0.8

		.title, .subtitle
			color: $brand-yellow


.parallax-image
	background-attachment: fixed
	background-position: bottom
	background-repeat: no-repeat
	background-size: cover
	height: 100vh

	&.is-height-30
		height: 30vh

	&-container
		position: relative

	&-title
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		display: block
		padding: 30px
		background-color: #61616b
		opacity: 0.9

		@include mobile
			width: 100%

		.title, .subtitle
			color: $brand-yellow

	&-grayscale
		filter: grayscale(100%)
		-webkit-filter: grayscale(100%)


.position-20-30
	@include desktop
		left: 30%
	top: 20%

.position-right
	@include desktop
		opacity: 0.95


.absolute-centered
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, 50%)
	display: block


.title-container
	position: relative
	padding: 15px
	margin-bottom: 3em

	&.has-bars
		&::before
			content: '\A'
			display: block
			position: absolute
			height: 5px
			background-color: $primary
			top: 0px
			left: 0px
			right: 40%

		&::after
			content: '\A'
			display: block
			position: absolute
			height: 5px
			background-color: $primary
			bottom: 5px
			left: 40%
			right: 0px

.has-bar-left
	border-left: 2px solid $primary
	padding-left: 10px
.has-bar-top
	border-top: 2px solid $primary
	padding-top: 10px
.has-bar-right
	border-right: 2px solid $primary
	padding-right: 10px
.has-bar-bottom
	border-bottom: 2px solid $primary
	padding-bottom: 10px


@include desktop
	.moved-50p-left-mobile
		margin-left: -50%
		z-index: 10
		position: relative

		&-content
			padding: 10px
			background-color: $grey-light
			position: absolute
			top: 50%
			right: 50%
			transform: translate(50%, -50%)
			width: 80%

.box-gray
	//background-color: rgba(97, 97, 107, .7)
	background-color: #EEE
	padding: 15px

.thumb
	height: 75px
	border: 1px solid #000
	margin: 10px 5px 0 0


@include mobile
	.section
		padding-left: 10px
		padding-right: 10px

.overflow-hidden
	overflow: hidden
.absolute-fill-parent
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
