@include mobile
	.title
		font-size: $size-4

.title-2
	color: $brand-blue
	font-weight: $strong-weight
	font-size: 5em
	padding: 0px 

.title-3
	color: $black
	font-weight: $strong-weight
	width: 100%
	padding-left: 60px

	@include desktop
		font-size: $size-5

.title-4
	color: $white
	font-weight: $strong-weight
	font-size: $size-4
	padding: 0px 

.subtitle-4
	color: $white
	font-size: $size-5
	text-align: justify
	line-height: 1.2em


.subtitle-1
	color: $black
	font-weight: $strong-weight
	width: 100%
	font-size: $size-5 