<%if(categories && categories.length > 0) {%>
<article class="block">
    <h2 class="title is-4">Kategorie</h2>
    <div class="columns is-multiline ">
        <%for(let i in categories){%>
            <div class="column is-3">
                <a href="<%=categories[i].path || categories[i]%>" class="std-image-container has-border">
                    <% if(categories[i].images.length > 0){%>
                        <div style="background-image: url('/file/<%=categories[i].images[0].name%>')" class="std-image std-image-grayscale color-hover"></div>
                    <%} else {%>
                        <div style="background-image: url('/noimage.png')" class="std-image std-image-grayscale color-hover"></div>
                    <%}%>

                    <div class="std-image-title">
                        <h1 class="title is-5"><%=categories[i].name%></h1>
                    </div>
                </a>
            </div>
        <%}%>
    </div>

</article>
<%}%>
<article class="block">
    <h1 class="title is-6">Produkty</h1>

    <%for(let i in products){%>

    <div class="catalog-tile block">

        <a href="<%=products[i].path%>">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
                <div class="tile is-child">
                    <figure class="figure" style="max-width: 100px">
                        <% if(products[i].images.length > 0){%>
                            <img src="/file/<%=products[i].images[0].name%>" alt="<%=products[i].images[0].alt%>">
                        <%} else {%>
                            <img src="/noimage.png" alt="zdjęcie przedstawiające produkt">
                        <%}%>
                    </figure>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child catalog--tile">
                    <span class="title"><%=products[i].description%></span><br>
                    <span class="attr-name">Producent:</span>
                    <strong><%=products[i].manufacturer.name%></strong>

                    <span class="attr-name">Model:</span>
                    <span class="attr-value">
                        <%=products[i].model%>
                        <%if(products[i].model_2) {%> <%=products[i].model_2%> <%}%>
                    </span>

                    <%for(let j in products[i].attributes){%>
                    <span class="attr-name"><%=products[i].attributes[j].name%>:</span>&nbsp;<span class="attr-value"><%=products[i].attributes[j].value%></span>
                    <%}%>
                    <br>
                    <div class="price">
                        <%if(products[i].price){%>

                            <div class="price-net"> <%=products[i].price%> zł netto</div>
                            <div class="price-gorss"><%=(parseFloat(products[i].price)*1.23).toFixed(2)%> zł brutto (23% vat).</div>

                            <%if(products[i].available){%>
                                <span class="important-green">Produkt dostępny</span>
                            <%}else{%>
                                <span>Produkt niedostępny</span>
                            <%}%>

                        <%}else{%>
                            <span>Produkt niedostępny</span>
                    <%}%>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>

    <%}%>

    <%if(!products || products.length == 0) {%>
        Brak dostępnych produktów w wybranej kategorii
    <%}%>
</article>

