
<header class="title-container has-bars">
    <h1 class="title is-2 has-text-centered"><%-text %></h1>
</header>

<%if (tableOfContentsEnable){%>
<div class="block">
    <h2 class="title is-3">Spis treści</h2>
    <ul>
        <%for(let i in fragments){%>
            <li>
                <a href="#<%=fragments[i].key%>">
                    <%-fragments[i].FM_PAGEFRAGMENT.name%>
                </a>
            </li>
        <%}%>
    </ul>
</div>
<hr>
<%}%>

<%for(let i in fragments){%>
    <section class="block content">
        <h3 id="<%=fragments[i].key%>"><%-fragments[i].FM_PAGEFRAGMENT.name%></h3>
        <%-fragments[i].content%>
    </section>
    <hr>
<%}%>

