<div class="catalog-product">
    <div class="content">
        <h1><%= product.description%></h1>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-4">
            <div class="tile is-child">
                <figure class="figure" >
                    <img src="/noimage.png" alt="zdjęcie przedstawiające produkt">
                </figure>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <table class="specification">
                    <%for(let attr of product.attributes){%>
                    <tr>
                        <th><%=attr.name%></th>
                        <td><%=attr.value%></td>
                    </tr>
                    <%}%>
                    <tr>
                        <th>Producent</th>
                        <td><%=product.manufacturer.name%></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
    <p>
        Cena: <%= product.price%> zł netto <br>
        Dostępność: <%= product.available%> szt.
    </p>
    </div>
    <div class="block">

    <div class="field is-grouped is-grouped-multiline">
        <%for(let tag of product.tags){%>
        <div class="control">
            <div class="tags has-addons">
                <a class="tag"><%=tag.name%></a>
            </div>
        </div>
        <%}%>
    </div>

    </div>
    <div class="content">
        <%for(let fragment of product.fragments){%>
            <h3><%= fragment.PM_PRODUCTFRAGMENT.name%></h3>
            <%- fragment.content%>
        <%}%>
    </div>
</div>
