<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>

    <div class="parallax-image-container " >
        <div style="background-image: url('/scada.jpg')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Automatyka</h1>
        </div>
    </div>


    <div class="container" id="automatyka">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Czym jest automatyka?</h2>
                <h2 class="subtitle has-text-centered">Krótkie wprowadzenie...</h2>
            </header>
            <div class="content">
                <p>
                    Zgodnie z definicją z wikipedii <strong>automatyka</strong> to dziedzina techniki i nauki zajmująca się zagadnieniami sterowania różnorodnymi procesami,
                    głównie technologicznymi i przemysłowymi (zwykle bez udziału lub z ograniczonym udziałem człowieka).
                </p>

            </div>
        </section>
    </div>


    <div class="container" id="oferta">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Oferta</h2>
            </header>
            <div class="tile is-ancestor is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/scada.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Control Maestro (Scada)</h1>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    Control maestro jest popularnym środowiskiem programistycznym do tworzenia systemów nadrzędnych.
                                </p>
                            </div>
                            <div class="has-text-centered">
                                <figure class="image" style="max-width: 200px; margin: auto">
                                    <img src="/certyfikatControlMaestroMin.png">
                                </figure>
                            </div>
                            <div class="content">
                                <p>
                                    Od czerwca 2021 roku jesteśmy certyfikowanym wykonawcą aplikacji ControlMaestro.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/szafaSterownicza.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Automatyka</h1>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    Control maestro jest popularnym środowiskiem programistycznym do tworzenia systemów nadrzędnych.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/wykresyMin.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Telemetria</h1>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    Potrzebujesz pomiar na żywo wraz z prezentacją i dostępem z każdego miejsca na świecie? Możemy zintegrować
                                    dowolny pomiar korzystając z mikrokomputera RaspberryPi oraz autorskiego sysytemu telemetrii.
                                </p>
                                <p>
                                    Zainteresowany? Sprawdź możliwości systemu na przykładzie instalacji fotowoltaicznych:
                                    <a href="http://panel.elmecotechnologie.pl/user#/login?email=gosc@elmecosolar.pl&pass=123">panel.elmecotechnologie.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tile is-parent">
                        <div class="tile is-child">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="parallax-image" style="background-image: url('/mapgray.jpg'); height: auto">
        <div class="container" >
            <section class="section columns">
                <div class="column">
                    <%= require('html-loader!./footer/mailer.html') %>
                </div>
                <div class="column">
                    <%= require('html-loader!./partials/blogArticle.html') %>
                </div>
            </section>
        </div>
    </div>


    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
