<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>


    <div class="parallax-image-container">
        <div style="background-image: url('/mailer.png')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Kontakt</h1>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title has-text-centered">Skontaktuj się z nami</h2>
                <h2 class="subtitle has-text-centered">Skorzystaj z formularza...</h2>
            </header>
            <div class="container">
                <div class="tile is-ancestor ">
                    <div class="tile is-4 has-background-grey-lighter">
                        <div class="tile is-parent">
                            <div class="tile is-child tile-content">
                                <strong>Elmeco technologie Sp. z o.o.</strong>
                                <ul>
                                    <li><span class="important">ul. Jedności Narodowej 79/14</span></li>
                                    <li><span class="important">50-262 Wrocław</span></li>
                                    <li>tel. <span class="important">+48 501 263 866</span></li>
                                    <li>Czynne od poniedziałku do soboty<br>w godzinach 7:00 - 21:00</li>
                                    <li><strong class="important">www.elmecotechnologie.pl</strong></li>
                                </ul>

                                <hr class="has-background-grey-light">

                                <strong class="important">Sprzedaż i doradztwo techniczne - Jerzy Parczyk</strong>
                                <ul>
                                    <li>tel. <strong class="important">+48 501 263 866</strong></li>
                                    <li>biuro@elmecosolar.pl</li>
                                </ul>
                                <br>



                                <hr class="has-background-grey-light">

                                <ul>
                                    <li>NIP: <strong>967&nbsp;135&nbsp;46&nbsp;52</strong></li>
                                    <li>REGON: <strong class="important">341&nbsp;286&nbsp;593&nbsp;000&nbsp;00</strong></li>
                                    <li>Numer KRS: <strong class="important">000&nbsp;042&nbsp;25&nbsp;89</strong></li>
                                </ul>

                                <hr class="has-background-grey-light">

                                Konto bankowe: <strong>Bank Credit Agricole</strong>
                                <strong>71&nbsp;1940&nbsp;1076&nbsp;3222&nbsp;3486&nbsp;0000&nbsp;0000</strong>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-4">
                        <div id="map" style="width: 100%; min-height: 350px"></div>
                    </div>
                    <div class="tile is-4 is-parent has-background-grey-lighter">
                        <div class="tile is-child">
                            <%= require('html-loader!./footer/mailer.html') %>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>


    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

    <script>
        function myMap() {

            var uluru = {lat:51.120999941009536, lng:17.041825712086016};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACUxE0d-0NhQ-Ea4Z1V0YYz7Y4qr7Boxs&callback=myMap"></script>

</body>
</html>
