<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <script src="/html5-qrcode.min.js"></script>
</head>
<body>
    <main id="app"></main>

</body>
</html>
