<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>

    <div class="parallax-image-container" >
        <div style="background-image: url('/elektryka.png')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Usługi elektryczne</h1>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Oferta</h2>
            </header>

            <div class="tile is-ancestor is-vertical">
                <div class="tile" id="elektrykaDlaDomu">
                    <div class="tile is-parent is-4 content">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/elektrykaDlaDomu.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Elektryka dla domu</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child content">
                            <p>Budujesz dom lub remontujesz mieszkanie i potrzebujesz instalacji elektrycznej ale wciąż nie masz wykonawcy? Nic nie szkodzi firma
                            Elmeco technologie podejmie się projektu oraz wykonania każdej instalacji elektrczynej we Wrocławiu lub okolicach.
                                Szybka realizacja oraz przystępna cena.</p>
                            <strong>Zapewniamy:</strong>
                            <ul>
                                <li>projekt instalaji elektrycznej,</li>
                                <li>szybki montaż,</li>
                                <li>fachowe wykonanie,</li>
                                <li>serwis gwarancyjny oraz pogwarancyjny.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tile" id="elektrykaDlaFirm">

                    <div class="tile is-parent is-4">
                        <div class="is-child">
                            Potrzebujesz wykonania nietypowej pracy? Skontaktuj się z nami! <br>
                            Zobacz również naszą ofertę w zakładce <a href="/automatyka"> Automatyka </a>
                        </div>
                    </div>
                    <div class="tile is-parent is-4 content">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/szafaSterownicza.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Elektryka dla firmy</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tile is-parent is-4">
                        <div class="is-child content">
                            <p>Prace elektromenterskie dla firm</p>
                            <ul>
                                <li>prowadzenie tras kablowych,</li>
                                <li>prefabrykacja szaf sterowniczych,</li>
                                <li>podłączanie maszyn.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tile" id="pomiaryElektryczne">

                    <div class="tile is-parent is-8">
                        <div class="tile is-child content">
                            <p>Po co wykonywać pomiary? Pomiary elektryczne wykonuje się w celu sprawczenia czy instalacja w budynku
                                jest bezpieczna, w pełni sprawna i prawidłowo zamontowana oraz co najważniejsze
                                <strong> Czy nie stanowi zagorożenia dla zdrowia i życia ludzkiego</strong>. W przypadku zaniedbania
                                przeglądów i regularnych pomiarów może dojść do wypadku w wyniku pojawienia się zagrożenia. Może to skutkować
                                konsekwencjami zdrowotnymi lub prawnymi. Z tego powodu należy <strong>regularnie</strong> wykonywać
                                <strong>pomiary elektryczne</strong>
                            </p>
                                <strong>Oferujemy</strong>:
                            <ul>
                                <li>przeglądy instalacji elektrycznych,</li>
                                <li>pomiary rezystancji izolacji przewodów,</li>
                                <li>pomiary rezystancji uziemienia,</li>
                                <li>pomiary pętli zwarcia,</li>
                                <li>pomiary skuteczności zabezpieczeń różnicowo-prądych oraz nadprądowych,</li>
                                <li>pomiary instalacji fotowoltaicznych,</li>
                                <li>pomiary odbiorowe.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-parent is-4 content">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/miernikUziomu.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h3 class="title is-4">Pomiary</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div class="box-gray" style="">
        <div class="container" >
            <section class="section columns">
                <div class="column">
                    <%= require('html-loader!./footer/mailer.html') %>
                </div>
                <div class="column">
                    <%= require('html-loader!./partials/blogArticle.html') %>
                </div>
            </section>
        </div>
    </div>



    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
