<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>

    <div class="container">
        <div class="section tile is-ancestor">
            <div class="tile is-parent is-9">
                <main class="tile is-child">
                    <%= require('html-loader!./error/404.ejs') %>
                </main>
            </div>
            <aside class="tile is-parent ">
                <div class="tile is-child">
                    <%= require('html-loader!./partials/blogArticleStack.html') %>
                </div>
            </aside>
        </div>
    </div>

    <div class="box-gray" style="">
        <div class="container" >
            <section class="section columns">
                <div class="column">
                    <%= require('html-loader!./footer/mailer.html') %>
                </div>
                <div class="column">
                    <%= require('html-loader!./partials/blogArticle.html') %>
                </div>
            </section>
        </div>
    </div>


    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
