<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>




    <div class="container" id="o_instalacji">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Czym jest pompa ciepła ?</h2>
                <h2 class="subtitle has-text-centered">Kompendium wiedzy...</h2>
            </header>

            <div class="tile is-ancestor is-vertical" >
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image">
                                <img src="/pompa_ciepla.jpg" alt="Zdjecie pompy ciepła">
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child content">
                            <h1>Wstęp</h1>
                            <p>
                                Ogrzewnictwo jest stale rozwijającą się branżą. Na rynku dostępne jest wiele różnych metod
                                ogrzewania budynków. Do najbardziej popularnych należą:
                            </p>
                                <ul>
                                    <li>korzystanie z ciepła systemowego,</li>
                                    <li>kotły lub piece na paliwa stałe takie jak węgiel, brykiet, ekogroszek, pelet, drewno,</li>
                                    <li>kotły gazowe, olejowe, elektryczne.</li>
                            <li>kominki </li>
                        </ul>
                            <p>
                                Obecnie popularność zyskują również inne metody takie jak ogrzewanie pompami ciepła czy
                                klimatyzacją. Dzieje się tak z uwagi na rosnące koszty paliw kopalnych oraz malejący
                                koszt montażu, który w przypadku pomp powietrznych jest porównywalny z kosztem procedury
                                podłączenia do sieci gazowej oraz zakupu i montaży kotła gazowego.
                                <span class="vs-toggled">Dodatkową zaletą pomp ciepła jest...</span>
                                <span class="vs-toggled is-hidden">
                                    Dodatkową zaletą pomp ciepła jest ich bezobsługowość, która odróżnia je od urządzeń na paliwa stałe. Wymieniając stary
                                    kocioł węglowy na pompę ciepła nie będzie trzeba przejmować się już kupowaniem,
                                    transportowaniem, przenoszeniem, magazynowaniem i dokładaniem do kotła paliwa. Dodatkowo
                                    pompa sama zadba o utrzymanie zadanej temperatury w budynku przez cały rok, co więcej
                                    oprócz grzania w zimie pompa ciepła może dostarczyć chłód i działać jak klimatyzacja w
                                    upalne letnie dni.
                                </span>
                            </p>

                            <button class="button is-outlined is-primary vs-toggled" onclick="toggleVisibility()">Zainteresowało cię to? Czytaj więcej...</button>

                        </div>
                    </div>
                </div>
                <div class="tile vs-toggled is-hidden is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-child content">
                            <h1>Klasyfikacja</h1>
                            <p>Podstawowa klasyfikacja pomp ciepła bazuje na rodzaju dolnego źródła ciepła, czyli źródła
                                z którego pozyskujemy energię, którą wykorzystamy do ogrzania budynku.
                                Wyróżniamy pompy:
                            </p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="std-image-container">
                                    <div style="background-image: url('/elektrykaDlaDomu.png')" class="std-image std-image-grayscale color-hover">
                                    </div>
                                    <div class="std-image-title">
                                        <h1 class="title is-4">Powietrze/powietrze</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="std-image-container">
                                    <div style="background-image: url('/elektrykaDlaDomu.png')" class="std-image std-image-grayscale color-hover">
                                    </div>
                                    <div class="std-image-title">
                                        <h1 class="title is-4">Powietrze/woda</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="std-image-container">
                                    <div style="background-image: url('/elektrykaDlaDomu.png')" class="std-image std-image-grayscale color-hover">
                                    </div>
                                    <div class="std-image-title">
                                        <h1 class="title is-4">Ziemia/woda</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <div class="std-image-container">
                                    <div style="background-image: url('/elektrykaDlaDomu.png')" class="std-image std-image-grayscale color-hover">
                                    </div>
                                    <div class="std-image-title">
                                        <h1 class="title is-4">Woda/woda</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile vs-toggled is-hidden">
                    <div class="tile is-parent">
                        <div class="tile is-child content">

                            <p>Rodzaje urządzeń zostały uporządkowane według kosztu ich instalacji. Pompa powietrze/powietrze
                                to nic innego jak zwyczajna klimatyzacja, skonfigurowana w taki sposób aby mogła chłodzić.
                                Nazwa bierze się stąd, że zarówno w module źródła wysokiego jak i źródła niskiego ciepło
                                przekazywane jest z czynnika chłodniczego płynącego w pompie do powietrza. Następnym
                                rodzajem jest pompa powietrze/woda. Podobnie jak klimatyzacja w przypadku źródła niskiego
                                czynnik wymienia energię cieplną z powietrzem, natomiast energia w źródle wysokim jest
                                przekazywana do wody lub roztworu glikolu, który płynie w instalacji grzewczej budynku
                                zasilając podłogówkę, grzejniki lub klimakonwektory.
                            </p>
                            <p>
                                Ponieważ możliwość wymiany energii z otoczeniem jest silnie uzależniona od temperatury
                                ośrodka niskiego współpraca z powietrzem jest utrudniona, a przy niższych temperaturach
                                spada sprawność energetyczna. Z uwagi na tę niekorzystną cechę pomp ciepła typu
                                powietrze/woda czasami wykorzystuje się pompy typu ziemia/woda. W przypadku takich pomp
                                wykonuje się odwierty pionowe lub poziome, w których umieszcza się wymienniki wodne.
                                Wówczas korzysta się z temperatury ziemi, która poniżej punktu zamarzania utrzymuje się
                                na stałym poziomie przez cały rok. Niestety z uwagi na dużo większy nakład pracy
                                potrzebny do wykonania odwiertu lub podniesienia ziemi pompy tego typu są dużo droższe
                                od pomp powietrze/woda. Więcej informacji na temat różnych rodzajów pomp
                                ciepła znajdziesz w innym artykule.

                            </p>

                            <h1>Pompa ciepła powietrze/woda</h1>

                            <p>
                                Konwencjonalny układ powietrznej pompy ciepła składa się z kilku urządzeń (sprężarka,
                                wymienniki, pompa obiegowa, zawory trójdrożne, układ sterowania, falownik (w przypadku
                                pomp inwerterowych)), które mogą być zamknięte w ramach jednego urządzenia i
                                umiejscowione na zewnątrz budynku - wtedy pompę nazywamy monoblok. Jeżeli pompa składa
                                się z  dwóch urządzeń - modułu wewnętrznego i zewnętrznego nazywamy ją split. Moduł
                                wewnętrzny często bywa nazywanym modułem hydraulicznym, ponieważ można w nim umieścić
                                elementy sterujące przepływem wody w instalacji grzewczej takie jak zawory i pompy.
                                Oba rozwiązania mają zarówno wady jak i zalety.
                            </p>

                            <table>
                                <tr>
                                    <td></td>
                                    <th>Monoblok</th>
                                    <th>Split</th>
                                </tr>

                                <tr>
                                    <th rowspan="3">Zalety</th>
                                    <td>Układ sterowania i układ termodynamiczny znajdują się w jednej obudowie - mniej prac instalatorskich podczas montażu</td>
                                    <td>Hydraulika sterująca oraz pompy obiegowe znajdują się w jednostce hydraulicznej. Co sprawia, że instalacja wewnętrzna jest bardziej schludna</td>
                                </tr>
                                <tr>
                                    <td>Urządzenie hermetyczne, co zmniejsza prawdopodobieństwo ulotnienia się czynnika chłodniczego do atmosfery</td>
                                    <td>Split zapewnia większą elastyczność montażu. Moduł zewnętrzny można zainstalować nawet w odległości 30m od jednostki wewnętrznej</td>

                                </tr>
                                <tr>
                                    <td>Brak potrzeby doładowywania czynnika chłodniczego</td>
                                    <td>W przypadku awarii zasilania w zimie (przy ujemnych temperaturach) nie ma ryzyka zamarznięcia wody i uszkodzenia modułu zewnętrznego</td>
                                </tr>
                                <tr>
                                    <th rowspan="2">Wady</th>
                                    <td>Elementy układu sterowania takie jak zawory czy pompy zainstalowane są poza jednostką i wiszą na rurach - co zwiększa ilość prac instalatorskich</td>
                                    <td>Montaż wymaga uprawnień f-gazowych oraz specjalistycznych narzędzi do obsługi czynnika chłodniczego</td>
                                </tr>
                                <tr>
                                    <td>Problem zamarzającej wody przy awarii zasilania w zimie.</td>
                                    <td></td>
                                </tr>
                                <tr></tr>
                            </table>

                            <p>
                                Jeśli zainteresował cię ten artykuł zachęcamy do dalszego zagłębienia się w tematykę i
                                przeczytanie innych artykułów dotyczących pomp ciepła na naszej stronie
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <div class="container" id="finansowanie">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Finansowanie</h2>
            </header>
            <div class="tile is-ancestor is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <p>
                                Zdajemy sobie sprawę, że zakup i montaż pompy ciepła to nie jest mały wydatek,
                                niejednokrotnie znalezienie funduszy wiąże się z pożyczką. Dlatego aby wyjść na przeciw oczekiwaniom
                                klientów oferujemy swoją bezpłatną pomoc w złożeniu wniosku o dofinansowanie w ramach programu
                                <strong>Czyste powietrze</strong>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="container" id="oferta">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Nasza oferta</h2>
            </header>
            <div class="tile is-ancestor is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <p>
                                W ramach naszej działalności oferujemy pompy ciepła typu monoblok i split o wysokich współczynnikach efektywności.
                                A także usługi serwisu gwarancyjnego oraz pogwarancyjnego. Mając uprawnienia f-gazowe,
                                jesteśmy certyfikowanym serwisantem wszelkich urządzeń chłodniczych.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/pompa-ciepla-zewn.jpg')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Monoblok</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/elektrykaDlaDomu.png')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Split</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="std-image-container">
                                <div style="background-image: url('/pompa-ciepla-serwis.jpg')" class="std-image std-image-grayscale color-hover">
                                </div>
                                <div class="std-image-title">
                                    <h1 class="title is-4">Serwis</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="container" id="certyfikaty">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Nasze certyfikaty</h2>
            </header>
            <div class="tile is-ancestor is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img src="/certyfikatFGazJP.jpg">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img src="/certyfikatFGazJPUDT.jpg">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img src="/certyfikatFGazPP.jpg">
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img src="/certyfikatFGazPPUDT.jpg">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div class="container" id="Nasi_partnerzy">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Współpracujemy z...</h2>
            </header>
            <div class="tile is-ancestor is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img style="filter: opacity(0.4) drop-shadow(0 0 0 black)" src="/logo_biale_netsu_pompy_ciepla.png">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img src="/logo-atlantic-group-polska-new.svg">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="has-text-centered">
                                <figure class="image" style="margin: auto">
                                    <img src="/soltec.jpg">
                                </figure>
                            </div>
                        </div>
                    </div> <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>



    <div class="box-gray" style="">
        <div class="container" >
            <section class="section columns">
                <div class="column">
                    <%= require('html-loader!./footer/mailer.html') %>
                </div>
                <div class="column">
                    <%= require('html-loader!./partials/blogArticle.html') %>
                </div>
            </section>
        </div>
    </div>


    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

    <script>
        function toggleVisibility() {
            let items = document.querySelectorAll(".vs-toggled")
            items.forEach((item) => {
                item.classList.toggle("is-hidden")
            })
        }
    </script>

</body>
</html>
