<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>

    <div class="parallax-image-container" >
        <div style="background-image: url('/factoryMin.jpeg')" class="parallax-image parallax-image-grayscale ">
        </div>
        <div class="parallax-image-title position-20-30">
            <h1 class="title">Elmeco Technologie</h1>
            <h3 class="subtitle">Ponad 25 lat doświadczenia w branży elektroenergetycznej.</h3>
            <br>

            <a href="http://panel.elmecotechnologie.pl">
                <span class="icon-text has-text-primary">
                    <span class="icon">
                        <i class="fas fa-tv"></i>
                    </span>
                    <span>Panel klienta</span>
                </span>
            </a>
            <br>
            <a href="/katalog/Falowniki%20wektorowe">
                <span class="icon-text has-text-primary">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>Katalog falowników</span>
                </span>
            </a>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Nasza działalność</h2>
                <h4 class="subtitle has-text-centered">Obecnie działamy w kilku sektorach...</h4>
            </header>
            <div class="fields-of-work">
                <a href="/automatyka" class="field-of-work is-left-top">
                    Automatyka
                </a>
                <a href="/fotowoltaika" class="field-of-work is-right-top">
                    Fotowoltaika
                </a>
                <a href="powtran-polska" class="field-of-work is-right-bottom">
                    Falowniki Powtran
                </a>
                <a href="/uslugi-elektryczne" class="field-of-work is-left-bottom">
                    Usługi elektryczne
                </a>
                <a href="/" class="field-of-work is-centered">
                    Elmeco technologie
                </a>
                <div class="fields-connector is-left-top"></div>
                <div class="fields-connector is-right-top"></div>
                <div class="fields-connector is-right-bottom"></div>
                <div class="fields-connector is-left-bottom"></div>
            </div>
        </section>
    </div>


    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">O nas</h2>
                <h4 class="subtitle has-text-centered">Kilka słów o nas...</h4>
            </header>
            <div class="content">
                <p>Firma Elmeco została założona w 1993 roku. Początkowo skupiała się jedynie na realizacji inwestycji w
                    sektorze przemysłu elektroenergetycznego oraz w ciepłownictwie. W 2003 roku w związu z zapotrzebowanim nawiązaliśmy kontakt z
                    producentem falowników wektorowych i rozpoczeliśmy import oraz sprzedaż. W ten sposób narodziła się działalność Powtran-Polska.  w 2018 roku
                    pojawiliśmy się na targach InterSolar w Monachium aby w grudniu tego roku wybudować naszą pierwszą instalację fotowolaiczną.
                </p>
                <p>
                    Spółka Elmeco technologie powstała aby połączyć wszystkie nasze marki w ramach jednej wspólnej działalności.

                    działamy w branży automatyki przemysłowej i przemyśle energetycznym od ponad 25 lat. Zdobyte doświadczenia
                    pozwalają nam zadbać o zadowolenie każdego klienta zarówno pod względem zaawansowania technicznego i zaspokojenia
                    potrzeb klienta jak również pod względem ekonomicznym.
                </p>
            </div>

        </section>
        <section class="section">

        <div class="timeline is-centered">
            <header class="timeline-header">
                <span class="tag is-medium is-primary">Początek</span>
            </header>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">1993</p>
                    <p>Powstanie Elmeco</p>
                    <figure class="image is-maxwidth-250">
                        <img src="/ElmecoLOGO.jpg">
                    </figure>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2000</span>
            </header>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">2007</p>
                    <p>Rozpoczęcie importu oraz sprzedaży falowników Powtran</p>

                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">2009</p>
                    <p>Powstaje Powtran-Polska</p>
                    <figure class="image is-maxwidth-250">
                        <img src="/PowtranLOGO.jpg">
                    </figure>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2010</span>
            </header>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">czerwiec 2018</p>
                    <p>Nasza pierwsza wizyta na największych europejskich targach fotowoltaiczych</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">grudzień 2018</p>
                    <p>Pierwsza instalacja fotowoltaiczna</p>
                    <figure class="image is-maxwidth-250">
                        <img src="/LOGO.png">
                    </figure>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">czerwiec 2018</p>
                    <p>Zrzeszenie wszystich działalności w ramach Elmeco Technologie</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-marker is-icon">
                    <i class="fa fa-flag"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">Grudzień 2021</p>
                    <p>Nieustannie się rozwijamy gwarantując najwyszej jakości usługi.</p>
                </div>
            </div>
            <div class="timeline-header">
                <span class="tag is-medium is-primary">Dziś</span>
            </div>
        </div>
        </section>

    </div>

    <div class="parallax-image-container " >
        <div style="background-image: url('/panele.png')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Fotowoltaika</h1>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Referencje</h2>
            </header>
            <div class="content">

            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child std-image-container">
                        <a href="#">
                            <div style="background-image: url('/jelcz2.jpg')" class="std-image std-image-grayscale color-hover">
                            </div>
                            <div class="std-image-title">
                                <h1 class="title is-4">Jelcz</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child std-image-container">
                        <a href="#">
                            <div style="background-image: url('/tyniecMin.png')" class="std-image std-image-grayscale color-hover">
                            </div>
                            <div class="std-image-title">
                                <h1 class="title is-4">Tyniec</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child std-image-container">
                        <a href="#">
                            <div style="background-image: url('/wilkszyn.jpg')" class="std-image std-image-grayscale color-hover">
                            </div>
                            <div class="std-image-title">
                                <h1 class="title is-4">Wilkszyn</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child std-image-container">
                        <a href="#">
                            <div style="background-image: url('/prusy.png')" class="std-image std-image-grayscale color-hover">
                            </div>
                            <div class="std-image-title">
                                <h1 class="title is-4">Prusy</h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="content">
                <p>
                    Działalność w branży PV prowadzimy od 2018 roku. Od tego czasu nieustannie się rozwijamy polepszając
                    jakość realizowanych przez nas robót. Dowodem na to jest wciąż rosnąca liczba zleceń zarówno własnych
                    jak i podwykonastwa. Obecnie dysponujemy dwiema ekipami montażowymi wyposażonymi w niezbędne narzędzia,
                    samochody oraz windę dekarską.
                </p>
            </div>
        </section>
    </div>

    <div class="parallax-image-container">
        <div style="background-image: url('/spawacz.jpg')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Powtran Polska</h1>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <h2 class="title is-3">Krótko o Powtranie</h2>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child">
                        <div class="content has-bar-left has-bar-top">
                            <strong>POWTRAN Technology Co. Ltd.</strong>, od ponad 30 lat, jest obecnym na rynkach światowych, renomowanym
                            producentem urządzeń napędowych takich jak przetwornice częstotliwości, urządzenia łagodnego rozruchu SoftStart,
                            serwomotory, napędy do silników z magnesami trwałym, dławiki sieciowe i silnikowe, filtry przeciwzakłóceniowe
                            i wiele innych. Wyroby firmy <strong>POWTRAN</strong> są obecne w ponad 100 krajach na świecie, w tym od ponad 10 lat w Polsce.

                            Jako <strong>POWTRAN-Polska Sp. z o.o.</strong> obecnie <strong>Elmeco technologie Sp. z o.o.</strong> jesteśmy
                            obecni na polskim rynku, jako jedyny i wyłączny przedstawiciel <strong>POWTRAN Technology Co.</strong>, Ltd w Polsce, praktycznie
                            od samego początku obecności wyrobów firmy POWTRAN w Polsce.
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <figure class="image">
                            <img src="/PI9000_Family.jpg">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="parallax-image-container " >
        <div style="background-image: url('/scada.jpg')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Automatyka</h1>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child content">
                        <h2 class="title is-3">Automatyka przemysłowa</h2>
                        <p>Wywodząc się z branży Automatyki przemysłowej mamy bogate doświadczenie zdobyte podczas realizacji różnych
                            zleceń dla dla wielu przedsiębiorst.</p>

                        <strong>Realizujemy:</strong>
                        <ul>
                            <li>Inteligentne budynki (BMS-y),</li>
                            <li>układy sterowania,</li>
                            <li>układy pomiarowe,</li>
                            <li>automatyzacja procesów technologicznych</li>
                        </ul>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-3">Systemy SCADA</h2>
                        <div class="content">
                            <p>Jesteśmy certyfikowanym projektantem systemów nadzorczych SCADA w oprogramowaniu <strong>Control Maestro</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="parallax-image-container" >
        <div style="background-image: url('/elektryka.png')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Usługi elektryczne</h1>
        </div>
    </div>


    <div class="container">
        <section class="section content">
            Obecnie dysponujemy dwoma w pełni wyposażonymi mobilnymi ekipami elektromonterskimi. Realizujemy usługi w zakresie
            <ul>
                <li>elektromontażu,</li>
                <li>montaży szaf sterowniczych,</li>
                <li>prowadzenia tras kablowych,</li>
                <li>montażu układów zasilania zapasowego</li>
            </ul>
        </section>
        <section class="section">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-3">Projektowanie</h2>
                        <div class="content">
                        <p>Aby w przsyszłości uniknąć niechcianych problemów, błedów na etapie realizacji oraz kosztów
                            dobrze jest od razu wszytko przemyśleć i zaprojektować. Wychodząc temu na przeciw projektujemy
                            i ferujemy usłygi projektowe instalacji.</p>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-3">Montaż</h2>
                        <div class="content">
                            <p>Obecnie dysponujemy dwiema ekipami monterskimi przygotowanymi do podjęcia się dowolnego zlecenia.</p>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-3">Pomiary</h2>
                        <div class="content">
                            <p>Realizujemy pomiary instalacji elektrycznych. </p>
                                <ul>
                                    <li>Pomiary odbiorowe,</li>
                                    <li>rezystancja uziemienia,</li>
                                    <li>rezystancja izolacja,</li>
                                    <li>pomiary pętli zwarcia.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="box-gray" style="">
    <div class="container" >
        <section class="section columns">
            <div class="column">
                <%= require('html-loader!./footer/mailer.html') %>
            </div>
            <div class="column">
                <%= require('html-loader!./partials/blogArticle.html') %>
            </div>
        </section>
    </div>
    </div>


    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
