<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>


    <div class="parallax-image-container" >
        <div style="background-image: url('/factoryMin.jpeg')" class="parallax-image parallax-image-grayscale ">
        </div>
        <div class="parallax-image-title position-right">
            <h1 class="title">Elmeco Technologie</h1>
            <h3 class="subtitle">Logownaie od panelu administracyjnego</h3>
            <br>

            <form method="post" action="/userapi/login">
                <div class="field">
                    <label for="username" class="label has-text-primary">Nazwa użytkownika:</label>
                    <div class="control has-icons-left">
                        <input type="text" class="input" id="username" name="username">
                        <span class="icon is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="password" class="label has-text-primary">Hasło:</label>
                    <div class="control has-icons-left">
                        <input type="password" class="input" id="password" name="password">
                        <span class="icon is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                </div>
                <div class="buttons">

                    <input type="submit" class="button is-primary is-fullwidth" value="Zaloguj">
                </div>
            </form>
        </div>
    </div>
    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
