<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>

    <div class="parallax-image-container">
        <div style="background-image: url('/spawacz.jpg')" class="parallax-image parallax-image-grayscale is-height-30">
        </div>
        <div class="parallax-image-title">
            <h1 class="title">Falowniki Powtran</h1>
        </div>
    </div>

    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Oferta</h2>
                <h4 class="subtitle has-text-centered">Zapoznaj się z naszą ofertą...</h4>
            </header>
        </section>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <figure class="image image_2-3_bg is-3by2">
                        <img src="/whyus.png"/>
                    </figure>
                </div>
            </div>
            <div class="tile is-parent moved-50p-left-mobile">
                <div class="tile is-child">
                    <div class="tile-content moved-50p-left-mobile-content">
                        <div class=" has-bar-right has-bar-top article content">
                            <p>
                                Systematycznie rozwijana i unowocześniana oferta oraz rozwijająca się sieć dystrybucyjna,
                                pozwalają oferować <strong class="important">wysokiej jakości urządzenia</strong>, charakteryzujące
                                się wysokim zaawansowaniem technicznym oraz <strong class="important">niezawodnym działaniem
                                w długim okresie eksploatacji</strong>.

                                Tysiące sprzedanych falowników i innych urządzeń oraz zadowolenie setek klientów potwierdzają
                                wysoką jakość oferowanych urządzeń i pozwalają umacniać pozycję marki <strong class="important">POWTRAN</strong> na polskim rynku.
                            </p>
                        </div>
                        <br>
                        <div class="has-bar-left has-bar-bottom article content">
                            <strong class="important">Dostarczamy</strong>:
                            <ul>
                                <li>falowniki jednofazowe i trójfazowe w zakresie mocy 500 W do 630 kW</li>
                                <li>układy łagodnego rozruchu - SoftStart</li>
                                <li>dławiki sieciowe i silnikowe, filtry EMI, rezystory hamowania i inne akcesoria</li>
                                <li>inną aparaturę elektryczną i urządzenia AKPiA</li>
                            </ul>
                            <strong class="important">Oferujemy</strong>:
                            <ul>
                                <li>dostawę urządzeń</li>
                                <li>doradztwo w zakresie doboru, aplikowania i obsługi urządzeń</li>
                                <li>systemy automatyzacji maszyn i procesów przemysłowych i technologicznych</li>
                                <li>w ramach usług wykonujemy projekt, realizację, rozruch i serwis oferowanych systemów</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <section class="section">
            <header class="title-container has-bars">
                <h2 class="title is-2 has-text-centered">Katalog urządzeń</h2>
                <h4 class="subtitle has-text-centered">Zapraszamy do katalogu urządzeń...</h4>
            </header>
        </section>
    </div>

    <div class="box-gray" style="">
        <div class="container" >
            <section class="section columns">
                <div class="column">
                    <%= require('html-loader!./footer/mailer.html') %>
                </div>
                <div class="column">
                    <%= require('html-loader!./partials/blogArticle.html') %>
                </div>
            </section>
        </div>
    </div>



    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
