<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

    <nav class="navbar stacked is-fixed-top">
        <%= require('html-loader!./partials/loginBar.ejs') %>
        <%= require('html-loader!./navigation/mainNav.ejs') %>
    </nav>

    <div class="container">
        <div class="section tile is-ancestor">
            <div class="tile is-parent is-9">
                <main class="tile is-child" >
                    <%= require('html-loader!./partials/breadcrumb.ejs') %>
                    <%= require('html-loader!./pages/product.ejs') %>
                </main>
            </div>
            <aside class="tile is-parent ">
                <div class="tile is-child">
                    <div class="box-gray">
                        <h3 class="title is-5">Masz pytanie?</h3>
                        <h4 class="subtitle is-5"> Skontaktuj się z nami!</h4>
                        <a href="/kontakt" class="button is-outlined is-primary is-fullwidth">Kontakt</a>
                        <br>
                        <%= require('html-loader!./footer/mailer.html') %>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    
    <%= require('html-loader!./footer/indexFooter.html') %>
    <%= require('html-loader!./footer/copyright.html') %>

</body>
</html>
