<!DOCTYPE html>

<html lang="pl">
<head>
    <%= require('html-loader!./partials/head.ejs') %>
    <%= require('html-loader!./partials/headGoogle.ejs') %>
</head>
<body class="has-navbar-fixed-top">

<nav class="navbar stacked is-fixed-top">
    <%= require('html-loader!./partials/loginBar.ejs') %>
    <%= require('html-loader!./navigation/mainNav.ejs') %>
</nav>


<div class="parallax-image-container" >
    <div style="background-image: url('/panele-slider-low-qt.png')" class="parallax-image parallax-image-grayscale is-height-30">
    </div>
    <div class="parallax-image-title">
        <h1 class="title">Fotowoltaika uszyta na miarę!</h1>
    </div>
</div>



<div class="container" id="o_instalacji">
    <section class="section">
        <header class="title-container has-bars">
            <h2 class="title is-2 has-text-centered">Czym jest instalacja fotowoltaiczna?</h2>
            <h2 class="subtitle has-text-centered">Krótkie wprowadzenie do tematu...</h2>
        </header>

        <div class="tile is-ancestor is-vertical" >
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <figure class="image">
                            <img src="/collage.png" alt="Kolaż prezentujący różne instalacje">
                        </figure>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child content">
                        <h1>Wstęp</h1>
                        <p>
                            <strong>Fotowoltaika</strong> to dziedzina techniki zajmująca się przetwarzaniem energii światła (np. słonecznego) na
                            energie elektryczną (prąd elektryczny). Mechanizm fizyczny tego zjawiska wyjaśnił nie kto inny jak
                            sam twórca teorii względności - <strong>Albert Einstein</strong>, za co w 1921 roku otrzymał Nagrodę Nobla.
                            <span class="vs-toggled">Po upływie niemalże stu lat, rozwój ...</span>
                        </p>
                        <button class="button is-outlined is-primary vs-toggled" onclick="toggleVisibility()">Zainteresowało cię to? Czytaj więcej...</button>
                        <p class="vs-toggled is-hidden">
                            Po upływie niemalże stu lat, rozwój techniki, rosnące ceny prądu elektrycznego wytwarzanego metodami tradycyjnymi,
                            zmiana podejścia społeczeństw do problematyki związanej z ekologią i ochroną środowiska spowodowały wzrost
                            zainteresowania tym sposobem wytwarzania energii elektrycznej. Doprowadziło to w konsekwencji do obniżenia
                            kosztów wykonania instalacji fotowoltaicznych, czyniąc je osiągalnymi i opłacalnymi również dla przeciętnego
                            użytkownika. Obecnie wykonywane instalacje fotowoltaiczne, poza względami ekologicznymi i wizerunkowymi,
                            pozwalają również na uzyskanie zadowalających efektów ekonomicznych.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tile vs-toggled is-hidden">
                <div class="tile is-parent">
                    <div class="tile is-child content">
                        <h1>Czym jest instalacja fotowoltaiczna?</h1>
                        <p>W ogólnym zarysie instalacja fotowoltaiczna składa się z:</p>
                        <ul>
                            <li>paneli fotowoltaicznych, które oświetlone promieniami światła wytwarzają prąd elektryczny,</li>
                            <li>inwertera, który przetwarza energię elektryczną z paneli i steruje całą instalacją,</li>
                            <li>magazynu energii, który jest potrzebny, gdyż instalacja fotowoltaiczna pracuje tylko w dzień, a prąd wykorzystywany jest non stop.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tile vs-toggled is-hidden">
                <div class="tile is-parent">
                    <div class="tile is-child content">
                        <h1>Magazyn energii</h1>
                        <p>Rodzaj magazynu, w którym gromadzony będzie nadmiar energii elektrycznej wyprodukowanej
                            podczas pracy instalacji, decyduje o rodzaju i konstrukcji instalacji fotowoltaicznej.
                            Rozróżniamy trzy rodzaje instalacji (wymienione w kolejności od najtańszej do najdroższej)
                        </p>
                        <ul>
                            <li>współpracujące z siecią energetyczną (On-Grid), w których magazynem nadmiaru energii jest sieć energetyczna zasilająca nasz obiekt,</li>
                            <li>autonomiczne (Off-Grid), nie współpracujące z siecią energetyczną, w których magazynem nadmiaru energii jest zestaw akumulatorów,</li>
                            <li>
                                hybrydowe, czyli instalacje łączące zalety i wady obu wcześniej wymienionych instalacji.
                                Instalacja hybrydowa współpracujez siecią energetyczną ale posiada również swój własny magazyn energii w postaci baterii akumulatorów.
                            </li>
                        </ul>
                        <p>
                            O wyborze rodzaju instalacji decydujesz Ty, ale musisz wziąć pod uwagę zalety i wady każdej z
                            instalacji, jej koszt i oczywiście czas zwrotu inwestycji liczony jako okres, przez który
                            instalacja wyprodukuje energię elektryczną o wartości równiej lub większej niż koszt jej zbudowania.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tile vs-toggled is-hidden">
                <div class="tile is-parent">
                    <div class="tile is-child content">
                        <h1>Moc instalacji pv</h1>
                        <p>
                            Jednym z bardziej istotnych parametrów instalacji fotowoltaicznej, rzutującym na jej koszt i
                            funkcjonalność, jest jej moc. Aby ocenić, jak dużą instalację potrzebujesz wystarczy, że
                            spojrzysz na swój rachunek za prąd, z którego odczytasz, ile energii elektrycznej zużyłeś
                            przez ostatni rok. Wartość ta podana jest w MWh (megawatogodzinach). Biorąc pod uwagę szerokość
                            geograficzna, na której położona jest Polska, aby wyprodukować taką samą ilość energii w okresie
                            roku, twoja instalacja będzie musiała mieć moc odpowiadającą liczbowo twojemu rocznemu zużyciu.
                            Czyli np: jeśli zużyłeś 5 MWh energii w rok, będziesz potrzebował instalację o mocy ok. 5 kWp
                            (kilowatopików – moc instalacji podaje się jako maksymalną moc szczytową i wyraża się w kilowatopikach).
                        </p>
                        <p>
                            Ale oczywiście możesz zbudować instalację o dowolnej mocy. Za każdym razem, przy obliczaniu
                            mocy instalcji, musisz jednak pamiętać, aby wziąć pod uwagę wiele różnych czynników wpływających
                            na jej parametry, takich jak
                        </p>
                        <ul>
                            <li>zapotrzebowanie na energię elektryczną – ile energii potrzebujesz i w jakich okresach czasu,</li>
                            <li>sposób magazynowania nadmiaru energii,</li>
                            <li>
                                powierzchnię niezbędną do zabudowy paneli i sposób ich zabudowy – najłatwiej na pochyłym dachu
                                skierowanym na południe – każda inna zabudowa jest droższa i bardziej skomplikowana,
                                kąt padania słońca i długość dnia- na różnej szerokości geograficznej ta sama instalacja
                                wyprodukuje różne ilości energii – im bliżej równika tym więcej,
                            </li>
                            <li>
                                przepisy prawa,
                            </li>
                            <li>itp.</li>
                        </ul>
                        <p>
                            To wszystko, co powinieneś wiedzieć. Jeśli udało nam się Ciebie przekonać, to do dzieła,
                            razem zbudujemy twoją własna elektrownię słoneczną.
                        </p>

                        <button class="button is-outlined is-primary" onclick="toggleVisibility()">Czytaj mniej.</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container" id="finansowanie_i_doplaty">
    <section class="section">
        <header class="title-container has-bars">
            <h2 class="title is-2 has-text-centered">Finansowanie</h2>
            <h2 class="subtitle has-text-centered">Czy wiesz, że zamiast płacić za prąd możesz spłacać swoją własną instalację?</h2>
        </header>
        <div class="columns">
            <div class="column is-6">
                <section class="credit-agricole">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent is-3">
                            <div class="tile is-child">
                                <figure>
                                    <img src="/creditagricole.png" class="is-hidden-mobile">
                                    <img src="/creditagricole-h.png" class="is-hidden-tablet">
                                </figure>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child content">
                                <p>Kredyt na instalację fotowoltaiczną od Elmeco udzielony przez bank Credit Agricole jest idealnym sposobem na sfinansowanie instalacji
                                    bez angażowania własnych środków.</p>
                                <ul>
                                    <li>Kwota kredytu do 80 000 zł,</li>
                                    <li>Okres od 5 do 10 lat,</li>
                                    <li>Do 20 000 zł procedura uproszczona</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="column is-6 content">
                <h1>Dotacje</h1>
                <p>
                    Osobom fizycznym instalującym instalację fotowoltaiczną o mocy od 2 do 10 kWp na własne potrzeby
                    przysługuje możliwość ubiegania się o dotację w ramach programu "Mój prąd".
                </p>
                <h1>Ulga termomodernizacyjna</h1>
                <p>
                    Ulga termomodernizacyjna stonowi kolejny sposób skrócenia czasu zwrotu instalacji. W ramach ulgi można odliczyć
                    całość (lub część w przypadku otrzymania innej dotacji) kosztu inwestycji od dochodu. Dzięki takiemu zabiegowi w
                    rozliczeniu podatku można odtrzymać conajmiej 12% zwrotu.
                </p>
            </div>
        </div>
    </section>
</div>



<div class="container" id="procedura">
    <section class="section">
        <header class="title-container has-bars">
            <h2 class="title is-2 has-text-centered">Procedura</h2>
            <h2 class="subtitle has-text-centered">Jak w 10 prostych krokach zbudować instalacji pv...</h2>
        </header>
        <%= require('html-loader!./partials/pvMainProcedure.ejs') %>
    </section>
</div>


<div class="container" id="certyfikaty">
    <section class="section">
        <header class="title-container has-bars">
            <h2 class="title is-2 has-text-centered">Nasze certyfikaty</h2>
        </header>
        <div class="tile is-ancestor is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">
                            <figure class="image" style="margin: auto">
                                <img src="/certyfikatGrowatMin.png">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">
                            <figure class="image" style="margin: auto">
                                <img src="/certyfikatHybrydySofarMin.png">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">
                            <figure class="image" style="margin: auto">
                                <img src="/certyfikatMagazynyEnergiiMin.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">
                            <figure class="image" style="margin: auto">
                                <img src="/CertyfikatMagazynyEnergiiIIJPMin.png">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">
                            <figure class="image" style="margin: auto">
                                <img src="/CertyfikatMagazynyEnergiiIIPPMin.png">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="has-text-centered">
                            <figure class="image" style="margin: auto">
                                <img src="/soltec-autoryzowany-partner.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<div class="box-gray" style="">
    <div class="container" >
        <section class="section columns">
            <div class="column">
                <%= require('html-loader!./footer/mailer.html') %>
            </div>
            <div class="column">
                <%= require('html-loader!./partials/blogArticle.html') %>
            </div>
        </section>
    </div>
</div>


<%= require('html-loader!./footer/indexFooter.html') %>
<%= require('html-loader!./footer/copyright.html') %>

<script>
    function toggleVisibility() {
        let items = document.querySelectorAll(".vs-toggled")
        items.forEach((item) => {
            item.classList.toggle("is-hidden")
        })
    }
</script>

</body>
</html>
