<template>

</template>

<script>
    export default {
        name: "footer",
        data () {
            return {

            }
        },
        mounted () {

        },
        methods: {

        }
    }
</script>

<style>

</style>
