<template>
    <div>
        <router-view>

        </router-view>

        <page-footer></page-footer>
    </div>
</template>

<script>
    import PageFooter from "./footer.vue";
    export default {
        name: "template",
        components: {PageFooter}
    }
</script>

<style scoped>

</style>
