<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent" v-if="hideParams == false">
            <div class="tile is-child">
                <div class="box">
                    <message ref="message"></message>
                    <h1 class="title is-5"><button @click="hideParams = true">X</button>Parametry pobrania:</h1>
                    <object-input title="Nazwa" v-model="data" :config="{name: {}}"></object-input>
                    <object-input title="Notatki" v-model="data" :config="{note: {type:'longText'}}"></object-input>
                    <object-input title="Status" v-model="data" :config="{deliveryTypeId:{type: 'id', options: deliverytypeOptions}}"></object-input>
                    <object-input title="Data" v-model="data" :config="{date:{type:'date'}}"></object-input>

                    <button v-if="id == 0" class="button is-success" @click="updateData">
                        Stwórz nowe pobranie
                    </button>
                    <button v-else class="button is-success" @click="updateData">
                        Aktualizuj
                    </button>
                </div>
            </div>
        </div>
        <div class="tile is-vertical" v-if="id > 0">
            <div class="tile is-parent" >
                <div class="tile is-child">
                    <div class="box">
                        <strong>Wprowadź nowy produkt do pobrania</strong>
                        <button @click="chooseByTable = true">Tabela</button><button @click="chooseByTable = false">Lista</button>
                        <chooser-input-db v-if="chooseByTable == false" key-name="deliveryId"
                              foreign-table="PM_PRODUCT_NAME" foreign-key-name="productId"
                              @change="loadProductAvailability"
                        ></chooser-input-db>

                        <table-simple
                            class="block"
                            v-if="chooseByTable == true"
                            ref="selectTable"
                            prefix="prod"
                            table="PM_PRODUCT_PREVIEW"
                            :filters="{'date': dateNow}"
                            :set-page-size="20"
                            :constraints="[{warehouseId: $route.params.warehouseId}]"
                            @onCheckboxChanged="loadProductAvailability"

                        >
                            <template v-slot:header>
                                <tr>
                                    <th></th>
                                    <table-simple-header text="Indeks" field="shortDesc" :allow-filtering="true"></table-simple-header>
                                    <table-simple-header text="Nazwa" field="description" :allow-filtering="true"></table-simple-header>
                                    <table-simple-header text="Cena" :allow-ordering="true"></table-simple-header>
                                    <table-simple-header text="Ilość" :allow-ordering="true"></table-simple-header>
                                </tr>
                            </template>

                            <template v-slot:rows="props">
                                <template v-for="(d, index) in props.data" v-if="d">
                                    <tr>
                                        <td><input type="checkbox" v-model="props.local[index]" @click="$refs.selectTable.radioButton(index, d.productId, d.productPrice)"> </td>
                                        <td><router-link :to="'/fragments/products/' + d.productId">#{{d.productId}}</router-link> {{d.shortDesc}}</td>
                                        <td>{{d.description}}</td>
                                        <td>{{format(d.productPrice)}}</td>
                                        <td-formatted :min="0" :value="d.pCount">{{d.pCount}}</td-formatted>
                                    </tr>
                                </template>
                            </template>
                        </table-simple>
                    </div>
                    <div class="box">


                        <template v-if="productAvailable">
                            <span class="important-green" v-if="productAvailable.available && productPrice == null">Dostępne w magazynie: {{productAvailable.available}}</span>
                            <span class="important-green" v-if="productAvailable.available">Dostępne w magazynie: {{productAvailable.available}}, w cenie {{productPrice}}zł</span>
                            <span class="important-red" v-else>Brak w magazynie</span>
                        </template>

                        <div class="field">
                            <input class="input" type="number" placeholder="Podaj ilość..." v-model="count">
                            <div v-if="productAvailable && productAvailable.available > 0">
                                <span class="important-green" v-if="productAvailable && productAvailable.available-count >= 0">Pozostaje: {{productAvailable.available-count}}</span>
                                <span class="important-red" v-else>Brak wystarczającej ilości w magazynie</span>
                            </div>

                        </div>
                        <div class="buttons">
                            <button class="button is-danger" :disabled="!count" @click="pickup">Pobierz</button>
                        </div>

                        <scanner-widget
                            ref="scanner"
                            @scan="onScan"
                            @lastScanConfirmation="lastScanConfirmation"
                        ></scanner-widget>

                        <button class="button is-fullwidth is-link" @click="$refs.scanner.show()">Otwórz skaner</button>

                    </div>


                    <table-simple
                        :pagination-disable="true"
                        class="box"
                        ref="table"
                        prefix="prod"
                        table="PM_PRODUCTDELIVERY_PREVIEW"
                        :on-click-create-new="insertEmptyRow"
                        :constraints="[{deliveryId: id}]"
                    >
                        <template v-slot:header>
                            <tr>
                                <th>L.p</th>
                                <th>Id</th>
                                <th>Indeks</th>
                                <th>Cena</th>
                                <th>Ilość</th>
                                <th>Akcje</th>
                            </tr>
                        </template>

                        <template v-slot:rows="props">
                            <tr v-for="(d, index) in props.data" v-if="d">

                                <td>{{parseInt(index) +1}}</td>
                                <td><router-link :to="'/fragments/products' + '/' + d.productId">#{{d.productId}}</router-link></td>
                                <td>{{d.productName}}</td>
                                <td>{{d.productPrice}}</td>
                                <table-simple-cell table="PM_PRODUCTDELIVERY" field="productCount" :id="d.id" :value="d.productCount"
                                ></table-simple-cell>

                                <td>
                                    <div class="buttons">
                                        <remove-from-database-button table="PM_PRODUCTDELIVERY" :id="d.id"
                                                                     @click="$refs.table.init(), $refs.selectTable.init()"
                                        ></remove-from-database-button>
                                    </div>
                                </td>
                            </tr>
                        </template>

                        <template v-slot:pageFooter="props">
                            <tr>
                                <th colspan="2">
                                    Liczba produktów
                                </th>
                                <td colspan="4">{{props.data.reduce((acc, val) => {return acc - val.productCount}, 0)}}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Wartość</th>
                                <td colspan="4">{{format(props.data.reduce((acc, val) => {return acc - val.productPrice * val.productCount}, 0))}}</td>
                            </tr>
                        </template>

                    </table-simple>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import tableApi from "../../../../../plugins/tableApi";
import ObjectInput from "../../../../../assets/formInputs/objectInput.vue";
import Message from "../../../../../assets/messages/message.vue";
import TableSimple from "../../../databaseInterface/table/tableSimple.vue";
import RemoveFromDatabaseButton from "../../../../../assets/buttons/removeFromDatabaseButton.vue";
import TableSimpleCell from "../../../databaseInterface/table/tableSimpleCell.vue";
import ChooserInputDb from "../../../databaseInterface/chooserInputDb.vue";
import ScannerWidget from "../scannerWidget.vue";
import TableSimpleHeader from "../../../databaseInterface/table/tableSimpleHeader.vue";
import TdFormatted from "../../../../../assets/table/tdFormatted.vue";

export default {
    name: "warehouseViewDeliveryPreview",
    components: {
        TdFormatted,
        TableSimpleHeader,
        ScannerWidget,
        ChooserInputDb, TableSimpleCell, RemoveFromDatabaseButton, TableSimple, Message, ObjectInput},
    mixins: [tableApi],
    data: function (){
        return {
            id: this.$route.params.id,
            table: "",
            chooseByTable: true,
            hideParams:false,
            data: {
                name: "",
                note: "",
                date: new Date(),
                deliveryDirection: false,
                warehouseId: this.$route.params.warehouseId
            },
            deliverytypeOptions: [],
            productOptions: [],
            productAvailable: null,
            productPrice: null,
            count: null,
            lastScanConfirmation: {},
            dateNow:Date.now()
        }
    },
    mounted() {
        this.loadDeliveryOptions(() => {
            this.load()
        })
    },
    methods: {
        onScan: function (scanData){
            console.log(scanData)
            this.pickup({
                productCount: scanData.productCount,
                productId: scanData.productIndex,
            })
        },

        loadProductAvailability: function (id,productPrice){
            let c = [{productId: id},{warehouseId: this.$route.params.warehouseId}]
            if(productPrice)
                c.push({productPrice:productPrice})
            //this.$set(this, 'productAvailable', {productId: id, available: 0})
            //this.productAvailable =  {productId: id, available: 0}

            this.dbFindAllIds({
                table: "PM_PRODUCT_AVAILABLE",
                constraints: c
            }).then(m => {
                this.count = null

                if(m.length > 0){
                    this.$set(this, 'productAvailable', m[0])
                }else{
                    this.$set(this, 'productAvailable', {productId: id, available: 0})
                }

                if(productPrice)
                    this.$set(this, 'productPrice', productPrice)
                else
                    this.$set(this, 'productPrice', null)
            })
        },

        pickup: function ({productId, productCount},  productPrice){
            if(productId == undefined){
                productId = this.productAvailable.productId
            }
            if(productCount == undefined){
                productCount = this.count
            }
            if( productPrice == undefined){
                productPrice = this.productPrice
            }


            this.dbUpdate({
                table: 'PM_PRODUCT_AVAILABLE',
                id: 0,
                constraints: [{warehouseId: this.$route.params.warehouseId}],
                data: {
                    productId,
                    deliveryId: this.id,
                    productCount,
                    productPrice: productPrice
                }
            }).then((m) => {
                this.count = 0
                this.$refs.table.remount()
                this.$refs.selectTable.remount()
            })
        },

        loadDeliveryOptions: function (cb){
            this.dbFindAllIds({
                table: "PM_DELIVERYTYPE"
            }).then(m => {
                for(let i in m){
                    this.deliverytypeOptions.push(m[i])
                }

                this.$set(this, 'deliverytypeOptions', this.deliverytypeOptions)
                if(cb) cb()
            }).catch(()=>{})
        },
        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: 'PM_DELIVERY',
                    id: this.id
                }).then(m => {
                    this.$set(this, 'data', m)
                })
            }
        },

        insertEmptyRow: function (){
            //console.log(this.$refs.table)
            this.$refs.table.insertEmptyRow()
        },

        updateData: function (){
            this.dbUpdate({
                table: 'PM_DELIVERY',
                id: this.id,
                data: this.data
            }).then(m => {
                if(m && this.id == 0){
                    this.id = m
                }
            }).catch(()=>{})
        },
    }
}
</script>

<style scoped>

</style>
