<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent" v-if="hideParams == false">
            <div class="tile is-child">
                <div class="box">
                    <h1 class="title is-5"><button @click="hideParams = true">X</button>Parametry dostawy:</h1>
                    <object-input title="Nazwa" v-model="data" :config="{name: {}}"></object-input>
                    <object-input title="Notatki" v-model="data" :config="{note: {type:'longText'}}"></object-input>
                    <object-input title="Status" v-model="data" :config="{deliveryTypeId:{type: 'id', options: deliverytypeOptions}}"></object-input>
                    <object-input title="Data" v-model="data" :config="{date:{type:'date'}}"></object-input>

                    <button v-if="id == 0" class="button is-success" @click="updateData">
                        Stwórz nową dostawę
                    </button>
                    <button v-else class="button is-success " @click="updateData">
                        Aktualizuj
                    </button>
                </div>
            </div>
        </div>
        <div class="tile is-parent" v-if="id > 0">
            <div class="tile is-child">
                <div class="box">
                    <scanner-widget
                        ref="scanner"
                        @scan="onScan"
                        @lastScanConfirmation="lastScanConfirmation"
                    ></scanner-widget>
                    <strong>Wprowadź nowy produkt do dostawy</strong>
                    <button @click="chooseByTable = true">Tabela</button><button @click="chooseByTable = false">Lista</button>

                    <chooser-input-db v-if="chooseByTable === false" :id="id" table="PM_PRODUCTDELIVERY" key-name="deliveryId"
                                      foreign-table="PM_PRODUCT_NAME" foreign-key-name="productId"
                                      @click="$refs.table.init()"
                    ></chooser-input-db>

                    <table-simple
                        class="block"
                        v-if="chooseByTable == true"
                        ref="selectTable"
                        prefix="prod"
                        table="PM_PRODUCT"
                        :on-click-create-new="insertNew"
                        @onCheckboxChanged="(productId,_) => {this.productId = productId}"
                    >
                        <template v-slot:header>
                            <tr>
                                <th></th>
                                <table-simple-header text="Indeks" field="shortDesc" :allow-filtering="true"></table-simple-header>
                                <table-simple-header text="Opis" field="description" :allow-filtering="true"></table-simple-header>
                            </tr>
                        </template>

                        <template v-slot:rows="props">
                            <tr v-for="(d, index) in props.data" v-if="d">
                                <td><input type="checkbox" v-model="props.local[index]" @click="$refs.selectTable.radioButton(index, d.id)"> </td>
                                <td><router-link :to="'/fragments/products/' + d.id">#{{d.id}}</router-link> {{d.shortDesc}}</td>
                                <td>{{d.description}}</td>
                            </tr>
                        </template>
                    </table-simple>

                    <div class="block">
                    <button class="button is-fullwidth is-link" @click="$refs.scanner.show()">Otwórz skaner</button>
                    </div>
                </div>

                <table-simple
                    :pagination-disable="true"
                    class="box"
                    ref="table"
                    prefix="prod"
                    table="PM_PRODUCTDELIVERY_PREVIEW"
                    :constraints="[{deliveryId: id}]"
                >
                    <template v-slot:header>
                        <tr>
                            <th>L.p</th>
                            <th>Id</th>
                            <th>Indeks</th>
                            <th>Cena</th>
                            <th>Ilość</th>
                            <th>Akcje</th>
                        </tr>
                    </template>

                    <template v-slot:rows="props">
                        <tr v-for="(d, index) in props.data" v-if="d">

                            <td>{{parseInt(index) +1}}</td>
                            <td><router-link :to="'/fragments/products' + '/' + d.productId">#{{d.productId}}</router-link></td>
                            <td>{{d.productName}}</td>

                            <table-simple-cell table="PM_PRODUCTDELIVERY" field="productPrice" :id="d.id" :value="d.productPrice"
                            ></table-simple-cell>
                            <table-simple-cell table="PM_PRODUCTDELIVERY" field="productCount" :id="d.id" :value="d.productCount"
                            ></table-simple-cell>

                            <td>
                                <div class="buttons">
                                    <remove-from-database-button table="PM_PRODUCTDELIVERY" :id="d.id"
                                                                 @click="$refs.table.init(), $refs.selectTable.init()"
                                    ></remove-from-database-button>
                                </div>
                            </td>
                        </tr>
                    </template>


                    <template v-slot:pageFooter="props">
                        <tr>
                            <th colspan="2">
                                Liczba produktów
                            </th>
                            <td colspan="4">{{props.data.reduce((acc, val) => {return acc + val.productCount}, 0)}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Wartość</th>
                            <td colspan="4">{{format(props.data.reduce((acc, val) => {return acc + val.productPrice * val.productCount}, 0))}}</td>
                        </tr>
                    </template>
                </table-simple>
            </div>
        </div>
    </div>
</template>

<script>
import tableApi from "../../../../../plugins/tableApi";
import ObjectInput from "../../../../../assets/formInputs/objectInput.vue";
import Message from "../../../../../assets/messages/message.vue";
import TableSimple from "../../../databaseInterface/table/tableSimple.vue";
import RemoveFromDatabaseButton from "../../../../../assets/buttons/removeFromDatabaseButton.vue";
import TableSimpleCell from "../../../databaseInterface/table/tableSimpleCell.vue";
import ChooserInputDb from "../../../databaseInterface/chooserInputDb.vue";
import ScannerWidget from "../scannerWidget.vue"
import TdFormatted from "../../../../../assets/table/tdFormatted.vue";
import TableSimpleHeader from "../../../databaseInterface/table/tableSimpleHeader.vue";

export default {
    name: "warehouseViewDeliveryPreview",
    components: {
        TableSimpleHeader,
        TdFormatted,
        ScannerWidget,
        ChooserInputDb, TableSimpleCell, RemoveFromDatabaseButton, TableSimple, Message, ObjectInput},
    mixins: [tableApi],
    data: function (){
        return {
            id: this.$route.params.id,
            table: "",
            productId: null,
            chooseByTable: true,
            hideParams:false,
            data: {
                name: "",
                note: "",
                date: new Date(),
                deliveryDirection: true,
                warehouseId: this.$route.params.warehouseId
            },
            deliverytypeOptions: [],
            lastScanConfirmation: {},
            dateNow:Date.now()
        }
    },
    mounted() {
        this.loadDeliveryOptions(() => {
            this.load()
        })
    },
    methods: {
        insertNew: function (){
            if(this.productId != null) {
                this.dbUpdate({
                    table: "PM_PRODUCTDELIVERY",
                    id: 0, //insert new
                    data: {
                        deliveryId: this.id,
                        productId: this.productId
                    }
                }).then(m => {
                    this.$refs.table.init()
                    this.$refs.selectTable.init()
                })
            }
        },

        onScan: function(scanData){
            console.log(scanData)
        },

        loadDeliveryOptions: function (cb){
            this.dbFindAllIds({
                table: "PM_DELIVERYTYPE"
            }).then(m => {
                for(let i in m){
                    this.deliverytypeOptions.push(m[i])
                }

                this.$set(this, 'deliverytypeOptions', this.deliverytypeOptions)
                if(cb) cb()
            }).catch(()=>{})
        },


        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: 'PM_DELIVERY',
                    id: this.id
                }).then(m => {
                    this.$set(this, 'data', m)
                })
            }
        },

        updateData: function (){
            this.dbUpdate({
                table: 'PM_DELIVERY',
                id: this.id,
                data: this.data
            }).then(m => {
                if(m && this.id == 0){
                    this.id = m
                }
            }).catch(()=>{})
        },
    }
}
</script>

<style scoped>

</style>
