<template>
    <div>
        <!--<h1 class="title">Tree view {{$route.params.tree}}</h1>
        root model {{JSON.stringify(rootModel)}} <br>
        current model {{JSON.stringify(currentModel)}}-->

        <div v-if="currentModel.id">
            <h1 class="title">Właściwości</h1>
            <table-edit-fields-box
                class="block"
                :details="details"
                :table="currentModel.model"
                :key-value="currentModel.id"
                :key-name="'id'"
                :disable-edit-mode="true"
                :disabled-fields="['createdAt', 'updatedAt']"
            ></table-edit-fields-box>


            <h1 class="title">Relacje</h1>

            <div class="block" v-for="(a, index) in associations">
                <template v-if="a.associationType == 'HasMany'">
                    <h1 class="subtitle">{{a.as}} jako {{a.associationType}} klucz {{a.foreignKey}} = {{currentModel.id}}</h1>
                    <table-brief
                        :table="a.target"
                        :disabled-fields="['createdAt', 'updatedAt', a.foreignKey]"
                        :onClickRedirection="$route.path + '/' + a.target"
                        :onClickRedirectionPostfix="'?redirect=' + $route.path"
                        :constraints="[{[a.foreignKey] : currentModel.id}]"
                        :prefix="'p' + index"
                        :on-click-create-new="$route.path + '/' + a.target + '/0?constraints='+JSON.stringify([{[a.foreignKey] : currentModel.id}]) +
                            '&redirect=' + $route.path"
                        :disableEditButton="true"
                    ></table-brief>


                </template>
                <template v-else-if="a.associationType == 'BelongsToMany'">
                    <h1 class="subtitle">{{a.as}} wiele do wielu</h1>
                    <table-brief
                            :table="a.throughModel"
                            :disabled-fields="['createdAt', 'updatedAt']"
                            :onClickRedirection="$route.path + '/' + a.throughModel "
                            :constraints="[{[a.foreignKey] : currentModel.id}]"
                            :prefix="'p' + index"
                            :on-click-create-new="$route.path + '/' + a.throughModel + '/0?constraints='+JSON.stringify([{[a.foreignKey] : currentModel.id}]) +
                            '&redirect=' + $route.path"
                            :disableEditButton="true"
                    ></table-brief>
                </template>
                <template v-else>
                    Nieobslugiwana relacja {{a.associationType}} z modelem {{a.as}}
                </template>
            </div>
        </div>
        <div v-else>
            <table-brief
                :table="currentModel.model"
                :disabled-fields="['createdAt', 'updatedAt']"
                :onClickRedirection="$route.path"
                :on-click-create-new="$route.path + '/0'"
                :disableEditButton="true"
            ></table-brief>
        </div>

    </div>
</template>

<script>
    import TopMenu from "../../../assets/menus/topMenu.vue";
    import TableBrief from "../databaseInterface/table/tableBrief.vue";
    import TableEditFieldsBox from "../databaseInterface/table/tableEditFieldsBox.vue";

    export default {
        name: "treeView",
        components: {TableEditFieldsBox, TableBrief, TopMenu},
        data(){
            return {
                rootModel: {}, //id and model
                currentModel: {}, //id and model
                allModels: [],
                associations: [],
                fields: [],
                details: [],
            }
        },
        created() {
            this.$emit("setMenu", [])
            this.init()
        },
        methods: {
            init() {
                this.pathProcess()
                this.loadDetails()
            },

            pathProcess() {
                let path = this.$route.params.tree
                path = path.split('/')
                this.rootModel = {}
                this.currentModel = {}
                this.rootModel.model = path[0]
                this.rootModel.id = path[1]

                for(let i=0;i<path.length;i+=2) {
                    let obj = {}
                    obj.model = path[i]
                    obj.id = path[i + 1] //may be undefined in some cases
                    this.allModels.push(obj)
                }

                //both id and model given
                if(path.length % 2 == 0){
                    this.currentModel.model = path[path.length-2]
                    this.currentModel.id = path[path.length-1]
                }
                //only model given
                else{
                    this.currentModel.model = path[path.length-1]
                }
            },

            loadDetails(callback) {
                this.axiosPostMsg('/tablemanagement/describetable', {
                    table: this.currentModel.model
                }).then(m => {
                    let details = {
                        fields: [],
                        associations: m.associations
                    }

                    for(let key in m.fields){
                        details.fields.push({name: key, ...m.fields[key]})
                    }

                    this.$set(this, 'fields', details.fields)
                    this.$set(this, 'associations', details.associations)

                    if(callback) callback()
                })
            },

            previousMode() {
                if(this.allModels.length > 1){
                    return this.allModels[-1]
                }else{
                    return {}
                }
            }
        },

        watch: {
            $route(from, to) {
                this.init()
            }
        }
    }
</script>

<style scoped>

</style>
