<template>
    <div :class="[collapsed ? 'collapsed': '', 'wrapper']">


        <sidebar-menu :menu="menu" :collapsed="collapsed"
                      @toggle-collapse="onCollapse"
                      @item-click="onItemClick"
                      :showOneChild="true"
        >
            <span slot="toggle-icon"><i class="fas fa-arrows-alt-h"></i></span>
            <span slot="dropdown-icon"><i class="fas fa-chevron-right"></i></span>
        </sidebar-menu>
        <div v-if="!collapsed" class="is-hidden-tablet sidebar-overlay"></div>

        <router-view
                v-bind:loggedUser="loggedUser">
        </router-view>

        <section class="section has-background-dark has-text-white">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div v-if="loggedUser" class="content">
                            <strong class="has-text-white">Zalogowany jako</strong>:
                            <ul>
                                <li><strong class="has-text-white">Dane</strong>: {{loggedUser.persondata.name}} {{loggedUser.logindata.surname}}</li>
                                <li><strong class="has-text-white">Login</strong>: {{loggedUser.logindata.username}}</li>
                                <li><strong class="has-text-white">Uprawnienia</strong>: {{loggedUser.permissions.reduce((acc, val) => {return acc + val}, "")}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</template>

<script>

    import axios from 'axios'
    import MessageBox from "../../assets/messages/messageBox.vue";

    export default {
        name: "dashboard",
        components: {MessageBox},
        data() {
            return {
                loggedUser: null,
                hiddenMenu: false,
                collapsed: false,
                menu: [
                    {
                        header: true,
                        title: 'Nawigacja',
                        hiddenOnCollapse: true
                    },{
                        title: 'Strona główna',
                        onClicked: "mainPage",
                        icon: 'fas fa-home',
                    },{
                        admin: true,
                        title: 'Baza danych',
                        href: {path: '/database'},
                        icon: 'fas fa-database',
                    },{
                        admin: true,
                        title: 'Użytkownicy',
                        href: {path: '/users'},
                        icon: 'fas fa-user',
                    },{
                        admin: true,
                        title: 'Treści',
                        href: {path: '/fragments'},
                        icon: 'fas fa-puzzle-piece',
                    },{
                        admin: true,
                        title: 'Magazyn',
                        href: {path: '/warehouse'},
                        icon: 'fas fa-warehouse',
                    },{
                        admin: true,
                        title: 'Chłodnictwo',
                        href: {path: '/refrigeration'},
                        icon: 'fas fa-fan',
                    },{
                        admin: true,
                        title: 'Rachunki',
                        href: {path: '/billing'},
                        icon: 'fas fa-file',
                    },{
                        admin: true,
                        title: 'Raporty pracownicze',
                        href: {path: '/workersreports'},
                        icon: 'fas fa-user',
                    },
                    {
                        title: 'Wyloguj',
                        onClicked: "logout",
                        icon: 'fas fa-sign-out-alt',
                    }
                ],

            }
        },

        methods: {
            onCollapse: function(c) {
                this.$set(this, 'collapsed', c)
            },

            menuChanged: function () {
                //console.log("hide")
                this.$set(this, 'hiddenMenu', false)
            },

            onItemClick: function(event, item, node){
                if(item.onClicked){
                    if(this[item.onClicked] instanceof Function){
                        this[item.onClicked]()
                    }
                }
            },

            loadLoggedUser: function (callback) {
                axios.post('/usermanagement/findCurrentUserData', {}).then(m => {
                    if (m.data.error) {
                        console.error(m.data.error)

                        /*if(m.data.error == "User logged out"){
                            confirm("Zostałeś wylogowany, czy zalogować ponownie?");
                        }*/

                    } else {
                        //console.log("logged user", m.data)
                        this.loggedUser = m.data
                        this.setUser(m.data)

                        if(callback)
                            callback()
                    }
                }).catch(e => {
                    console.error(e)
                })
            },

            logout: function () {
                window.location = '/userapi/logout'
            },
            mainPage: function () {
                window.location = '/'
            },

            verify: function () {
                return new Promise((resolve, reject) => {
                    this.axiosPostMsg("/usermanagementopen/verifysession").then(() => {
                        resolve()
                    })

                    /*axios.post("").then(m => {

                    }).catch(e => {
                        window.sessionStorage.setItem("token", null)
                        this.$router.push({path: "/sessionend", query: {d: this.$router.currentRoute.path}}).catch(err => {})
                        reject()
                    })*/
                })
            },

            removeAdminMenuFields: function(menu){
                let ret = []
                for(let m of menu){
                    if(!m.admin){
                        if(m.child){
                            m.child = this.removeAdminMenuFields(m.child)
                        }
                        ret.push(m)
                    }
                }
                return ret
            },

            mountedNext : function(){
                this.loadLoggedUser(() => {
                    //hide on mobile
                    this.$set(this, 'collapsed', window.innerWidth < 768)

                    //console.log(this.guestMode)
                    if(this.checkUserPermission("guest")){
                        //remove settings
                        this.menu[2].child.shift()
                        this.menu[2].child.shift()
                        this.menu = this.removeAdminMenuFields(this.menu)

                    } else if(!this.checkUserPermission("admin")){

                        this.menu = this.removeAdminMenuFields(this.menu)
                    }

                    this.$set(this, 'menu', this.menu)
                })
            }
        },

        mounted() {
            /*let t = window.sessionStorage.getItem("token")
            if(this.$root.$data.token != null) {
                this.verify().then(() => this.mountedNext())

            }else if(t!=null){
                this.verify().then(() => {
                    this.$root.$data.token = t
                    this.mountedNext()
                })

            }else{
                this.$router.push("/login").catch(err => {})
            }*/
        },

        computed: {
            guestMode() {
                let p = this.$root.$data.permissions
                if(!p) return false

                if(p.length > 1){
                    return false
                }

                if(p.length == 1 && p[0].indexOf("guest") >= 0){
                    return true
                }

                return false
            }
        }
    }
</script>

<style scoped>

</style>
