<template>
    <div>
        <message-box ref="messageBox"></message-box>

        <message-modal
                ref="message"
                @buttonClicked="buttonClicked"
                :buttons="buttons"
        ></message-modal>
        <router-view :key="componentKey"></router-view>
    </div>
</template>

<script>
    import MessageModal from "../../assets/messages/messageModal.vue";
    import MessageBox from "../../assets/messages/messageBox.vue";

    export default {
        name: "template",
        components: {MessageBox, MessageModal},
        data() {
            return {
                token: null,
                componentKey: 1,
                buttons: [{
                    icon: "fas fa-redo",
                    name: "Zaloguj ponownie",
                    class: "is-success is-outlined",
                    onClick: this.relogin
                },{
                    icon: "fas fa-sign-out-alt",
                    name: "Wyloguj mnie",
                    class: "is-danger is-outlined",
                    onClick: this.logout
                }]
            }
        },
        mounted() {
            if(!this.isMobile()) {
                this.axiosPostMsg('/userapi/whoami', {}).then(m => {
                    this.$refs.messageBox.showInfo("Witaj ponownie", `W czym mogę ci pomóc ${m.username} ?`)
                })
            }
        },
        methods: {

            buttonClicked: function(button){
                if(button.onClick) {
                    button.onClick()
                    this.$refs.message.close()
                }
            },

            logout: function(){
                //window.location = '/userapi/logout'
                this.$router.push({path: "/sessionend", query: {d: this.$router.currentRoute.path}}).catch(err => {})
            },

            relogin: function(){
                console.log("trying to log in the user")

                let pass = window.sessionStorage.getItem('pass') || ""
                let email = window.sessionStorage.getItem('email') || ""

                this.axiosPostMsg('/usermanagementopen/login',{
                    username: email.replace(/ /g, ''),
                    password: pass,
                }).then(m => {
                    if(m.token){
                        window.sessionStorage.setItem("token", m.token)
                        console.log("user has been logged again")
                        this.componentKey++

                    }else{
                        this.logout()
                    }
                })
            },

            catch401Error: function () {
                /*let pass = window.sessionStorage.getItem('pass') || ""
                let email = window.sessionStorage.getItem('email') || ""

                this.$refs.message.showDanger("", `Sesja została wylogowana. Czy zalogować ponownie? <br> Parametry logowania: <br>` +
                    `<ul><li>Login: ${email}</li><li>Hasło: ${"*".repeat(pass.length)}</li></ul>`)*/
            }
        }
    }
</script>

<style scoped>

</style>
