<template>
    <div class="message-box">
        <article :class="classes(notification)" v-for="notification in notifications">
            <div class="message-header">
                <p>{{notification.index}}. {{ notification.title }}</p>
                <button class="delete" aria-label="delete" @click="remove(notification)"></button>
            </div>
            <div class="message-body" v-if="notification.content" v-html="notification.content">
            </div>
        </article>
    </div>
</template>

<script>
const TYPE_SUCCESS = 1
const TYPE_DANGER = 2
const TYPE_INFO = 3

export default {
    name: "messageBox",
    data() {
        return {
            notifications: [],
            index: 0,
        }
    },
    mounted() {
    },
    methods: {
        showDanger: function (title, content){
            this.addNotification(title, content, TYPE_DANGER)
        },
        showSuccess: function (title, content){
            this.addNotification(title, content, TYPE_SUCCESS)
        },
        showInfo: function (title, content){
            this.addNotification(title, content, TYPE_INFO)
        },
        addNotification: function (title, content, type){
            let self = this
            this.index ++
            let obj = {index: this.index, title, content, type}
            this.notifications.push(obj)

            if(type != TYPE_DANGER) {
                setTimeout(() => {
                    self.remove(obj)
                }, 5000)
            }
        },
        classes: function (notification){
            let classes = ['message']

            switch (notification.type){
                case TYPE_SUCCESS: classes.push('is-success'); break
                case TYPE_DANGER: classes.push('is-danger'); break
                case TYPE_INFO: classes.push('is-info'); break
            }

            return classes
        },
        remove: function (notification){
            this.notifications.splice(this.notifications.indexOf(notification),1)
        }
    },
}
</script>

<style scoped>

</style>
