<template>
    <div class="modal" v-bind:class="{ 'is-active': display }" style="z-index:1000">
        <div class="modal-background"></div>

        <!--<div class="modal-content">
            <article v-bind:class="['notification', 'is-light', type]">
                <button class="delete" aria-label="delete" v-on:click="display = false"></button>
                <span v-html="body">
                </span>
            </article>
        </div>*-->

        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{header}}</p>
                <button class="delete" aria-label="delete" v-on:click="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content" v-html="body"></div>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                    <button v-for="b in buttons" :class="['button', b.class]" v-on:click="buttonClicked(b)">
                        <span class="icon" v-if="b.icon">
                            <i :class="b.icon"></i>
                        </span>
                        <span>{{b.name}}</span>
                    </button>

                    <button class="button" v-if="!buttons || buttons.length == 0" v-on:click="close">Zamknij</button>
                </div>
            </footer>
        </div>
    </div>
</template>


<script>
    export default {
        name: "message-modal",
        props: ['buttons'],
        data() {
            return {
                display: false,
                header: "",
                body: "",
                type: ""
            }
        },
        methods: {
            buttonClicked: function(button){
                this.$emit("buttonClicked", button)
            },

            showSuccess: function(header, body){
                this.type = 'is-success'
                this.header = header
                this.body = body
                this.display = true
            },

            showInfo: function(header, body){
                this.type = 'is-info'
                this.header = header
                this.body = body
                this.display = true
            },

            showDanger: function(header, body){
                this.type = 'is-danger'
                this.header = header
                this.body = body
                this.display = true
            },

            close: function(){
                this.display = false
                this.$emit("close")
            }
        }
    }
</script>

<style scoped>

</style>
