<template>
    <div class="field has-addons">
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select v-bind:value="value"
                        v-on:input="onInput($event)">
                    <option :value="0">Nowy</option>
                    <option :value="null">Null</option>
                    <option v-for="o in options" :value="o.id">{{o.name}}</option>
                </select>
            </div>
        </div>
        <button v-if="!buttonDisabled" @click="onClick" class="button is-success">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
        </button>
    </div>
</template>

<script>
export default {
    name: "chooserInput",
    props: ['options', 'value', 'buttonDisabled'],
    methods: {
        onInput: function (event){
            this.$emit('input', event.target.value)
            this.$emit('changed', event.target.value)
        },
        onClick: function (){
            this.$emit('click')
        }
    }
}
</script>

<style scoped>

</style>
