<template>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{title}}</label>
        </div>
        <div class="field-body">
            <template v-if="isObject">
                <div class="field" v-for="v in value">
                    <simple-input
                        :type="v.type"
                        :placeholder="v.placeholder"
                        :validator="v.validator"
                        :help="v.help"
                        v-bind:value="v.value"
                        v-on:input="onInput($event)"
                    ></simple-input>
                </div>
            </template>
            <template v-else>
                <div class="field">
                    <simple-input
                        v-bind:value="value.value"
                        v-on:input="onInput($event)"
                        :type="value.type"
                        :placeholder="value.placeholder"
                        :validator="value.validator"
                        :help="value.help"
                    ></simple-input>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import SimpleInput from "./simpleInput.vue";
export default {
    name: "customInput",
    components: {SimpleInput},
    props: ['title', 'value'],
    data() {
        return {
            validatorOk: false,
            validatorError: null
        }
    },
    methods: {
        onInput: function (event){
            this.$emit("input", 100)
        },
    },
    computed: {
        isObject: function (){
            let containsObjects = true
            for(let i in this.value){
                if(typeof this.value[i] === 'object' && !Array.isArray(this.value[i]) && this.value[i] !== null){

                }else{
                    containsObjects = false
                }
            }
            return containsObjects
        }
    }

}
</script>

<style scoped>

</style>
