<template>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{title}}</label>
        </div>
        <div class="field-body">
            <div class="field" v-for="(conf, index) in config">
                <simple-input
                    ref="input"
                    :type="conf.type"
                    :placeholder="conf.placeholder"
                    :validator="conf.validator"
                    :help="conf.help"
                    v-model="value[index]"
                    :options="conf.options"
                ></simple-input>
            </div>
        </div>
    </div>
</template>

<script>
import SimpleInput from "./simpleInput.vue";
export default {
    name: "objectInput",
    components: {SimpleInput},
    props: ['title', 'value', 'config'],
    methods: {
        onInput: function (event){

        },
    },
    watch: {
        value:{
            deep: true,
            handler : function(newVal, oldVal){

            }
        },
        config:{
            deep: true,
            handler : function(newVal, oldVal){
                //console.log("update",this.title, newVal, oldVal)

            }
        },
    }
}
</script>

<style scoped>

</style>
