<template>
    <div>
        <div :class="['control', 'has-icons-right', icon ? 'has-icons-left' : '']">
            <div class="select" v-if="type == 'id'">
                <select v-bind:value="value"
                        :key="key"
                        v-on:input="onInput($event)">
                    <option :value="0">Nowy</option>
                    <option :value="null">Null</option>
                    <option v-for="o in options" :value="o.id">{{o.name}}</option>
                </select>
            </div>

            <input class="input" type="datetime-local" v-else-if="type == 'date'"
                   v-bind:value="valueText"
                   v-on:input="onDateInput($event)">


            <textarea v-else-if="type == 'longText'"
                  :class="textareaClass"
                  :type="type"
                  v-bind:value="value"
                  v-on:input="onInput($event)"
                  :placeholder="placeholder"
                  :rows="rows || 4"
            ></textarea>

            <input v-else
                  :class="inputClass"
                  :type="type"
                  v-bind:value="value"
                  v-on:input="onInput($event)"
                  :placeholder="placeholder">

            <span v-if="icon" class="icon is-small is-left">
                <i :class="icon"></i>
            </span>

            <span v-if="validator" class="icon is-small is-right">
                <i v-if="validatorOk" class="fas fa-check is-success"></i>
                <i v-if="validatorError" class="fas fa-exclamation-triangle is-danger"></i>
            </span>
        </div>
        <p v-if="validatorError" class="help is-danger">{{validatorError}}</p>
        <p v-else-if="help" class="help">{{help}}</p>
    </div>
</template>

<script>
export default {
    name: "simpleInput",
    props: ['type', 'value', 'validator', 'help', 'placeholder', 'rows', 'icon', 'options'],
    data() {
        return {
            validatorOk: false,
            validatorError: null,
            valueText: undefined,
            key:1
        }
    },
    mounted() {
        if(this.valueText == undefined) {
            this.valueText = this.toDateInputFormat(this.value)
        }
    },
    methods: {
        validate: function () {
            if(this.validator){
                let v = this.validator(this.value)
                if(!v){
                    this.validatorOk = true
                    this.validatorError = null
                }else{
                    this.validatorError = v
                    this.validatorOk = false
                }
            }else{
                this.validatorOk = true
                this.validatorError = null
            }
        },
        onDateInput: function (event){
            //console.log(event.target.value)
            //this.valueText = event.target.value
            this.$emit('input', this.fromDateInputFormat(event.target.value))
        },

        onInput: function (event){
            if(this.validator){
                let v = this.validator(event.target.value)
                if(!v){
                    this.validatorOk = true
                    this.validatorError = null
                }else{
                    this.validatorError = v
                    this.validatorOk = false
                }

                //sessionStorage.setItem("idChooser_" + this.prefix, id)
                this.$emit('input', event.target.value)

            }else{
                this.$emit('input', event.target.value)
                this.validatorOk = true
                this.validatorError = null
            }
        }
    },
    watch: {
        value: function(newVal, oldVal){

            //initialization
            if(this.valueText == undefined || this.type == 'date') {
                //console.log("value watch", newVal,)
                if(newVal instanceof Date && !isNaN(newVal))
                    this.valueText = this.toDateInputFormat(newVal)
            }
            this.key++

        },
        options: function (newVal){
            //console.log("options updated")
            console.log("options updated", newVal)
            //This line fixes issue with comboboxes. They didnt want to reload if options is set after value. So
            //This line updates value (not the content rather it fires an event) after each time when option changes.
            //this.$set(this, "value",this.value)
            //this.$forceUpdate()+

            this.key++
        }
    },
    computed: {
        inputClass: function (){
            let classes = ['input']
            if(this.validatorOk) classes.push('is-success')
            else if(this.validatorError) classes.push('is-danger')
            return classes
        },
        textareaClass: function (){
            let classes = ['textarea']
            if(this.validatorOk) classes.push('is-success')
            else if(this.validatorError) classes.push('is-danger')
            return classes
        },
        isObject: function (){
            return typeof this.value === 'object' &&
                !Array.isArray(this.value) &&
                this.value !== null
        }
    }

}
</script>

<style scoped>

</style>
