<template>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="box">
                    <message ref="message"></message>
                    <h1 class="title is-5">Parametry produktu:</h1>
                    <object-input title="Indeks" v-model="data" :config="{shortDesc: {}}"></object-input>
                    <object-input title="Opis" v-model="data" :config="{description: {type:'longText'}}"></object-input>
                    <object-input title="Producent" v-model="data" :config="{manufacturerId:{type: 'id', options: manufacturerOptions}}"></object-input>
                    <object-input title="Kategoria" v-model="data" :config="{productTypeId:{type: 'id', options: categoryOptions}}"></object-input>
                    <object-input title="Model" v-model="data" :config="{model:{}}"></object-input>
                    <object-input title="Model_2" v-model="data" :config="{model_2:{}}"></object-input>
                    <object-input title="Cena" v-model="data" :config="{price:{type:'number'}}"></object-input>
                    <object-input title="Dostepnosc" v-model="data" :config="{available:{type:'number'}}"></object-input>

                    <span v-if="id>0">
                        Ostatnia aktualizacja {{renderDate(data.updatedAt)}}
                    </span>

                    <div class="buttons">
                        <button v-if="id != 0" class="button is-success" @click="updateProductData(id)">
                            Aktualizuj bieżący (#{{id}})
                        </button>
                        <button class="button is-link" @click="updateProductData(0)">
                            Stwórz nowy produkt
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-vertical" v-if="id > 0">
            <div class="tile is-parent" >
                <div class="tile is-child">
                    <div class="box">
                        <h1 class="title is-5">Atrybuty:</h1>
                        <table-simple
                            ref="attributesTable"
                            table="PM_PRODUCTATTRIBUTE_ORDERED"
                            :constraints="[{productId: id}]"
                            :on-click-create-new="createNewAttribute"
                        >
                            <template v-slot:header>
                                <tr>
                                    <th>L.p</th>
                                    <th>yIndex</th>
                                    <th>Atrybut</th>
                                    <th>Wartość</th>
                                    <th>Akcje</th>
                                </tr>
                            </template>
                            <template v-slot:rows="props">
                                <tr v-for="(d, index) in props.data">
                                    <td>{{parseInt(index) +1}}</td>
                                    <table-simple-cell table="PM_PRODUCTATTRIBUTE" field="yIndex" :id="d.id" :value="d.yIndex"></table-simple-cell>
                                    <table-simple-cell table="PM_PRODUCTATTRIBUTE" field="name" :id="d.id" :value="d.name"></table-simple-cell>
                                    <table-simple-cell table="PM_PRODUCTATTRIBUTE" field="value" :id="d.id" :value="d.value"></table-simple-cell>
                                    <td>
                                        <div class="buttons">
                                            <remove-from-database-button table="PM_PRODUCTATTRIBUTE" :id="d.id"
                                                                         @click="$refs.attributesTable.init()"
                                            ></remove-from-database-button>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </table-simple>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="box">
                        <h1 class="title is-5">Grafika:</h1>
                        <cms-view-image-importer
                            :filename-set="data.shortDesc"
                            :alt-text-set="'Zdjęcie przestawiające ' + data.shortDesc"
                            @change="onImageLoad"
                        ></cms-view-image-importer>
                    </div>
                    <div class="box">
                        <chooser-input-db :id="id" table="PM_PRODUCTIMAGE" key-name="productId"
                                          foreign-table="PM_IMAGE" foreign-key-name="imageId"
                                          @click="$refs.imagesTable.init()"
                        ></chooser-input-db>

                        <table-simple
                            ref="imagesTable"
                            table="PM_PRODUCTIMAGE"
                            :constraints="[{productId: id}]"
                        >
                            <template v-slot:header>
                                <tr>
                                    <th>L.p</th>
                                    <th>id</th>
                                    <th>Podgląd</th>
                                    <th>Plik</th>
                                    <th>Akcje</th>
                                </tr>
                            </template>
                            <template v-slot:rows="props">
                                <tr v-for="(d, index) in props.data">
                                    <td>{{parseInt(index) +1}}</td>
                                    <td>{{d.id}}</td>
                                    <td>
                                        <figure v-if="d.image && d.image.extension" class="image is-64x64 overflow-hidden">
                                            <img :src="'/file/' + d.image.name">
                                        </figure>
                                    </td>
                                    <table-simple-cell table="PM_PRODUCTIMAGE" field="imageId" :id="d.id"
                                                       foreign-table="PM_IMAGE_NAME" :value="d.imageId"
                                    ></table-simple-cell>
                                    <td>
                                        <div class="buttons">
                                            <remove-from-database-button table="PM_PRODUCTIMAGE" :id="d.id"
                                                                         @click="$refs.imagesTable.init()"
                                            ></remove-from-database-button>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </table-simple>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import tableApi from "../../../../../plugins/tableApi";
import ObjectInput from "../../../../../assets/formInputs/objectInput.vue";
import TableSimple from "../../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../../databaseInterface/table/tableSimpleCell.vue";
import RemoveFromDatabaseButton from "../../../../../assets/buttons/removeFromDatabaseButton.vue";
import Message from "../../../../../assets/messages/message.vue";
import CmsViewImageImporter from "../cmsViewImageImporter.vue";
import SimpleInput from "../../../../../assets/formInputs/simpleInput.vue";
import CreateNewButton from "../../../../../assets/buttons/createNewButton.vue";
import ChooserInputDb from "../../../databaseInterface/chooserInputDb.vue";

export default {
    name: "cmsViewProductsPreview",
    components: {
        ChooserInputDb,
        CreateNewButton,
        SimpleInput,
        CmsViewImageImporter,
        Message, RemoveFromDatabaseButton, TableSimpleCell, TableSimple, ObjectInput},
    props: [],
    mixins: [tableApi],
    data() {
        return {
            data: {
                shortDesc: "",
                description: "",
                manufacturerId: "",
                productType: "",
                model: "",
                model_2: "",
                price: 0,
            },
            chooseImageId: 0,
            imageOptions: [],
            manufacturerOptions: [],
            categoryOptions: [],
            id: this.$route.params.id,
            table: "PM_PRODUCT"
        }
    },
    mounted() {
        this.load()
        this.loadManufacturerOptions()
        this.loadCategoryOptions()
        this.dbSetMessageRef(this.$refs.message)
    },
    methods: {
        loadManufacturerOptions: function (){
            this.dbFindAllIds({
                table: "PM_MANUFACTURER"
            }).then(m => {
                for(let i in m){
                    this.manufacturerOptions.push(m[i])
                }
            }).catch(()=>{})
        },

        loadCategoryOptions: function (){
            this.dbFindAllIds({
                table: "PM_PRODUCTTYPE"
            }).then(m => {
                for(let i in m){
                    this.categoryOptions.push(m[i])
                }
            }).catch(()=>{})
        },


        addImage: function (imageId){
            this.dbUpdate({
                table: "PM_PRODUCTIMAGE",
                id: 0,
                data: {
                    productId: this.id,
                    imageId
                }
            }).then(m => {
                this.$refs.imagesTable.init()
            }).catch(()=>{})
        },

        onImageLoad: function (imageId){
            this.addImage(imageId)
        },

        updateProductData: function (id){

            let data = Object.assign({}, this.data)
            delete data.id
            this.dbUpdate({
                table: "PM_PRODUCT",
                id: id,
                data
            }).then(m => {
                if(m && (this.id == 0 || id == 0)){
                    this.showSuccess("Sukces", "Poprawnie dodano nowy produkt")
                    this.id = m
                    this.$router.push({params: { id: m }})
                }else{
                    this.showSuccess("Sukces", "Poprawnie zmodyfikowano istniejący produkt")
                }
            }).catch(()=>{})
        },

        createNewAttribute: function (){
            this.dbUpdate({
                table: "PM_PRODUCTATTRIBUTE",
                id: 0,
                data: {
                    name: "",
                    value: "",
                    yIndex: this.$refs.attributesTable.maxOfField("yIndex") + 1 || 0,
                    productId: this.data.id
                }
            }).then(m => {
                this.$refs.attributesTable.init()
                this.showSuccess("Sukces", "Plik poprawnie dodano nowy atrybut")
            }).catch(()=>{})
        },

        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: this.table,
                    id: this.id
                }).then(m => {
                    this.$set(this, 'data', m)
                })
            }
        }
    },
    watch: {
        id: function (){
            this.load()
        },
        "$route.params.id": function (){
            this.id = this.$route.params.id
        },
    }
}
</script>

<style scoped>

</style>
