<template>
    <div>
        <table-simple
            ref="productTable"
            prefix="prod"
            table="PM_PRODUCT"
            v-on:dataChanged="dataChanged"
            :on-click-create-new="$route.path + '/0'"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Id</th>
                    <table-simple-header text="Indeks" field="shortDesc" :allow-filtering="true"></table-simple-header>
                    <table-simple-header text="Opis" field="description" :allow-filtering="true"></table-simple-header>
                    <th>Producent</th>
                    <th>Kategoria</th>
                    <th>Dostępność</th>
                    <th>Cena</th>
                    <th>Data ostatniej dostawy</th>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows>
                <tr v-for="(d, index) in data" v-if="d">
                    <td>{{parseInt(index)+1}}</td>
                    <td>{{d.id}}</td>
                    <table-simple-cell table="PM_PRODUCT" field="shortDesc"  :id="d.id" :value="d.shortDesc"></table-simple-cell>
                    <table-simple-cell table="PM_PRODUCT" field="description" :id="d.id" :value="d.description"></table-simple-cell>
                    <table-simple-cell table="PM_PRODUCT" field="manufacturerId" :id="d.id"
                                       foreign-table="PM_MANUFACTURER" :value="d.manufacturerId"
                    ></table-simple-cell>
                    <table-simple-cell table="PM_PRODUCT" field="productTypeId" :id="d.id"
                                       foreign-table="PM_PRODUCTTYPE" :value="d.productTypeId"
                    ></table-simple-cell>

                    <td>{{d.available}}</td>

                    <table-simple-cell table="PM_PRODUCT" field="price" :id="d.id" :value="d.price"></table-simple-cell>
                    <td>
                        {{renderDate(d.updatedAt)}}
                    </td>
                    <td>
                        <div class="buttons">
                            <router-link :to="$route.path + '/' + d.id" class="button is-small is-link">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </router-link>
                            <remove-from-database-button table="PM_PRODUCT" :id="d.id"
                                                         @click="$refs.productTable.init()"
                            ></remove-from-database-button>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
import tableApi from "../../../../plugins/tableApi.js";
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
import RemoveFromDatabaseButton from "../../../../assets/buttons/removeFromDatabaseButton.vue";
import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";

export default {
    name: "cmsViewProducts",
    components: {TableSimpleHeader, RemoveFromDatabaseButton, TableSimpleCell, TableSimple},
    mixins: [tableApi],
    data() {
        return {
            data: []
        }
    },
    methods: {
        dataChanged: function (data){
            this.data = data
        }
    },
}
</script>

<style scoped>

</style>
