<template>
    <div>
        <h1 class="title">Zarządzanie plikami</h1>
        <h1 class="subtitle">Fragmenty</h1>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="box">
                    <table-simple
                        prefix="img"
                        table="PM_IMAGE"
                        :constraints="[{isAutoCreated: false}]"
                        v-on:dataChanged="dataChanged"
                    >
                        <template v-slot:header>
                            <tr>
                                <th>L.p</th>
                                <th>Grafika</th>
                                <th>Nazwa</th>
                                <th>Typ</th>
                                <th>Alt. tekst</th>
                                <th>Akcje</th>
                            </tr>
                        </template>

                        <template v-slot:rows>
                            <tr v-for="(d, index) in data" v-if="d">
                                <td>{{parseInt(index)+1}}</td>
                                <td>
                                    <figure v-if="isImage(d.extension)" class="image is-64x64 overflow-hidden">
                                        <img :src="'/file/' + d.name">
                                    </figure>
                                </td>
                                <td>{{d.name}}</td>
                                <td>{{d.extension}}</td>
                                <td>{{d.alt}}</td>
                                <td>
                                    <button class="button is-small is-link">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </button>
                                    <button class="button is-small is-danger" @click="remove(d.id)">
                                    <span class="icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    </button>
                                </td>
                            </tr>
                        </template>
                    </table-simple>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <cms-view-image-importer class="box"></cms-view-image-importer>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import CmsViewImageImporter from "./cmsViewImageImporter.vue";
import Message from "../../../../assets/messages/message.vue";

export default {
    name: "cmsViewImages",
    components: {Message, CmsViewImageImporter, TableSimple},
    data() {
        return {
            data: []
        }
    },
    methods: {
        dataChanged: function (data){
            this.data = data
        },
        isImage: function (ext){
            return ['png', 'jpg', 'jpeg'].includes(ext)
        },
        remove: function (id){
            if(confirm("Czy na pewno usunąć wiersz?")) {
                this.axiosPostMsg('/tablemanagement/remove', {
                    table: "PM_IMAGE",
                    id: id
                }).then(m => {
                    this.showSuccess("", "Poprawnie usunięto")
                }).catch(e => {
                    this.showDanger("", "Nie można usunąć wiersza. Wiersz pozostaje w relacji z innym wierszem w bazie danych")
                })
            }
        }
    },

}
</script>

<style scoped>

</style>
