<template>
    <div class="">
        <message ref="message"></message>
        <div class="block">
            <label class="label">Ścieżka do pliku</label>
            <input type="file" class="input" @change="previewFiles"><br>
            <output>
                <img v-if="value" class="thumb" :src="file">
                <img v-else-if="existingFileId" class="thumb" :src="'/file/' + existingFile">
            </output>
        </div>
        <div class="field" v-if="!filenameSet">
            <label class="label">Nazwa pliku</label>
            <input type="text" class="input" v-model="filename" placeholder="Nazwa pliku...">
            <p class="help is-success" v-if="existingFileId == null">Nazwa nie została jeszcze wykorzystana.</p>
            <p class="help is-danger" v-if="existingFileId">Plik istnieje. Zapis spowoduje nadpisanie!</p>
        </div>
        <div class="field" v-if="!altTextSet">
            <label class="label">Tekst alternatywny</label>
            <input type="text" class="input" v-model="altText" placeholder="Tekst alternatywny..."><br>
        </div>
        <div class="field" v-if="value">
            <div class="buttons">
                <div v-if="!existingFileId" class="button is-success" @click="save">
                    Zapisz plik
                </div>
                <div v-else class="button is-warning" @click="save">
                    Nadpisz plik
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Message from "../../../../assets/messages/message.vue";
export default {
    name: "cmsViewImageImporter",
    components: {Message},
    props: ['filenameSet','altTextSet'],
    data() {
        return {
            value: null,
            fileHeader: "",
            filename: this.filenameSet,
            altText: this.altTextSet,
            existingFileId: 0,
            existingFile: ""
        }
    },
    methods: {
        previewFiles: function(event) {
            let self = this
            for(let file of event.target.files){
                if(!this.filenameSet) {
                    this.filename = file.name
                }

                let reader = new FileReader();

                reader.onload = (function(file) {
                    return function (e) {
                        //console.log("result", e.target.result)
                        let base = e.target.result.split(',')
                        self.$set(self, "fileHeader", base[0])
                        self.$set(self, "value", base[base.length-1])
                    }
                })(file)

                reader.readAsDataURL(file);
            }
        },
        loadImage: function (){
            this.axiosPostMsg('/tablemanagement/findAll', {
                table: "PM_IMAGE",
                constraints: [{name: this.filename}],
                attributes: ['id', 'name']
            }).then(m => {
                if(m.length > 0){
                    this.existingFileId = m[0].id
                    this.existingFile = m[0].name
                }else {
                    this.existingFileId = null
                }
            })
        },

        save: function (){
            if(!this.value) return

            let colonIndex = this.fileHeader.indexOf(':')
            let semicolonIndex = this.fileHeader.indexOf(';')
            let format = this.fileHeader.slice(colonIndex+1, semicolonIndex)

            let extension = format.slice(format.indexOf("/")+1)
            let id = this.existingFileId ? this.existingFileId : 0
            this.axiosPostMsg('/tablemanagement/updateorinsert', {
                id,
                table: "PM_IMAGE",
                data: {
                    data: this.value,
                    name: this.filename,
                    extension,
                    alt: this.altText
                }
            }).then((m) => {
                this.showSuccess("Sukces", "Plik został poprawnie załadowany")
                if(id == 0) id = m
                this.$emit("change", id)
            }).catch(e => {
                if(e.name == "SequelizeUniqueConstraintError"){
                    this.showDanger("Wystąpiło powtórzenie nazwy pliku!", "Wybierz inną nazwę lub usuń poprzednio załadowany plik.")
                }else{
                    this.showDanger("Błąd podczas wprowadzania danych!", "Upewnij się, że wszystkie pola zostały poprawnie uzupełnione.")
                }
            })
        }
    },
    watch: {
        filename: function (){
            this.loadImage()
        },
        filenameSet: function (){
            this.filename = this.filenameSet
        }
    },
    computed: {
        file: function (){
            return this.fileHeader + ',' + this.value
        }
    }
}
</script>

<style scoped>

</style>
