<template>
    <div>
        <h1 class="title">Zarządzanie zawartościa strony</h1>
        <h1 class="subtitle">Fragmenty</h1>

        <p>Ta sekcja umożliwia zarządznie zawartością stron. Proszę przejść do zakładki fragmenty aby edytować fragmenty podstron i treści zawarte w serwisie</p>


    </div>
</template>

<script>
    export default {
        name: "main",
        data(){
            return {

            }
        },
        mounted() {

        },
        methods: {}
    }
</script>

<style scoped>

</style>
