<template>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li v-for="(p,index) in path" :class="parseInt(index) == path.length-1 ? 'is-active' : ''">
                <router-link :to="p.to">{{p.name}}</router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: "Breadcrumb",
        data() {
            return {
                path: []
            }
        },

        mounted() {
            this.reload()
        },

        methods: {
            reload() {
                let path = window.location.hash
                path = path.split('/')

                this.path = []
                for(let p in path) {
                    this.path.push({
                        to: '/' + path.slice(1, parseInt(p)+1).join('/'),
                        name: path[p]
                    })
                }
            }
        },
        watch:{
            $route (to, from){
                this.reload()
            }
        }
    }
</script>

<style scoped>

</style>
