<template>
    <div class="">
        <div class="notification is-danger" v-if="!allOk">
            Proszę poprawić błędy w formularzu przed wysłaniem wiadomości.
        </div>


        <template v-for="(field, key) in fields">
            <div class="label has-text-primary">{{field.placeholder}}</div>
            <simple-input
                :ref="'fields'"
                v-model="field.value"
                :type="field.type"
                :placeholder="field.placeholder"
                :validator="field.validator"
                :icon="field.icon"
            ></simple-input>
        </template>

        <div class="notification is-success" v-if="sendSuccess">
            Dziękujemy za wysłanie wiadomości. Odpowiemy najszybciej jak to możliwe.
        </div>
        <div class="notification is-danger" v-if="sendError">
            Wystąpił nieoczekiwany błąd wysłania wiadomości, prosimy przesłać maila tradycyjnie na adres:
            <a href="mailto:biuro@elmecosolar.pl">biuro@elmecosolar.pl</a>, lub skontaktuj się telefonicznie:
            <a href="tel:501263866">501 263 866</a>.
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-primary is-fullwidth" v-on:click="send">
                    Wyślij wiadomość
                </button>
            </div>
        </div>
        <div>
            Wypełnienie formularza oznacza, że podane w nim dane osobowe
            będą przetwarzane w celu nawiązania kontaktu i przedstawienia
            oferty. Zasady przetwarzania i informacje o administratorze znajdziesz
            <a href="/zasady-przetwarzania-danych-osobowych">tutaj</a>.
        </div>
    </div>
</template>

<script>
import SimpleInput from "./formInputs/simpleInput.vue";
export default {
    name: "mailer",
    components: {SimpleInput},
    data() {
        return {
            fields: {
                name: {value:"", placeholder: "Imię", error:null, validator: this.notEmptyValidator, icon: "fas fa-user"},
                surname: {value:"", placeholder: "Nazwisko", error:null, validator: this.notEmptyValidator, icon: "fas fa-user"},
                email: {value:"", placeholder: "Twój adres email", error:null, validator: this.emailValidator, icon: "fas fa-envelope"},
                phone: {value:"", placeholder: "Twój numer telefonu", error:null, validator: this.notEmptyValidator, icon: "fas fa-phone"},
                subject: {value:"", placeholder: "Temat", error:null, validator: this.notEmptyValidator, icon: "fas fa-key"},
                message: {value:"", placeholder: "Wiadomość", type:"longText", error:null, validator: this.notEmptyValidator},
            },
            allOk: true,
            sendSuccess: false,
            sendError: false
        }
    },
    mounted() {
    },
    methods: {
        send: function (){
            if(this.validateAll()){


                let data = {
                    name: this.fields.name.value,
                    surname: this.fields.surname.value,
                    email: this.fields.email.value,
                    phone: this.fields.phone.value,
                    subject: this.fields.subject.value,
                    message: this.fields.message.value,
                    url: window.location.href,
                    time: new Date(),
                }

                this.axiosPostMsg('/mailer/sendemail',data).then(m => {
                    if(m=="OK"){
                        this.sendSuccess = true
                    }else{
                        this.sendError = true
                    }
                })

            }else{
                console.log("errors")
            }
        },
        validateAll: function (){
            this.allOk = true

            for(let component of this.$refs.fields){
                component.validate()
            }

            for(let key in this.fields){
                let field = this.fields[key]
                field.error = field.validator(field.value)
                if(field.error) this.allOk = false
            }
            return this.allOk
        },
        notEmptyValidator: function (el){
            if(el == null || el == undefined || el == ""){
                return "Podano niewłaściwą pustą wartość"
            }else{
                return false
            }
        },
        emailValidator: function (el){

            if(el == null || el == undefined || el == ""){
                return "Podano niewłaściwą pustą wartość"
            }else{
                let emailMatch = el.match(
                    /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                )

                if(emailMatch) return false
                else return  "Podany email ma nieprawidłową składnię."
            }
        }
    }
}
</script>

<style scoped>

</style>
