<template>
    <div class="camera modal is-active"  style="z-index: 1000" v-if="showScanner">
        <div class="modal-background"></div>
        <div :class="['modal-content','box', putInWarehouse ? '' : 'has-background-warning']">
            <template v-if="step == 0">
                <div class="notification is-danger" v-if="scanError">{{scanError}}</div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Kamera:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select v-model="cameraId" @change="stopScan(); scan()">
                                        <option v-for="camera in cameras" :value="camera.id">{{camera.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block camera-preview" id="reader"></div>
                <div class="field">
                    <div class="buttons">
                        <div class="button is-large is-link is-fullwidth" @click="nextStep(10)">Wpisz ręcznie</div>
                    </div>
                </div>
            </template>

            <template v-else-if="step == 10">
                <div class="block is-fullwidth ">
                    <h1 class="title is-4">Wprowadź indeks</h1>
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-large" v-model="productIndex" type="text" placeholder="Indeks produktu">
                    </div>
                    <div class="control">
                        <a class="button is-large is-info" @click="setProduct(productIndex)">
                            Wprowadź
                        </a>
                    </div>
                </div>
                <div class="field">
                    <div class="buttons">
                        <div class="button is-large is-link is-fullwidth" @click="rescan">Skanuj ponownie</div>
                    </div>
                </div>
            </template>

            <template v-else-if="step == 1">
                <div class="notification is-success">
                    Skanowanie poprawne. Produkt: <strong>{{productCode}}</strong>
                </div>
                <div class="block is-fullwidth ">
                    <h1 class="title is-4">Wprowadź ilość</h1>
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-large" v-model="productCount" type="text" placeholder="Inna ilość">
                    </div>
                    <div class="control">
                        <a class="button is-large is-info" @click="setCount(productCount)">
                            Wprowadź
                        </a>
                    </div>
                </div>

                <div class="field">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(1)">1</div>
                        </div>
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(5)">5</div>
                        </div>
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(10)">10</div>
                        </div>
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(20)">20</div>
                        </div>

                    </div>
                </div>
                <div class="field">
                    <div class="level is-mobile">
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(50)">50</div>
                        </div>
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(100)">100</div>
                        </div>
                        <div class="level-item">
                            <div class="button is-large is-fullwidth" @click="setCount(200)">200</div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="buttons">
                        <div class="button is-large is-link is-fullwidth" @click="rescan">Skanuj ponownie</div>
                    </div>
                </div>
            </template>

            <div class="field">
                <div class="buttons">

                    <div class="button is-large is-danger is-fullwidth" @click="hide">Zamknij</div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="hide"></button>
        </div>
    </div>
</template>

<script>
export default {
    //https://minhazav.medium.com/qr-code-scanner-using-html-and-javascript-3895a0c110cd
    name: "scannerWidget",
    data(){
        return {
            showScanner: false,
            step: 0,
            putInWarehouse: true,
            stepCount: 2,
            productCode: null,
            errors: [],
            notes: [],
            cameras: [],
            cameraId: null,
            html5QrCode: null,
            productCount: null,
            productIndex: null,
            scanError: null,
            cameraString: "",
            cameraIndex: 0,
            cameraCount: 0
        }
    },
    mounted() {
        this.$emit("setMenu", [])
        if(this.$route.params.showScanner){
            this.showScanner = this.$route.params.showScanner
        }
    },
    methods: {
        setDefaultState: function (){
            this.step = 0
            this.putInWarehouse = true
            this.productCode = null
            this.productCount = null
            this.productIndex = null
            this.scanError = null
        },

        emitSignal: function (){
            //if entered by textbox
            if(typeof this.productCount === 'string'){
                this.productCount = parseFloat(this.productCount)
            }

            //save in parent widget and next
            this.$emit("scan", {
                putInWarehouse: this.putInWarehouse,
                productIndex: this.productIndex,
                productCount: this.productCount
            })
        },

        nextScan: function (){
            this.emitSignal()

            //show again
            this.setDefaultState()
            this.$nextTick(() => {
                this.scan()
            })
        },

        setProduct: function (productIndex){
            this.productIndex = productIndex
            this.nextStep(1)
        },

        setCount: function (count){
            this.productCount = count
            this.nextScan()
        },

        show: function (){
            this.$set(this, "showScanner", true)
            this.initCameras()

        },
        hide: function (){
            if(this.step == 3){
                this.emitSignal()
            }

            this.$set(this, "showScanner", false)
            this.setDefaultState()

            this.stopScan()
        },

        //add new item to the wareouse
        onPutClicked: function (){
            this.putInWarehouse = true
            this.nextStep()
        },
        //get already present item from warehouse
        onGetClicked: function (){
            this.putInWarehouse = false
            this.nextStep()
        },

        nextStep: function(step){
            //console.log(step)
            if(step != undefined){
                this.$set(this, 'step', step)
            }else {
                this.step = (this.step + 1) % this.stepCount
            }

            this.$nextTick(() => {
                switch (this.step){
                    case 0: this.scan(); break;
                    case 1: this.stopScan(); break;
                    case 10: this.stopScan(); break;
                }
            })
        },

        rescan: function (){
            this.scanError = null
            this.productCount = null
            this.productIndex = null

            this.nextStep(0)
        },

        logError: function (error){
            this.errors.push(error)
            console.error(error)
        },

        log: function (note){
            this.notes.push(note)
            console.log(note)
        },

        initCameras: function (){
            let self = this
            Html5Qrcode.getCameras().then(cameras => {
                /**
                 * devices would be an array of objects of type:
                 * { id: "id", label: "label" }
                 */
                if (cameras && cameras.length) {
                    self.cameraCount = cameras.length
                    self.cameras = cameras
                    self.cameraId = cameras[0].id
                }else{
                    self.logError("No camera available")
                }

                self.scan()
            }).catch(err => {
                self.logError(err)
            })
        },

        scan: function (){
            this.stopScan()

            if(!this.cameraId){
                console.error("No camera available")
                return
            }

            let self = this
            this.html5QrCode = new Html5Qrcode("reader");
            this.html5QrCode.start(
                self.cameraId, // retreived in the previous step.
                {
                    fps: 10,    // sets the framerate to 10 frame per second
                    qrbox: 100,  // sets only 250 X 250 region of viewfinder to
                                // scannable, rest shaded.
                    //qrbox: undefined,  // Optional if you want bounded box UI, std 250, undefined disables
                    aspectRatio: 1
                },
                qrCodeMessage => {
                    // do something when code is read. For example:
                    //console.log(`QR Code detected: ${qrCodeMessage}`);
                    self.onDetected(qrCodeMessage)

                },
                errorMessage => {
                    // parse error, ideally ignore it. For example:
                    //console.log(`QR Code no longer in front of camera.`);
                })
                .catch(err => {
                    // Start failed, handle it. For example,
                    //console.log(`Unable to start scanning, error: ${err}`);
                    self.html5QrCode.stop()
                });
        },

        stopScan: function(){
            try {
                if(this.html5QrCode)
                this.html5QrCode.stop()
            }catch (e){ console.error(e)}
        },

        onDetected: function (qrCode){
            this.productCode = qrCode
            if(this.step == 0) {
                try {
                    qrCode = parseInt(qrCode)
                    if (qrCode > 0) {
                        this.productIndex = qrCode
                        this.html5QrCode.stop()
                        this.nextStep()
                        this.scanError = null
                    } else {
                        this.scanError = "Nieprawidłowy kod qr: " + qrCode
                        console.error("Incorrect qrcode")
                    }
                } catch (e) {
                    this.scanError = "Nieprawidłowy kod qr"
                    console.error("Incorrect qrcode")
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
