<template>
    <div>
        <h1 class="title">Katalog produktowy (qr)</h1>

        <table-simple
            prefix="prod"
            ref="table"
            table="PM_PRODUCT_QR"
            v-on:dataChanged="dataChanged"
            :table-classes="classes"
            :printTitle="'Katalog produktowy na dzień: ' +renderOnlyDate(new Date())"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Kod QR</th>
                    <th>Zdjęcie</th>
                    <th>Ideks</th>
                    <th>Kod</th>
                    <th>Producent</th>
                    <th>Kategoria</th>
                    <th v-if="classesSwitch != 0">Akcje</th>
                </tr>
            </template>

            <template v-slot:rows>
                <tr v-for="(d, index) in data" v-if="d">
                    <td>{{parseInt(index)+1}}</td>
                    <td>
                        <figure v-if="d.qrImage" class="image is-64x64">
                            <img :src="'/file/' + d.qrImage.name">
                        </figure>
                    </td>
                    <td>
                        <figure v-if="d.images.length > 0" class="image is-64x64" style="overflow: hidden">
                            <img :src="'/file/' + d.images[0].name">
                        </figure>
                        <figure v-else class="image is-128x128">
                            <img src="/noimage.png">
                        </figure>

                    </td>
                    <td>#{{d.id}}</td>
                    <td>{{d.shortDesc}}</td>
                    <td>
                        <span v-if="d.manufacturer">
                            {{d.manufacturer.name}}
                        </span>
                    </td>
                    <td>
                        <span v-if="d.productType">
                            {{d.productType.name}}
                        </span>
                    </td>
                    <td v-if="classesSwitch != 0">
                        <button class="button is-small is-link" @click="generateQrCode(d.id)">
                            <span class="icon">
                                <i class="fas fa-qrcode"></i>
                            </span>
                        </button>
                        <button class="button is-small is-link">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </button>
                    </td>
                </tr>
            </template>
        </table-simple>

        <button class="is-light" @click="nextClass">Zmiana trybu wyświetlania</button>
    </div>
</template>

<script>

import TableSimple from "../../databaseInterface/table/tableSimple.vue";
export default {
    name: "warehouseViewQrGenerator",
    components: {TableSimple},
    data: function (){
        return {
            data: [],
            counter: 0,
            classesSwitch: 1,
            classesCount: 2,
            modalActive: true
        }
    },
    mounted() {
        this.$emit("setMenu", [])
    },
    methods: {
        nextClass: function (){
            this.classesSwitch = (this.classesSwitch+1) % this.classesCount
        },
        dataChanged: function (data){
            this.data = data
        },
        generateQrCode: function (id){
            this.axiosPostMsg('/productmanagement/generateqrcode', {
                productId: id
            }).then(() => {
                console.log("Kod wygenerowany")
            })
        }
    },
    computed: {
        classes: function (){
            switch (this.classesSwitch){
                case 0: return "table is-narrow is-bordered is-print-formatted"
                case 1: return "reference-table"
            }
        }
    }
}
</script>

<style scoped>

</style>
