<template>
    <div>

        <table-simple
            ref="table"
            prefix="prod"
            table="PM_DELIVERY_PREVIEW"
            :on-click-create-new="$route.path + '/0'"
            :constraints="[{deliveryDirection: false}, {warehouseId: $route.params.warehouseId}]"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Nazwa</th>
                    <th>Notatki</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Użytkownik</th>
                    <th>Kierunek</th>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">

                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <table-simple-cell table="PM_DELIVERY" field="note" :id="d.id" :value="d.note"
                    ></table-simple-cell>
                    <table-simple-cell table="PM_DELIVERY" field="deliveryTypeId" :id="d.id"
                                       foreign-table="PM_DELIVERYTYPE" :value="d.deliveryTypeId"
                    ></table-simple-cell>
                    <table-simple-cell table="PM_DELIVERY" field="date" :id="d.id" :value="new Date(d.date)"
                    ></table-simple-cell>

                    <table-simple-cell table="PM_DELIVERY" field="userId" :id="d.id"
                                       foreign-table="UM_USER_ID" :value="d.userId"
                    ></table-simple-cell>
                    <td>
                       <span v-if="d.deliveryDirection" class="tag is-success">
                           Dostawa
                       </span>
                        <span v-else class="tag is-danger">
                           Pobranie
                       </span>
                    </td>

                    <td>
                        <div class="buttons">
                            <router-link :to="$route.path + '/' + d.id" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                            </router-link>
                            <remove-from-database-button table="PM_DELIVERY" :id="d.id"
                                                         @click="$refs.table.init()"
                            ></remove-from-database-button>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
    import TableSimple from "../../databaseInterface/table/tableSimple.vue";
    import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
    import RemoveFromDatabaseButton from "../../../../assets/buttons/removeFromDatabaseButton.vue";
    export default {
        name: "warehouseViewScanner",
        components: {RemoveFromDatabaseButton, TableSimpleCell, TableSimple},
        data(){
            return {
            }
        },
        mounted() {
            this.$emit("setMenu", [])
        },
        methods: {

        },

    }
</script>

<style scoped>

</style>
