<template>
    <div>
        <table-simple
            ref="table"
            prefix="prod"
            table="PM_WAREHOUSE"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <table-simple-header text="Id" field="id"></table-simple-header>
                    <table-simple-header text="Nazwa" field="name" :allow-filtering="true"></table-simple-header>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">
                    <td>{{parseInt(index) +1}}</td>
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>
                        <router-link :to="$route.path + '/' + d.id" class="button is-small is-link">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </router-link>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
    import TableSimple from "../../databaseInterface/table/tableSimple.vue";
    import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
    import TdFormatted from "../../../../assets/table/tdFormatted.vue";
    import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
    import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
    export default {
        name: "warehouseViewMain",
        components: {TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
        data(){
            return {
                date: new Date(),
            }
        },
        mounted() {
            this.$emit("setMenu", [])
        },
        methods: {}
    }
</script>

<style scoped>

</style>
