<template>
    <div>
        <h1 class="title">Inwentaryzacja</h1>
        <h1 class="subtitle"></h1>

        <p>Sekcja pozwla na dokonanie inwentaryzacji w magazynie</p>


    </div>
</template>

<script>
    export default {
        name: "warehouseViewMain",
        data(){
            return {

            }
        },
        mounted() {
            this.$emit("setMenu", [])
        },
        methods: {}
    }
</script>

<style scoped>

</style>
