<template>
    <div>
        <h1 class="title">Podsumowanie</h1>
        <h1 class="subtitle">Stan bieżący</h1>
        <div class="block">
            Stan magazynu na dzień: <simple-input type="date" v-model="date"></simple-input>
        </div>


        <table-simple
            ref="table"
            prefix="prod"
            table="PM_PRODUCT_PREVIEW"
            :printTitle="'Zestawienienie magazynu na dzień: ' +renderOnlyDate(date)"
            :filters="{'date': date}"
            :set-page-size="500"
            :constraints="[{warehouseId: $route.params.warehouseId}]"
            @paginationChanged="onPaginationChanged"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <table-simple-header text="Indeks" field="shortDesc" :allow-filtering="true"></table-simple-header>
                    <table-simple-header text="Nazwa" field="description" :allow-filtering="true"></table-simple-header>
                    <table-simple-header text="Cena" :allow-ordering="true"></table-simple-header>
                    <table-simple-header text="Ilość" :allow-ordering="true"></table-simple-header>
                    <th>Wartość</th>
                    <table-simple-header text="Ost. dostawa" :allow-ordering="true"></table-simple-header>
                    <th>Szczegóły</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <template v-for="(d, index) in props.data" v-if="d">
                    <tr>
                        <td>{{parseInt(index) +1}}</td>
                        <td><router-link :to="'/fragments/products/' + d.productId">#{{d.productId}}</router-link> {{d.shortDesc}}</td>
                        <td>{{d.description}}</td>
                        <td>{{format(d.productPrice)}}</td>
                        <td-formatted :min="0" :value="d.pCount">{{d.pCount}}</td-formatted>
                        <td>{{format(d.productPrice * d.pCount)}}</td>
                        <td>{{renderOnlyDate(d.date)}}</td>
                        <td>
                            <button v-if="!props.local[index]" @click="$refs.table.expandRow(index,1)">Więcej</button>
                            <button v-else @click="$refs.table.expandRow(index,0)">Mniej</button>
                        </td>
                    </tr>
                    <tr v-if="props.local[index]">
                        <td colspan="8">
                            Zestawienie dostaw i pobrań produktu {{d.shortDesc}} w cenie {{format(d.productPrice)}}


                            <table-simple
                                :pagination-disable="true"
                                class="box"
                                prefix="prod"
                                table="PM_PRODUCTDELIVERY2_PREVIEW"
                                :constraints="[{productId: d.productId}]"
                            >
                                <template v-slot:header>
                                    <tr>
                                        <th>L.p</th>
                                        <th>Nazwa</th>
                                        <th>Notatki</th>
                                        <th>Status</th>
                                        <th>Data</th>
                                        <th>Cena</th>
                                        <th>Ilość</th>
                                    </tr>
                                </template>

                                <template v-slot:rows="props2">
                                    <tr v-for="(dd, index) in props2.data" v-if="dd && dd.productPrice == d.productPrice" >
                                        <td>{{parseInt(index) +1}}</td>
                                        <td>
                                            <router-link v-if="dd.deliveryDirection" :to="$router.currentRoute.path + '/delivery/' + dd.deliveryId">#{{dd.deliveryId}}</router-link>
                                            <router-link v-else :to="$router.currentRoute.path + '/pickup/' + dd.deliveryId">#{{dd.deliveryId}}</router-link>
                                            {{dd.deliveryName}}</td>
                                        <td>{{dd.deliveryNote}}</td>
                                        <td>{{dd.productPrice}}</td>
                                        <td>{{dd.productCount}}</td>
                                        <td>
                                            <span v-if="dd.deliveryDirection" class="tag is-success">
                                               Dostawa
                                            </span>
                                            <span v-else class="tag is-danger">
                                               Pobranie
                                            </span>
                                        </td>
                                        <td>{{renderOnlyDate(dd.deliveryDate)}}</td>


                                    </tr>
                                </template>
                            </table-simple>
                        </td>
                    </tr>
                </template>
            </template>


            <template v-slot:pageFooter="props">
                <tr>
                    <th colspan="2">
                        Liczba produktów
                    </th>
                    <td colspan="6">{{props.data.reduce((acc, val) => {return acc + val.pCount}, 0)}}</td>
                </tr>
                <tr>
                    <th colspan="2">Wartość</th>
                    <td colspan="6">{{format(props.data.reduce((acc, val) => {return acc + val.productPrice * val.pCount}, 0))}}</td>
                </tr>
            </template>
        </table-simple>

    </div>
</template>

<script>
    import TableSimple from "../../databaseInterface/table/tableSimple.vue";
    import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
    import TdFormatted from "../../../../assets/table/tdFormatted.vue";
    import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
    import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
    export default {
        name: "warehouseViewMain",
        components: {TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
        data(){
            return {
                date: new Date(),
                local:[]
            }
        },
        mounted() {
            this.$emit("setMenu", [])
        },
        methods: {
            onPaginationChanged(payload) {
                this.local = new Array(payload.pageSize)
                this.local = this.local.fill(0)
            }
        }

    }
</script>

<style scoped>

</style>
