<template>
    <div>
        <router-view
        ></router-view>
    </div>
</template>

<script>
    import TableSimple from "../../databaseInterface/table/tableSimple.vue";
    import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
    import TdFormatted from "../../../../assets/table/tdFormatted.vue";
    import SimpleInput from "../../../../assets/formInputs/simpleInput.vue";
    import TableSimpleHeader from "../../databaseInterface/table/tableSimpleHeader.vue";
    export default {
        name: "warehouseViewMain",
        components: {TableSimpleHeader, SimpleInput, TdFormatted, TableSimpleCell, TableSimple},
        data(){
            return {
                date: new Date(),
            }
        },
        mounted() {
            this.$emit("setMenu", [{
                href: '/warehouse/' + this.$route.params.warehouseId,
                title: 'Przegląd',
                icon: 'fas fa-table',
            },{
                href: '/warehouse/' + this.$route.params.warehouseId + '/pickup',
                title: 'Pobrania',
                icon: 'fas fa-shipping-fast',
            },{
                href: '/warehouse/' + this.$route.params.warehouseId + '/delivery',
                title: 'Dostawy',
                icon: 'fas fa-truck',
            },{
                href: '/warehouse/' + this.$route.params.warehouseId + '/inventory',
                title: 'Inwentaryzacja',
                icon: 'fas fa-boxes',
            }])
        },
        methods: {}
    }
</script>

<style scoped>

</style>
