<template>
    <button @click="onclick" class="button is-small is-success">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
    </button>
</template>

<script>

export default {
    name: "createNewButton",
    props: [''],
    methods: {
        onclick: function (){
            this.$emit("click")
        }
    }
}
</script>

<style scoped>

</style>
