<template>
    <button @click="print()">Drukuj</button>
</template>

<script>
export default {
    name: "printButton",
    props: ['target', 'title'],
    methods: {
        print: function (){
            let elem = this.target
            //console.log(elem)
            let mywindow = window.open('', 'PRINT', 'height=400,width=600');

            let cssHref = window.location.pathname + '.css'
            mywindow.document.write('<html><head><title>' + this.title  + '</title>');
            mywindow.document.write('<link rel="stylesheet" href="'+cssHref+'" type="text/css" media="screen"/>');
            mywindow.document.write('<link rel="stylesheet" href="'+cssHref+'" type="text/css" media="print"/>');
            mywindow.document.write('</head><body style="padding: 15px">');
            mywindow.document.write('<h1>' + this.title  + '</h1>');
            mywindow.document.write(elem.outerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus();

            /*setTimeout(()=>{
                mywindow.print()
                mywindow.close()
            },150)*/
        },
    }
}
</script>

<style scoped>

</style>
