<template>
    <button @click="remove" class="button is-small is-danger">
        <span class="icon">
            <i class="fas fa-times"></i>
        </span>
    </button>
</template>

<script>
import tableApi from "../../plugins/tableApi";

export default {
    name: "removeFromDatabaseButton",
    props: ['table', 'id'],
    mixins: [tableApi],
    methods: {
        remove: function (){
            this.dbRemove({
                table: this.table,
                id: this.id
            }).then(m => {
                this.showSuccess("Sukces", "Poprawnie usunięto z bazy danych")
                this.$emit("click")
            })
        }
    }
}
</script>

<style scoped>

</style>
