<template>
    <div>
        <div class="is-fullwidth has-background-black-bis">&nbsp;</div>



            <div class="hero has-background-light">
                <div class="hero-body">
                    <div class="container">
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Artykułów<p>
                                    <p class="title">1</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Wyświetleń</p>
                                    <p class="title">123K</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Czytelników dzisiaj</p>
                                    <p class="title">456K</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Ostatnia publikacja</p>
                                    <p class="title">{{renderOnlyDate(new Date())}}</p>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>


        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-3">
                    <div class="tile is-child">
                        <div class="content">
                            <ul>
                                <li>Artykuł 1</li>
                                <li>Artykuł 2</li>
                                <li>Artykuł 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <router-view>
                        </router-view>
                    </div>
                </div>
            </div>

        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Paweł Parczyk dla <strong>Elmeco Jerzy Parczyk</strong> Baza wiedzy dotycząca instalacji fotowoltaicznych
                </p>
            </div>
        </footer>
    </div>

</template>

<script>
    export default {
        name: "blogIndex"
    }
</script>

<style scoped>

</style>
