<template>
    <section class="section">
        <router-link :to="'/ala'">adsasd</router-link>
    </section>
</template>

<script>
    export default {
        name: "blogArticle"
    }
</script>

<style scoped>

</style>
