<template>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://elmecosolar.pl">
                <img src="../../../images/LOGO.png" alt="Elmeco solar: dobór, sprzedaż, motaż i doradctwo fotowoltaika" width="112" height="28">
            </a>
            <div v-on:click="mobilemenu" class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-hidden-mobile">
                        <p class="control">
                            <button class="button is-link" v-on:click="logout">
                                {{logoutText ? logoutText : "Wyloguj"}}
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "fixedTopMenu",
        props: ["logoutText"],
        methods: {
            logout: function () {
                this.$emit("logout")
            },

            mobilemenu: function () {
                this.$emit("mobilemenu")
            }
        }
    }
</script>

<style scoped>

</style>
