<template>
    <div class="tabs">
        <ul>
            <li v-for="(c,index) in menuConfig" :class="active == parseInt(index) ? 'is-active':''">
                <a @click="activate(parseInt(index), c.to)">
                    {{c.menu}}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "tabMenu",
        props: ['menuConfig'],
        data(){
            return {
                active: null
            }
        },
        mounted() {
            for(let j in this.menuConfig)
                if(this.menuConfig[j].to == this.$route.path)
                    this.active = j

        },
        methods: {
            activate(val,to){
                this.active = val
                this.$router.push(to)
            }
        }
    }
</script>

<style scoped>

</style>
