<template>
    <div class="top-navbar">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="bar"></div>
                    <h1 class="title is-4">{{title}}</h1>
                    <nav class="navbar is-dark">
                        <div class="navbar-brand">
                            <router-link v-if="menu[0]" :to="menu[0].href" class="navbar-item">
                            <span class="icon-text">
                                <span class="icon">
                                    <i :class="menu[0].icon"></i>
                                </span>
                                <span>{{menu[0].title}}</span>
                            </span>
                            </router-link>

                            <a role="button" :class="['navbar-burger', collapsed ? 'is-active' : '']" aria-label="menu" aria-expanded="false" data-target="nb" v-on:click="toggle">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>

                        <div id="nb" :class="['navbar-menu', collapsed ? 'is-active' : '']">
                            <div class="navbar-start">
                                <router-link :to="cell.href" v-for="(cell, index) in menu"
                                             v-if="index > 0 && (isAdmin || (!cell.admin && !isAdmin))"
                                             :class="['navbar-item', active[index] ? 'is-active' : '']">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i :class="cell.icon"></i>
                                    </span>
                                    <span>{{cell.title}}</span>
                                </span>
                                </router-link>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: "topMenu",
    props: ['defaultMenu','defaultPostMenu', 'title'],
    data(){
        return {
            collapsed: false,
            menu: [],
            active: []
        }
    },

    mounted() {
    },

    methods: {
        toggle: function() {
            this.collapsed = !this.collapsed
        },

        createMenu: function(options){
            let defaultPostMenu = this.defaultPostMenu || []
            let menu = [].concat(this.defaultMenu, options, defaultPostMenu)
            this.$set(this,"menu", menu)
            //console.log(this.menu)
        },
    },
    computed: {
        isAdmin: function (){
            return this.checkUserPermission('admin')
        }
    }
}
</script>

<style scoped>
.top-navbar{
    height: 116px;
    z-index: 100;
    position: fixed;
    top: 0px;
    width: calc(100% - 50px);
    background-color: #61616b;
}
.top-navbar .bar {
    height: 5px;
    background-color:#2a2a2e;
    width: 100%;
}

.top-navbar hr {
    background-color: white;
}

.top-navbar .title {
    color: white;
    font-weight: 900;
    border-bottom: 1px solid #afafb6;
    padding: 5px 12px;
    margin-bottom: 12px;
}

</style>
