<template>
    <div>
        Lista użytkowników:
        <table-simple
            ref="productTable"
            prefix="prod"
            table="UM_USER_PREVIEW"
            :on-click-create-new="$route.path + '/0'"
        >
            <template v-slot:header>
                <tr>
                    <th>L.p</th>
                    <th>Ideks</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Ostatnie logowanie</th>
                    <th>Blokada</th>
                    <th>Akcje</th>
                </tr>
            </template>

            <template v-slot:rows="props">
                <tr v-for="(d, index) in props.data" v-if="d">
                    <td>{{parseInt(index)+1}}</td>
                    <td>#{{d.id}}</td>
                    <table-simple-cell table="UM_PERSONDATA" field="name"  :id="d.personDataId" :value="d.name"></table-simple-cell>
                    <table-simple-cell table="UM_PERSONDATA" field="surname"  :id="d.personDataId" :value="d.surname"></table-simple-cell>
                    <table-simple-cell table="UM_LOGINDATA" field="username"  :id="d.loginDataId" :value="d.username"></table-simple-cell>
                    <table-simple-cell table="UM_EMAIL" field="email"  :id="d.emailId" :value="d.emailAddress"></table-simple-cell>
                    <table-simple-cell table="UM_PERSONDATA" field="phone"  :id="d.personDataId" :value="d.phone"></table-simple-cell>
                    <td>
                        {{renderDate(d.lastLogin)}}
                    </td>
                    <table-simple-cell table="UM_USER" field="deleted" :id="d.id" :value="d.deleted"></table-simple-cell>
                    <td>
                        <div class="buttons">
                            <router-link :to="$route.path + '/' + d.id" class="button is-small is-link">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </router-link>
                        </div>
                    </td>
                </tr>
            </template>
        </table-simple>
    </div>
</template>

<script>
import TableSimple from "../../databaseInterface/table/tableSimple.vue";
import TableSimpleCell from "../../databaseInterface/table/tableSimpleCell.vue";
export default {
    name: "userViewMain",
    components: {TableSimpleCell, TableSimple}
}
</script>

<style scoped>

</style>
