<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="box">
                    <message ref="message"></message>
                    <h1 class="title is-5">Parametry użytkownika:</h1>

                    <object-input title="Imię" v-model="data" :config="{name: {}}"></object-input>
                    <object-input title="Nazwisko" v-model="data" :config="{surname: {}}"></object-input>
                    <object-input title="Email" v-model="data" :config="{emailAddress:{}}"></object-input>
                    <object-input title="Login" v-model="data" :config="{username:{}}"></object-input>
                    <object-input title="Telefon" v-model="data" :config="{phone:{}}"></object-input>
                    <object-input title="Blokada" v-model="data" :config="{deleted:{}}"></object-input>

                    <div class="buttons">
                        <button class="button is-success" @click="updateData(0)">
                            Stwórz nowy
                        </button>
                        <button v-if="id != 0" class="button is-success" @click="updateData(id)">
                            Aktualizuj bieżący (#{{id}})
                        </button>

                    </div>
                </div>
                <div class="box">
                    <h1 class="title is-5">Resetowanie hasła:</h1>
                    <div class="field">
                        <input class="input" type="password" v-model="password" placeholder="Wprowadź nowe hasło...">
                    </div>
                    <div class="field">
                        <input class="input" type="password" v-model="passwordRepeat" placeholder="Powtórz nowe hasło...">
                    </div>
                    <button class="button is-success" v-if="password == passwordRepeat" @click="resetPassword()">
                        Resetuj hasło
                    </button>
                </div>
            </div>
        </div>
        <div class="tile is-parent" v-if="id != 0">
            <div class="tile is-child">
                <div class="box">

                </div>
            </div>
        </div>
    </div>

</template>

<script>
import ObjectInput from "../../../../assets/formInputs/objectInput.vue";
import Message from "../../../../assets/messages/message.vue";
import tableApi from "../../../../plugins/tableApi";
export default {
    name: "userViewUserPreview",
    components: {Message, ObjectInput},
    mixins: [tableApi],
    data() {
        return {
            data: {},
            password: null,
            passwordRepeat: null,
            id: this.$route.params.id,
        }
    },
    mounted() {
        this.load()
    },
    methods: {
        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: "UM_USER_PREVIEW",
                    id: this.id
                }).then(m => {
                    this.$set(this, 'data', m)
                })
            }
        },
        updateData: function (id){
            let data = Object.assign({}, this.data)
            delete data.id
            this.dbUpdate({
                table: "UM_USER_PREVIEW",
                id: id,
                data
            }).then(m => {
                this.showSuccess("Modyfikacja bazy danych", "Poprawnie zmodyfikowano listę użytkowników")
                if(m && (this.id == 0 || id == 0)){
                    this.id = m
                    this.$router.push({params: { id: m }})
                }

            }).catch(()=>{})
        },

        resetPassword: function (){
            this.dbUpdate({
                table: "UM_USER_PASSWORD",
                id: this.data.loginDataId,
                data: {
                    password: this.password
                }
            }).then(m => {
                this.showSuccess("Modyfikacja bazy danych", "Poprawnie zmodyfikowano hasło użytkownika")
            }).catch(()=>{})
        },
    },
    "$route.params.id": function (){
        this.id = this.$route.params.id
    },
}
</script>

<style scoped>

</style>
