<template>
    <div class="is-relative top-navbar-container">
        <top-menu
                title="Strona główna"
                :defaultMenu="defaultMenu"
                ref="menu"
        ></top-menu>

        <section class="navbar-section">
            <router-view class="section"
                 v-on:setMenu="createMenu"
            ></router-view>
        </section>
    </div>

</template>

<script>
    import TopMenu from "../../../assets/menus/topMenu.vue";

    export default {
        name: "mainView",
        components: {TopMenu},
        data(){
            return {
                defaultMenu : [
                    {
                        href: '/database',
                        title: 'Lista tabel',
                        icon: 'fas fa-table',
                    }
                ]
            }
        },
        mounted() {
            this.createMenu([])
        },
        methods: {
            createMenu: function (options) {
                this.$refs.menu.createMenu(options)
            }
        }
    }
</script>

<style scoped>

</style>
