<template>
    <div class="is-relative top-navbar-container">
        <top-menu
            title="Chłodnictwo"
            :defaultMenu="defaultMenu"
            ref="menu"
        ></top-menu>

        <section class="navbar-section">
            <div class="section">
                <breadcrumb></breadcrumb>

                <router-view
                    v-on:setMenu="createMenu"
                ></router-view>
            </div>
        </section>
    </div>
</template>

<script>
import Breadcrumb from "../../../assets/Breadcrumb.vue";
import TopMenu from "../../../assets/menus/topMenu.vue";

export default {
    name: "refrigerationView.vue",
    components: {Breadcrumb, TopMenu},
    data(){
        return {
            defaultMenu : [
                {
                    href: '/refrigeration',
                    title: 'Główna',
                    icon: 'fas fa-table',
                },{
                    href: '/refrigeration/customer',
                    title: 'Klienci',
                    icon: 'fas fa-user',
                },{
                    href: '/database/HP_REFRIGERANT/brief',
                    title: 'Czynniki chłodnicze',
                    icon: 'fas fa-snowflake',
                },{
                    href: '/refrigeration/notification',
                    title: 'Powiadomienia',
                    icon: 'fas fa-envelope',
                },{
                    href: '/refrigeration/coming',
                    title: 'Nadchodzące',
                    icon: 'fas fa-next',
                }
            ]
        }
    },

    mounted() {
        this.createMenu([])
    },
    methods: {
        createMenu: function (options) {
            this.$refs.menu.createMenu(options)
        }
    }
}
</script>

<style scoped>

</style>
