<template>
    <div class="is-relative top-navbar-container">
        <top-menu
                title="Zawartość stron (CMS)"
                :defaultMenu="defaultMenu"
                ref="menu"
        ></top-menu>

        <section class="navbar-section">
            <div class="section">
                <breadcrumb></breadcrumb>

                <router-view
                     v-on:setMenu="createMenu"
                ></router-view>
            </div>
        </section>
    </div>

</template>
<script>
    import TopMenu from "../../../assets/menus/topMenu.vue";
    import Breadcrumb from "../../../assets/Breadcrumb.vue";

    export default {
        name: "adminCMFragment",
        components: {Breadcrumb, TopMenu},
        data(){
            return {
                defaultMenu : [
                    {
                        href: '/users',
                        title: 'Główna',
                        icon: 'fas fa-table',
                    }
                ]
            }
        },

        mounted() {
            this.createMenu([])
        },
        methods: {
            createMenu: function (options) {
                this.$refs.menu.createMenu(options)
            }
        }
    }
</script>

<style scoped>

</style>
