<template>
    <div class="is-relative top-navbar-container">
        <top-menu
                title="Magazyn"
                :defaultMenu="defaultMenu"
                :defaultPostMenu="defaultPostMenu"
                ref="menu"
        ></top-menu>

        <section class="navbar-section">
            <div class="section">
                <breadcrumb></breadcrumb>

                <router-view
                     v-on:setMenu="createMenu"
                ></router-view>
            </div>
        </section>
    </div>

</template>
<script>
    import TopMenu from "../../../assets/menus/topMenu.vue";
    import Breadcrumb from "../../../assets/Breadcrumb.vue";

    export default {
        name: "warehouseView",
        components: {Breadcrumb, TopMenu},
        data(){
            return {
                defaultMenu : [
                    {
                        href: '/warehouse',
                        title: 'Magazyny',
                        icon: 'fas fa-table',
                    }
                ],
                defaultPostMenu: [{
                    href: '/warehouse/qr',
                    title: 'Katalog produktowy (qr)',
                    icon: 'fas fa-qrcode',
                }]
            }
        },
        mounted() {
            this.createMenu([])
        },
        methods: {
            createMenu: function (options) {
                this.$refs.menu.createMenu(options)
            }
        }
    }
</script>

<style scoped>

</style>
