<template>
    <div class="is-relative top-navbar-container">
        <top-menu
            title="Raporty pracownicze"
            :defaultMenu="defaultMenu"
            ref="menu"
        ></top-menu>

        <section class="navbar-section">
            <div class="section">
                <breadcrumb></breadcrumb>

                <router-view
                    v-on:setMenu="createMenu"
                ></router-view>
            </div>
        </section>
    </div>
</template>

<script>
import TopMenu from "../../../assets/menus/topMenu.vue";
import Breadcrumb from "../../../assets/Breadcrumb.vue";

export default {
    name: "workerReportView",
    components: {Breadcrumb, TopMenu},
    data() {
        return {
            defaultMenu: [
                {
                    href: '/fragments',
                    title: 'Pracownicy',
                    icon: 'fas fa-table',
                }
            ]
        }
    },

    mounted() {
        this.createMenu([])
    },
    methods: {
        createMenu: function (options) {
            this.$refs.menu.createMenu(options)
        }
    }
}

</script>

<style scoped>

</style>
