<section class="tile is-ancestor is-vertical et--blog-article">

    <div class="tile is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child content">
                <h3>Pompa ciepła - jak działa?</h3>
            </div>
        </div>
        <!--<div class="tile is-parent">
            <div class="tile is-child">
                <figure class="figure" style="transform: scale(0.7);">
                    <img src="/knowledge.jpg" >
                </figure>
            </div>
        </div>-->
        <div class="tile is-parent">
            <div class="tile is-child">
                Pompa ciepła, jak sama nazwa wskazuje, jest urządzeniem, które pompuje ciepło. Dokonuje tego w kierunku przeciwnym do naturalnego kierunku przepływu energii.
                Zgodnie z II zasadą termodynamiki ciepło przenosi się z ośrodka cieplejszego do ośrodka chłodniejszego....<br>
                Zapraszamy do zapoznania się z resztą artykułu <a href="/pompy-ciepla/baza-wiedzy">Baza wiedzy</a>.
            </div>
        </div>


    </div>
</section>
