<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
    <ul>
        <%for(let i=0;i<breadcrumb.length-1;++i){ %>

        <li>
            <a href="/<%=breadcrumb.slice(0,i+1).join('/')%>">
                <%=decodeURIComponent(breadcrumb[i])%>
            </a>
        </li>

        <%}%>

        <li class="is-active">
            <a href="#" aria-current="page">
                <%=decodeURIComponent(breadcrumb[breadcrumb.length-1])%>
            </a>
        </li>
    </ul>
</nav>
