<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FRDBDG0YQD"></script>

<script>
    let host = window.location.hostname;
    if(host != "localhost")
    {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-FRDBDG0YQD');
    }
</script>
