
<meta charset="utf-8">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
<meta name="description" content="<%=(description || "")%>">
<meta name="author" content="Paweł Parczyk, Elmecotechnologie sp. z o. o.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title%></title>
