<%if(session.user.userAuth){%>
    <div class="has-background-dark has-text-light">
        <div class="container">
            Zalogowany jako: <%=session.user.username%>
        </div>
    </div>
<%}%>
