<%
let howToStart = [{
    img: "/pierwszy-kontakt.png",
    alt: "Symbol telefonu",
    title: "Pierwszy kontakt i ustalenie potrzeb",
    text: ["Zadzwoń do nas, napisz maila lub sms. Podaj swoje potrzeby i oczekiwania, dotychczasowe zużycie energii elektrycznej, a jeśli nie potrafisz tego ustalić – prześlij skan rachunków za prąd za ostatni rok. Podaj również lokalizację nieruchomości (najlepiej współrzędne GPS)."]
},{
    img: "/kalkulacja-instalacji.png",
    alt: "Symbol kalkulatora",
    title: "Kalkulacja wstępna",
    text: ["Na podstawie otrzymanych od Ciebie danych sporządzimy wstępną kalkulację i zaproponujemy dalszy tryb postępowania."]
},{
    img: "/wycena-instalacji.png",
    alt: "Symbol cenówki w sklepie",
    title: "Wizja lokalna",
    text: ["Jeśli dla precyzyjnej wyceny niezbędna będzie wizja lokalna obiektu, chętnie Cię odwiedzimy. Wykonamy pomiary, zrobimy zdjęcia i wszystko inne, co będzie potrzebne do dalszych prac.","Przygotuj wszystkie niezbędne dane techniczne (rachunki za prąd, umowę z dostawcą energii, dokumentację budowlana obiektu itp). Zastanów się nad możliwościami finansowania inwestycji itd."]
},{
    img: "/zwrot-instalacji.png",
    alt: "Reka sięgająca po zyski",
    title: "Oferta",
    text: ["Na podstawie uzyskanych danych otrzymasz kompletną ofertę zawierającą specyfikacje techniczną instalacji, koszt, termin i sposób zapłaty, termin realizacji. Ocenimy również czas zwrotu inwestycji i inne parametry.","W dalszym ciągu jeszcze masz możliwość negocjacji wszystkich elementów oferty zarówno technicznych jak również terminów i ceny."]
},{
    img: "/umowa-na-wykonanie-instalacji.png",
    alt: "Symbol zawierania umowy",
    title: "Zawarcie umowy",
    text: ["Jeśli oferta spełnia Twoje oczekiwania zaproponujemy Umowę, która stanie się podstawą do wykonania instalacji.","Na tym etapie możemy poprosić Cię o wpłatę zaliczki lub innego zabezpieczenia finansowego."]
},{
    img: "/projekt-instalacji.png",
    alt: "Symbol udzielania prezentacji",
    title: "Wykonanie projektu",
    text: ["Na tym etapie wykonanie projektu będzie już jedynie formalnością, gdyż wszystkie niezbędne uzgodnienia już mamy za sobą. Projekt będzie jednak potrzebny do wykonania instalacji przez monterów, złożenia wniosku do energetyki no i dla Ciebie na przyszłość"]
},{
    img: "/dostawa-instalacji.png",
    alt: "Samochód dostawczy",
    title: "Dostawa urządzeń",
    text: ["W umówionym czasie dostarczymy wszystkie niezbędne urządzenia i elementy systemu. Może się to odbyć jednorazowo lub w etapach, w zależności od wielkości instalacji lub innych uwarunkowań.","Jeśli montaż urządzeń nie nastąpi bezpośrednio po dostawie, poprosimy cię abyś przygotował miejsce do bezpiecznego zmagazynowania elementów. Na tym etapie możemy poprosić Cię również o wpłatę kolejnej części zapłaty – wszystko jednakże zgodnie z Umową."]
},{
    img: "/wykonanie-instalacji.png",
    alt: "Piorun w okręgu",
    title: "Wykonanie instalacji",
    text: ["To zajmie kilka dni (1-2 dla instalacji o mocy ok. 5kW – przy większych mocach, lub jeśli instalacja będzie bardziej skomplikowana - nieco dłużej). Zabudujemy panele i inne urządzenia, wykonamy trasy dla kabli, połączymy wszystkie elementy w jeden system.", "Oczywiście, jeśli chcesz, część prac (lub nawet wszystkie) możesz wykonać sam, we własnym zakresie. My udzielimy ci niezbędnych rad i wskazówek."]
},{
    img: "/uruchomienie-instalacji.png",
    alt: "Mechanik z narzędziami",
    title: "Uruchomienie instalacji",
    text: ["Po zmontowaniu instalacji w całość i sprawdzeniu poprawności i zgodności z projektem (jeśli to ty wykonałeś instalację) jej uruchomienie stanowi jedynie formalność. Potem potrzeba tylko nieco słońca i prąd zaczyna się sam produkować.","Jeśli nie umówimy się inaczej, po uruchomieniu poprosimy cię o końcową zapłatę."]
},{
    img: "/zgloszenie-do-energetyki.png",
    alt: "Start rakiety",
    title: "Zgłoszenie instalacji do energetyki",
    text: ["Tą formalność zrobimy za Ciebie. Niczym nie musisz się przejmować. Robiliśmy to wielokrotnie, mamy niezbędne uprawnienia, wiedzę i doświadczenie, więc i tym razem damy radę.  Niestety energetyka ma 30 dni na rozpatrzenie wniosku i, jeśli wszystko będzie OK, zabudowę nowego, dwukierunkowego licznika. Dlatego, zgłoszenie zrobimy na ok. 30 dni przed przewidywanym terminem uruchomienia instalacji.", "Również i tą formalność możesz zrobić sam, ale jeśli my mamy to zrobić, wystarczy, że udzielisz nam stosownego pełnomocnictwa."]
}]
%>

    <div class="is-max-desktop is-relative">

        <!--<figure class="image" style="position:absolute; width: 60vw; z-index: 1">
            <img src="../../images/procerdura-jak-zrobic-fotowoltaike.png" >
        </figure>-->

        <div class="tile is-ancestor" style="position: relative; z-index: 20">
            <div class="tile is-parent">
                <div class="tile is-child">

                    <h3 class="title"><span class="has-text-brand-yellow">Jak zbudować instalację fotowoltaiczną?</span> wystarczy kilka kroków</h3>
                </div>
            </div>
        </div>

        <div class="section"></div>
        <div class="tile is-ancestor is-vertical" style="position: relative; z-index: 1000">
            <div class="tile">
                <div class="tile is-4">

                </div>
                <div class="tile">
                    <div class="tile is-parent is-2">
                        <div class="tile is-child">
                            <figure class="image is-64x64">
                                <img src="../../images/procerdura-jak-zrobic-fotowoltaike.png" >
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <p>
                                Poniżej w kilku krokach przedstawiamy procedurę od pomysłu, do uruchomienia instalacji fotowoltaicznej.
                                Będzie ona wymagała nieco współpracy również i z Twojej strony – <span class="has-text-brand-blue">
                                    w opisach znajdziesz informacje, co na każdym z etapów ty powinieneś zrobić.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section"></div>

        <div class="tile is-ancestor is-vertical" style="position: relative; z-index: 1000">
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child has-text-centered">
                        <h4 class="subtitle has-text-weight-bold">Przejdź z nami te <span class="has-text-brand-yellow">10 kroktów!</span></h4>
                    </div>
                </div>
            </div>

            <%for(let i=0;i<howToStart.length-1; i+=2){%>
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile card">
                        <div class="tile is-parent is-3">
                            <div class="tile is-child is-relative">
                                <figure class="image small-image-mobile" style="width: 100%">
                                    <img src="<%-howToStart[i].img%>" style="margin: auto" alt="<%-howToStart[i].alt%>">
                                </figure>
                            </div>
                        </div>
                        <div class="tile is-parent is-9">
                            <div class="tile is-child is-vertical">
                                <div class="tile is-child">
                                    <h1 class="subtitle-1"><%-i+1%>. <%-howToStart[i].title%></h1>
                                    <div class="gradient-line"></div>
                                </div>
                                <div class="tile is-child content">
                                    <%for(let j in howToStart[i].text){%>
                                    <p>
                                        <%-howToStart[i].text[j]%>
                                    </p>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile card">
                        <div class="tile is-parent is-3">
                            <div class="tile is-child is-relative">
                                <figure class="image small-image-mobile" style="width: 100%">
                                    <img src="<%-howToStart[i+1].img%>" style="margin: auto" alt="<%-howToStart[i+1].alt%>">
                                </figure>
                            </div>
                        </div>
                        <div class="tile is-parent is-9">
                            <div class="tile is-child is-vertical">
                                <div class="tile is-child is-vertical">
                                    <h1 class="subtitle-1"><%-i+2%>. <%-howToStart[i+1].title%></h1>
                                    <div class="gradient-line"></div>
                                </div>
                                <div class="tile is-child content">
                                    <%for(let j in howToStart[i+1].text){%>
                                    <p>
                                        <%-howToStart[i+1].text[j]%>
                                    </p>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>

