<!--
<section class="section has-background-brand-gray" style="background-image: url('/panele-slider-low-qt.png')">
    <h1 class="title has-text-centered is-2 has-text-white">
        <span class="has-text-brand-yellow">Fotowoltaika</span> uszyta na miarę!
    </h1>
</section>
-->

<div class="parallax-image-container" >
    <div style="background-image: url('/panele-slider-low-qt.png')" class="parallax-image parallax-image-grayscale is-height-30">
    </div>
    <div class="parallax-image-title">
        <h1 class="title">Fotowoltaika uszyta na miarę!</h1>
    </div>
</div>


<!--about us -->
<section class="section has-background-brand-gray">
    <div class="container is-max-desktop">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="block">
                        <h3 class="title">Dlaczego <span class="has-text-brand-yellow">Elmeco Technologie?</span></h3>
                        <p>
                            Jako Elmeco działamy w branży automatyki przemysłowej i przemyśle energetycznym od ponad 25 lat. Zdobyte doświadczenia pozwalają nam zadbać o zadowolenie każdego klienta zarówno pod względem zaawansowania technicznego i zaspokojenia potrzeb klienta jak również pod względem ekonomicznym.
                        </p>
                    </div>

                    <strong>Skontaktuj się z nami!</strong>
                    <a class="button is-link has-text-weight-bold">
                        <span class="icon-text has-text-white">
                            <span class="icon">
                              <i class="fas fa-phone"></i>
                            </span>
                            <span>+48 501 263 866</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-child">
                    <figure class="image">
                        <img src="/panele-konstrukcja-gruntowa.png" alt="Panele na konstrukcji gruntowej">
                    </figure>
                </div>
            </div>
        </div>



    </div>
</section>

<!-- credit agricole -->
<section class="section has-background-brand-blue ">
    <div class="container is-max-desktop">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="block has-text-white">
                        <h3 class="title has-text-white">Prąd ze słońca bez angażowania własnych środków?</h3>
                        <p>
                            Całość lub część inwestycji możemy zrealizować kredytem udzielonym przez bank Credit Agricole. Jest to specjalny kredyt pod fotowoltaikę. Ratę dobierzemy w takie sposób aby nie była wyższa niż obecnie płacone rachunki za prąd. Przeczytaj więcej o naszej ofercie kredytowej tutaj.
                        </p>
                    </div>

                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-child">
                    <section class="credit-agricole section">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent is-3">
                                <div class="tile is-child">
                                    <figure>
                                        <img src="/creditagricole.png" class="is-hidden-mobile">
                                        <img src="/creditagricole-h.png" class="is-hidden-tablet">
                                    </figure>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child content">
                                    <p>Kredyt na instalację fotowoltaiczną od Elmeco udzielony przez bank Credit Agricole jest idealnym sposobem na sfinansowanie instalacji
                                        bez angażowania własnych środków.</p>
                                    <ul>
                                        <li>Kwota kredytu do 80 000 zł,</li>
                                        <li>Okres od 5 do 10 lat,</li>
                                        <li>Oprocentowanie 0.25% miesięcznie (RRSO ok. 5,7%)</li>
                                        <li>Do 20 000 zł procedura uproszczona</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- our offer -->
<section class="section has-background-brand-gray ">
    <div class="container is-max-desktop">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <figure class="image">
                        <img src="/inzynier.png" alt="Zdjęcie inżyniera">
                    </figure>
                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-child">
                    <h3 class="title">Trzy filary dobrej oferty</h3>
                    <div class="tile is-ancestor is-vertical">
                        <div class="tile">
                            <div class="tile is-parent is-2">
                                <div class="tile is-child has-text-centered-mobile">
                                    <figure class="image is-inline-block-mobile">
                                        <img src="/ikonka-tarczy.png" alt="ikonka tarczy świadectwo gwarancji wysokiej jakości usług">
                                    </figure>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    Doświadczenie zdobywane latami. Czytaj więcej.
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile is-parent is-2">
                                <div class="tile is-child has-text-centered-mobile">
                                    <figure class="image is-inline-block-mobile">
                                        <img src="/ikonka-tarczy.png" alt="ikonka tarczy świadectwo gwarancji wysokiej jakości usług">
                                    </figure>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    Dbałość o szczegóły. Czytaj więcej.
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile is-parent is-2">
                                <div class="tile is-child has-text-centered-mobile">
                                    <figure class="image is-inline-block-mobile">
                                        <img src="/ikonka-tarczy.png" alt="ikonka tarczy świadectwo gwarancji wysokiej jakości usług">
                                    </figure>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    Materiały najwyższej klasy od światowych renomowaych producentów. Czytaj więcej.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact us -->
<section class="section has-background-brand-blue has-text-white">
    <div class="container is-max-desktop">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="block">
                        <h3 class="title has-text-white">Skontaktuj się z nami jeśli, <span class="has-text-brand-yellow">masz pytania</span>!</h3>
                        <p>
                            Nie zwlekaj i zadzwoń, z przyjemnością odpowiemy na wszelkie pytania. Nasi pracownicy w miły i przystępny sposób wyjaśnią nawet najbardziej skomplikowane rzeczy.
                        </p>
                    </div>

                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="columns is-mobile is-centered">
                        <div class="column has-text-centered">
                            <span class="icon-text has-text-white is-size-3">
                                <span class="icon">
                                    <i class="fas fa-phone"></i>
                                </span>
                                <span>&nbsp;<span class="is-underlined">+48 501 263 866</span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About pv -->
<section class="section has-background-brand-gray">
    <div class="container is-max-desktop">
        <div class="container is-max-desktop">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <figure class="image">
                            <img src="/fotowoltaika-zarowka.png">
                        </figure>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="block">
                            <h3 class="title">Co powinieneś wiedzieć?</h3>
                            <h3 class="subtitle">Trochę wiedzy technicznej</h3>
                            <div class="content">
                                <p>
                                    <strong class="has-text-brand-yellow">Fotowoltaika</strong> to dziedzina techniki zajmująca się przetwarzaniem energii światła (np. słonecznego)
                                    na energie elektryczną (prąd elektryczny). Mechanizm fizyczny tego zjawiska wyjaśnił nie kto
                                    inny jak sam twórca teorii względności - <strong class="has-text-brand-blue">Albert Einstein</strong>, za co w 1921 roku otrzymał <strong class="has-text-brand-blue">Nagrodę Nobla</strong>.
                                </p>
                                <p>
                                    Zainteresowało cię to? - czytaj więcej tutaj.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- References -->
<section class="section ">
    <div class="container is-max-desktop">
        <div class="container is-max-desktop">
            <div class="tile is-ancestor is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">

                            <h3 class="title"><span class="has-text-brand-yellow">Nasze</span> referencje</h3>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image is-128x128">
                                <img src="../../images/noimage.png">
                            </figure>
                            <ul>
                                <li><strong>Nazwa instalacji:</strong> Wroclaw LL</li>
                                <li><strong>Moc zainstalowana:</strong> 4.34 kWp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image is-128x128">
                                <img src="../../images/noimage.png">
                            </figure>
                            <ul>
                                <li><strong>Nazwa instalacji:</strong> Wroclaw LL</li>
                                <li><strong>Moc zainstalowana:</strong> 4.34 kWp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image is-128x128">
                                <img src="../../images/noimage.png">
                            </figure>
                            <ul>
                                <li><strong>Nazwa instalacji:</strong> Wroclaw LL</li>
                                <li><strong>Moc zainstalowana:</strong> 4.34 kWp</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Steps to make pv -->

<%
let howToStart = [{
    img: "/pierwszy-kontakt.png",
    alt: "Symbol telefonu",
    title: "Pierwszy kontakt i ustalenie potrzeb",
    text: ["Zadzwoń do nas, napisz maila lub sms. Podaj swoje potrzeby i oczekiwania, dotychczasowe zużycie energii elektrycznej, a jeśli nie potrafisz tego ustalić – prześlij skan rachunków za prąd za ostatni rok. Podaj również lokalizację nieruchomości (najlepiej współrzędne GPS)."]
},{
    img: "/kalkulacja-instalacji.png",
    alt: "Symbol kalkulatora",
    title: "Kalkulacja wstępna",
    text: ["Na podstawie otrzymanych od Ciebie danych sporządzimy wstępną kalkulację i zaproponujemy dalszy tryb postępowania."]
},{
    img: "/wycena-instalacji.png",
    alt: "Symbol cenówki w sklepie",
    title: "Wizja lokalna",
    text: ["Jeśli dla precyzyjnej wyceny niezbędna będzie wizja lokalna obiektu, chętnie Cię odwiedzimy. Wykonamy pomiary, zrobimy zdjęcia i wszystko inne, co będzie potrzebne do dalszych prac.","Przygotuj wszystkie niezbędne dane techniczne (rachunki za prąd, umowę z dostawcą energii, dokumentację budowlana obiektu itp). Zastanów się nad możliwościami finansowania inwestycji itd."]
},{
    img: "/zwrot-instalacji.png",
    alt: "Reka sięgająca po zyski",
    title: "Oferta",
    text: ["Na podstawie uzyskanych danych otrzymasz kompletną ofertę zawierającą specyfikacje techniczną instalacji, koszt, termin i sposób zapłaty, termin realizacji. Ocenimy również czas zwrotu inwestycji i inne parametry.","W dalszym ciągu jeszcze masz możliwość negocjacji wszystkich elementów oferty zarówno technicznych jak również terminów i ceny."]
},{
    img: "/umowa-na-wykonanie-instalacji.png",
    alt: "Symbol zawierania umowy",
    title: "Zawarcie umowy",
    text: ["Jeśli oferta spełnia Twoje oczekiwania zaproponujemy Umowę, która stanie się podstawą do wykonania instalacji.","Na tym etapie możemy poprosić Cię o wpłatę zaliczki lub innego zabezpieczenia finansowego."]
},{
    img: "/projekt-instalacji.png",
    alt: "Symbol udzielania prezentacji",
    title: "Wykonanie projektu",
    text: ["Na tym etapie wykonanie projektu będzie już jedynie formalnością, gdyż wszystkie niezbędne uzgodnienia już mamy za sobą. Projekt będzie jednak potrzebny do wykonania instalacji przez monterów, złożenia wniosku do energetyki no i dla Ciebie na przyszłość"]
},{
    img: "/dostawa-instalacji.png",
    alt: "Samochód dostawczy",
    title: "Dostawa urządzeń",
    text: ["W umówionym czasie dostarczymy wszystkie niezbędne urządzenia i elementy systemu. Może się to odbyć jednorazowo lub w etapach, w zależności od wielkości instalacji lub innych uwarunkowań.","Jeśli montaż urządzeń nie nastąpi bezpośrednio po dostawie, poprosimy cię abyś przygotował miejsce do bezpiecznego zmagazynowania elementów. Na tym etapie możemy poprosić Cię również o wpłatę kolejnej części zapłaty – wszystko jednakże zgodnie z Umową."]
},{
    img: "/wykonanie-instalacji.png",
    alt: "Piorun w okręgu",
    title: "Wykonanie instalacji",
    text: ["To zajmie kilka dni (1-2 dla instalacji o mocy ok. 5kW – przy większych mocach, lub jeśli instalacja będzie bardziej skomplikowana - nieco dłużej). Zabudujemy panele i inne urządzenia, wykonamy trasy dla kabli, połączymy wszystkie elementy w jeden system.", "Oczywiście, jeśli chcesz, część prac (lub nawet wszystkie) możesz wykonać sam, we własnym zakresie. My udzielimy ci niezbędnych rad i wskazówek."]
},{
    img: "/uruchomienie-instalacji.png",
    alt: "Mechanik z narzędziami",
    title: "Uruchomienie instalacji",
    text: ["Po zmontowaniu instalacji w całość i sprawdzeniu poprawności i zgodności z projektem (jeśli to ty wykonałeś instalację) jej uruchomienie stanowi jedynie formalność. Potem potrzeba tylko nieco słońca i prąd zaczyna się sam produkować.","Jeśli nie umówimy się inaczej, po uruchomieniu poprosimy cię o końcową zapłatę."]
},{
    img: "/zgloszenie-do-energetyki.png",
    alt: "Start rakiety",
    title: "Zgłoszenie instalacji do energetyki",
    text: ["Tą formalność zrobimy za Ciebie. Niczym nie musisz się przejmować. Robiliśmy to wielokrotnie, mamy niezbędne uprawnienia, wiedzę i doświadczenie, więc i tym razem damy radę.  Niestety energetyka ma 30 dni na rozpatrzenie wniosku i, jeśli wszystko będzie OK, zabudowę nowego, dwukierunkowego licznika. Dlatego, zgłoszenie zrobimy na ok. 30 dni przed przewidywanym terminem uruchomienia instalacji.", "Również i tą formalność możesz zrobić sam, ale jeśli my mamy to zrobić, wystarczy, że udzielisz nam stosownego pełnomocnictwa."]
}]
%>

<section class="section has-background-brand-gray">
    <div class="container is-max-desktop is-relative">

        <!--<figure class="image" style="position:absolute; width: 60vw; z-index: 1">
            <img src="../../images/procerdura-jak-zrobic-fotowoltaike.png" >
        </figure>-->

        <div class="tile is-ancestor" style="position: relative; z-index: 20">
            <div class="tile is-parent">
                <div class="tile is-child">

                    <h3 class="title"><span class="has-text-brand-yellow">Jak zbudować instalację fotowoltaiczną?</span> wystarczy kilka kroków</h3>
                </div>
            </div>
        </div>

        <div class="section"></div>
        <div class="tile is-ancestor is-vertical" style="position: relative; z-index: 1000">
            <div class="tile">
                <div class="tile is-4">

                </div>
                <div class="tile">
                    <div class="tile is-parent is-2">
                        <div class="tile is-child">
                            <figure class="image is-64x64">
                                <img src="../../images/procerdura-jak-zrobic-fotowoltaike.png" >
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <p>
                                Poniżej w kilku krokach przedstawiamy procedurę od pomysłu, do uruchomienia instalacji fotowoltaicznej.
                                Będzie ona wymagała nieco współpracy również i z Twojej strony – <span class="has-text-brand-blue">
                                    w opisach znajdziesz informacje, co na każdym z etapów ty powinieneś zrobić.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section"></div>

        <div class="tile is-ancestor is-vertical" style="position: relative; z-index: 1000">
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child has-text-centered">
                        <h4 class="subtitle has-text-weight-bold">Przejdź z nami te <span class="has-text-brand-yellow">10 kroktów!</span></h4>
                    </div>
                </div>
            </div>

            <%for(let i=0;i<howToStart.length-1; i+=2){%>
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile card">
                        <div class="tile is-parent is-3">
                            <div class="tile is-child is-relative">
                                <figure class="image small-image-mobile" style="width: 100%">
                                    <img src="<%-howToStart[i].img%>" style="margin: auto" alt="<%-howToStart[i].alt%>">
                                </figure>
                            </div>
                        </div>
                        <div class="tile is-parent is-9">
                            <div class="tile is-child is-vertical">
                                <div class="tile is-child">
                                    <h1 class="subtitle-1"><%-i+1%>. <%-howToStart[i].title%></h1>
                                    <div class="gradient-line"></div>
                                </div>
                                <div class="tile is-child content">
                                    <%for(let j in howToStart[i].text){%>
                                    <p>
                                        <%-howToStart[i].text[j]%>
                                    </p>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile card">
                        <div class="tile is-parent is-3">
                            <div class="tile is-child is-relative">
                                <figure class="image small-image-mobile" style="width: 100%">
                                    <img src="<%-howToStart[i+1].img%>" style="margin: auto" alt="<%-howToStart[i+1].alt%>">
                                </figure>
                            </div>
                        </div>
                        <div class="tile is-parent is-9">
                            <div class="tile is-child is-vertical">
                                <div class="tile is-child is-vertical">
                                    <h1 class="subtitle-1"><%-i+2%>. <%-howToStart[i+1].title%></h1>
                                    <div class="gradient-line"></div>
                                </div>
                                <div class="tile is-child content">
                                    <%for(let j in howToStart[i+1].text){%>
                                    <p>
                                        <%-howToStart[i+1].text[j]%>
                                    </p>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>
