<template>
    <td :class="classes">
        <slot></slot>
    </td>
</template>

<script>
export default {
    name: "tdFormatted",
    props: ['max', 'min', 'value'],

    computed: {
        classes: function (){
            if(this.min != undefined && this.value < this.min){
                return ['has-background-danger', 'has-text-light']
            }
        }
    }
}
</script>

<style scoped>

</style>
