<template>
    <div ref="tab">
        <div v-if="searchBoxEn" class="block"><input type="text" v-model="filter" @input="remount()"></div>
        <div class="table-container" >
            <table ref="table" :class="tableClasses ? tableClasses : 'reference-table'">
                <slot name="header"></slot>
                <slot name="rows" v-bind:data="pageData" v-bind:local="pageDataLocal"></slot>
                <slot name="pageFooter" v-bind:data="pageData"></slot>
            </table>
            <table-pagination
                v-if="!paginationDisable"
                ref="pagination"
                :table="table"
                :filters="createFilters"
                :constraints="buildConstraints"
                :activePage="activePage"
                :onClickCreateNew="onClickCreateNew"
                :set-page-size="setPageSize"
                v-on:changed="onPaginationChanged"
            ></table-pagination>
        </div>
        <print-button v-if="printTitle" :target="$refs.table" :title="printTitle"></print-button>
    </div>

</template>

<script>

import TablePagination from "./tablePagination.vue";
import Message from "../../../../assets/messages/message.vue";
import tableApi from "../../../../plugins/tableApi";
import PrintButton from "../../../../assets/buttons/printButton.vue";
import globalFunctions from "../../../../plugins/globalFunctions.js";
export default {
    name: "tableSimple",
    components: {PrintButton, Message, TablePagination},
    mixins: [tableApi, globalFunctions],
    props: ['prefix', 'onClickCreateNew', 'table', 'tableClasses', 'constraints', 'searchBoxEn', 'paginationDisable', 'printTitle', 'setPageSize', 'filters'],
    data: function() {
        return {
            activePage:0,
            filter: "",
            data: [],
            pageDataLocal: [],
            displayDataReload: 0,
            editableCell: [],
            foreignTables: {},
            childrenWaitingForForeignTables: {},
            reloadCounter: 0,
            headerConstrains: [],
            headerOrderBy: [],
            delayedInitTimout: null
        }
    },

    mounted() {
        console.log("mounted")
        this.init()
    },

    methods: {
        /**
         * Function used to expand or collapse additional row with more info/details or others
         */
        expandRow: function (index, val = 1){
            this.$set(this.pageDataLocal ,index, val)
        },
        collapseRow: function (index){
            this.$set(this.pageDataLocal ,index, 0)
        },

        delayedInit:function (){
            let self = this

            //restart interval
            if(this.delayedInitTimout) {
                clearInterval(this.delayedInitTimout)
            }

            this.delayedInitTimout = setTimeout(() => {
                console.log("delayedInit")
                self.init()
                self.delayedInitTimout = null
            },1000)

        },

        notifyChangedOrderBy: function (field, direction){
            let keyExists = false
            for(let i in this.headerOrderBy){
                for(let j in this.headerOrderBy[i]){
                    if(this.headerOrderBy[i][0] == field){
                        keyExists = true
                        if(direction == 0){
                            this.headerOrderBy.splice(parseInt(i), 1)
                        }else{
                            this.headerOrderBy[i][key] = value
                        }
                    }
                }
            }

            if(!keyExists){
                this.headerOrderBy.push({[field]: value})
            }
        },

        notifyChangedConstraints: function (field, value){
            let keyExists = false
            for(let i in this.headerConstrains){
                let keys = Object.keys(this.headerConstrains[i])
                for(let key of keys){
                    if(key == field){
                        keyExists = true
                        if(value == ""){
                            this.headerConstrains.splice(parseInt(i), 1)
                        }else{
                            this.headerConstrains[i][key] = value
                        }
                    }
                }
            }

            if(!keyExists){
                this.headerConstrains.push({[field]: value})
            }

            //this.$set(this, 'headerConstrains', this.headerConstrains)
        },

        maxOfField: function (field){
            if(this.data.length == 0) return undefined
            let max = undefined
            for(let i in this.data){
                if(this.data[i]) {
                    if (this.data[i][field] > max) {
                        max = this.data[i][field]
                    }
                }
            }
            return max
        },

        registerEditableCell: function (editableCell){
            this.editableCell.push(editableCell)
        },

        loadForeignTable: function (child, {table}){

            if(this.foreignTables[table]){
                //return immediately
                child.notifyReferenceData(this.foreignTables[table])
            }else {
                //add to waiting children
                if(this.childrenWaitingForForeignTables[table]){
                    this.childrenWaitingForForeignTables[table].push(child)
                }
                //this is the first ask for that table
                else{
                    this.childrenWaitingForForeignTables[table] = [child]
                    this.dbFindAllIds({
                        table
                    }).then(m => {
                        this.foreignTables[table] = m

                        let children = this.childrenWaitingForForeignTables[table]
                        //notify all waiting children
                        for(let c of children){
                            c.notifyReferenceData(this.foreignTables[table])
                        }
                        //remove queue
                        delete this.childrenWaitingForForeignTables[table]
                    })
                }
            }

        },

        unregisterEditableCell:function (editableCell){
            let index = this.editableCell.indexOf(editableCell)
            if(index >= 0) {
                this.editableCell.splice(index, 1)
            }
        },

        cellOpened:function (editableCell){
            for(let i in this.editableCell)
                if(this.editableCell[i] && this.editableCell[i] != editableCell)
                    this.editableCell[i].toDisplayMode()
        },

        init: function() {
            console.log("init")
            this.data = []
            this.remount()
        },

        onPaginationChanged: function (payload){

            let reload = false
            if(payload.activePage != this.activePage){
                this.activePage = payload.activePage
                reload = true
            }
            if(payload.pageSize != this.pageSize){
                this.pageSize = payload.pageSize
            }
            if(payload.count != this.data.length){
                this.data = new Array(payload.count )
                this.data = this.data.map(() => {return {}})
                this.$set(this, 'data', this.data)
                reload = true
            }
            console.log("table simple", payload, reload)

            if(reload){
                this.load()
            }

            //this.$emit("paginationChanged", payload)
        },

        setPage: function (val) {
            this.activePage = val
        },

        pageSizeChanged: function(pageSize){
            this.pageSize = pageSize
        },

        remount: function(){
            if(!this.paginationDisable) {
                //move to pagination. If it is needed then pagination executes this.load()
                this.$refs.pagination.remount()
            }else{
                //skip pagination processing simple load a whole query
                this.load()
            }
        },

        load: function (page, callback) {
            if(!page) page = this.activePage
            let offset = page * this.pageSize
            offset = offset >= 0 ? offset : undefined

            //if pagination is not disabled
            let options = {}
            if(!this.paginationDisable){
                options = {
                    offset,
                    limit: this.pageSize
                }
            }

            this.axiosPostMsg('/tablemanagement/findall', {
                table: this.table,
                options,
                constraints: this.buildConstraints,
                filter: this.createFilters
            }).then(m => {
                if(!this.paginationDisable) {
                    let k = this.data
                    for (let i = offset; i < offset + this.pageSize; ++i) {
                        k[i] = m[i - offset]
                    }

                    this.$set(this, 'data', k)
                    this.pageDataLocal = new Array(this.pageSize)
                    this.displayDataReload++

                    if (callback) callback()
                }else{
                    this.$set(this, 'data', m)
                    this.displayDataReload++
                }
            })
        },

        getPrefix() {
            return this.prefix || ""
        },

        insertEmptyRow: function (newItem){
            if(!newItem) {
                newItem = Object.assign({}, this.data[this.data.length - 1])
                newItem.id = 0
            }
            this.data.splice(0,0,newItem)
        },

        radioButton: function (index, retVal, retVal2){
            for(let i in this.pageDataLocal)
                if(i != index)
                    //this.$set(this.pageDataLocal, i, false)
                    this.pageDataLocal[i] =  false

            if(retVal)
                this.$emit("onCheckboxChanged", retVal, retVal2)
            else
                this.$emit("onCheckboxChanged", this.pageData[index])
        }
    },

    watch: {
        pageSize: function () {
            this.setPage(this.activePage)
            this.pageDataLocal = new Array(this.pageSize)
        },

        table: function () {
            console.log("table watch")
            this.init()
        },

        prefix: function () {
            console.log("prefix watch")
            this.init()
        },

        constraints: function (newVal, oldVal) {
            //deep comparison
            if (JSON.stringify(newVal) != JSON.stringify(oldVal)){
                console.log("constraints")
                this.delayedInit()
            }
        },

        headerConstrains: {
            deep: true,
            handler : function(newVal, oldVal){
                console.log("headerConstrains")
                this.delayedInit()
            }
        },

        filters: {
            deep: true,
            handler : function(newVal, oldVal){
                console.log("filters", newVal, oldVal)

                if(JSON.stringify(newVal) != JSON.stringify(oldVal))
                    this.delayedInit()
            }
        },

        displayDataReload: function (){
            if(!this.paginationDisable) {
                let begin = this.activePage * this.pageSize
                let data = this.data.slice(begin, begin + this.pageSize)
                this.$emit("dataChanged", data)
            }else{
                this.$emit("dataChanged", this.data)
            }
        },

        activePage: function (){
            this.pageDataLocal = new Array(this.pageSize)
        },
        data: function (){
            console.log(this.data)
        }
    },

    computed: {
        pageData: function (){
            this.displayDataReload;
            if(!this.paginationDisable) {
                let begin = this.activePage * this.pageSize
                let end = begin + this.pageSize

                //remove undefined values
                while (!this.data[end] && begin <= end) {
                    end--
                }

                return this.data.slice(begin, end + 1)
            }
            else{
                return this.data
            }
        },

        buildConstraints: function () {
            let c = [...(this.constraints || [])]

            return c || []
        },

        createFilters: function () {

            let ret = {}

            if(this.headerConstrains) {
                for(let i in this.headerConstrains) {
                    for (let key in this.headerConstrains[i]) {
                        ret[key] = this.headerConstrains[i][key]
                    }
                }
            }

            if(this.filters){
                for(let k in this.filters){
                    ret[k] = this.filters[k]
                }
            }

            return ret
        },

        classes: function (){
            switch (this.classesSwitch){
                case 0: return "table is-narrow is-bordered is-print-formatted"
                case 1: return "reference-table"
            }
        }
    }
}
</script>

<style scoped>

</style>
