<template>
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <nav class="pagination is-small" role="navigation" aria-label="pagination">
                    <button @click="setPage(activePage - 1)" class="pagination-previous">
                                        <span class="icon is-small">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                    </button>
                    <button @click="setPage(activePage + 1)" class="pagination-next">
                                        <span class="icon is-small">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                    </button>
                    <ul class="pagination-list">
                        <li><button v-if="activePage > 1" @click="setPage(0)" class="pagination-link">1</button></li>
                        <li>
                            <span v-if="activePage > 1" class="pagination-ellipsis">&hellip;</span>
                        </li>
                        <li>
                            <button v-if="activePage > 0" @click="setPage(activePage - 1)" class="pagination-link" aria-label="Goto page 45">{{activePage}}</button>
                        </li>
                        <li>
                            <button class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{activePage + 1}}</button>
                        </li>
                        <li>
                            <button v-if="activePage < pages - 1" @click="setPage(activePage + 1)" class="pagination-link" aria-label="Goto page 47">{{activePage + 2}}</button>
                        </li>
                        <li>
                            <span v-if="activePage  < pages - 2" class="pagination-ellipsis">&hellip;</span>
                        </li>
                        <li>
                            <button v-if="activePage < pages - 2" @click="setPage(pages-1)" class="pagination-link">{{pages}}</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="select is-small">
                    <select v-model="pageSize" @change="pageSizeChanged">
                        <option :value="10">10/stronę</option>
                        <option :value="20">20/stronę</option>
                        <option :value="50">50/stronę</option>
                        <option :value="100">100/stronę</option>
                        <option :value="250">250/stronę</option>
                        <option :value="500">500/stronę</option>
                    </select>
                </div>
            </div>
            <div class="level-item" v-if="typeof onClickCreateNew == 'function'">
                <button @click="onClickCreateNew" class="button is-small is-success">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
            <div class="level-item" v-else-if="onClickCreateNew">
                <router-link :to="onClickCreateNew" class="button is-small is-success">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "tablePagination",
    props: ['onClickCreateNew', 'table', 'filters', 'constraints', 'prefix', 'setPageSize'],
    data(){
        return {
            pageSize: this.setPageSize || 20,
            count: 0,
            activePage: 0,
        }
    },
    mounted() {
        //console.log(this.$data)
    },
    methods: {
        remount: function (){
            console.log("remount")
            let reloaded = false
            if(this.$route.query[this.getPrefix() + 'pageSize']) {
                this.pageSize = parseInt(this.$route.query[this.getPrefix() + 'pageSize'])
                this.$emit("pageSizeChanged", this.pageSize)
                reloaded = true
            }

            if(this.$route.query[this.getPrefix() + 'activePage']) {
                this.activePage = parseInt(this.$route.query[this.getPrefix() + 'activePage'])
                this.$emit('pageChanged', this.activePage)
                reloaded = true
            }


            this.loadCount()
        },

        emitOnChanged: function (){
            /*console.log({
                pageSize: this.pageSize,
                pages: this.pages,
                activePage: this.activePage,
            })*/
            this.$emit("changed", {
                pageSize: this.pageSize,
                pages: this.pages,
                activePage: this.activePage,
            })
        },
        pageSizeChanged: function (){
            if(this.activePage*this.pageSize > this.count){
                this.activePage = Math.floor(this.count/this.pageSize)
            }

            this.emitOnChanged()
        },

        loadCount: function(){

            console.log("loadCount")
            let self = this
            this.axiosPostMsg('/tablemanagement/count', {
                table: this.table,
                constraints: this.constraints,
                filter: this.filters
            }).then(m => {
                if(m.count instanceof Array){
                    m.count = m.count.length
                }

                self.count = m.count
                //console.log(self)
                //console.log("count loaded", m.count, self.count)
                self.$emit('countChanged', m.count)
                //store count and emit signal. Signal takes computed parameter pages based on page size and count
                self.emitOnChanged()
            })
        },
        setPage: function(val){
            console.log("setPage")
            if(val < this.pages && val >= 0){
                //this.load(val, () => {
                this.activePage = val
                this.emitOnChanged()
                //})
            }
        },
        getPrefix() {
            return this.prefix || "";
        }
    },
    watch: {
        activePage: function (val){
            if(this.$route.query.activePage != val)
                this.$router.push({query: Object.assign({}, this.$route.query, {[this.getPrefix() + 'activePage']: val})})

        },
        pageSize: function (){
            if(this.$route.query.pageSize != this.pageSize)
                this.$router.push({query: Object.assign({}, this.$route.query, {[this.getPrefix() + 'pageSize']: this.pageSize})})
        },
        count: function (val){
            console.log("count changed!!!!", val)
        }
    },
    computed: {
        pages: function() {
            return Math.ceil(this.count / this.pageSize)
        },
    }
}
</script>

<style scoped>

</style>
