<template>
    <div class="field is-horizontal" v-if="currentData && !disableEditMode">
        <div class="field-label is-normal">
            <label class="label">{{translate(currentData.key)}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div :class="['control', 'has-icons-left', updated ? 'has-icons-right' : '']">

                    <span v-if="currentData.primaryKey == true" class="icon">
                        <i class="fas fa-key" style="color:#fcba03"></i>
                    </span>

                    <span v-if="updated == true" class="icon is-right">
                        <i class="fas fa-exclamation-triangle has-text-link"></i>
                    </span>

                    <template v-if="currentData.references">
                        <span class="icon">
                            <i class="fas fa-link has-text-success"></i>
                        </span>
                        <div class="select">
                            <select v-model="currentData.value" @change="changed">
                                <option :value="0">Nowy</option>
                                <option v-if="currentData.allowNull" :value="null">Null</option>
                                <option v-for="o in options" :value="o.id">{{optionText(o)}}</option>
                            </select>
                        </div>
                    </template>
                    <template v-else-if="currentData.type.match(/FLOAT|DOUBLE/)">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <input class="input" type="number" :placeholder="currentData.defaultValue" v-model="currentData.value" @change="changed">
                    </template>
                    <template v-else-if="currentData.type.match(/VARCHAR\S*/)">
                        <textarea rows="1" class="textarea" :placeholder="currentData.defaultValue" v-model="currentData.value" @change="changed"></textarea>
                    </template>
                    <div class="has-background-white content" v-else-if="currentData.type.match(/TEXT\S*/)">
                        <wysiwyg v-if="rich == true" v-model="currentData.value" @change="changed"/>
                        <textarea v-else rows="10" class="textarea" :placeholder="currentData.defaultValue" v-model="currentData.value" @change="changed"></textarea>
                        <button class="button" @click="rich = !rich">Edytor / Tekst</button>
                    </div>
                    <template v-else-if="currentData.type.match(/TINYINT/)">

                        <label class="radio">
                            <input type="radio" :name="currentData.key" value="1" v-model="currentData.value" @change="changed">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" :name="currentData.key" value="0" v-model="currentData.value" @change="changed">
                            No
                        </label>
                    </template>
                    <template v-else-if="currentData.type.match(/INT\S*/)">
                        <span v-if="currentData.primaryKey != true"class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <input class="input" type="number" step="1" :placeholder="currentData.defaultValue" v-model="currentData.value" @change="changed">

                    </template>
                    <template v-else-if="currentData.type.match(/DATETIME/)">
                        <span class="icon">
                            <i class="fas fa-calendar"></i>
                        </span>

                        <input class="input" type="datetime-local" :placeholder="currentData.defaultValue" v-model="currentData.value" @change="changed">
                    </template>
                    <template v-else-if="currentData.type.match(/BLOB/)">
                        <input type="file" :name="currentData.key" @change="previewFiles"><br>
                        <output>
                            <img class="thumb" :src="currentData.value">
                        </output>
                    </template>
                    <template v-else>
                        Nieznany format danych {{currentData.type}}
                    </template>
                    <p class="help is-success">{{currentData.comment}}</p>
                </div>
            </div>
        </div>
    </div>
    <tr v-else-if="currentData">
        <td>{{translate(currentData.key)}}</td>
        <td v-if="currentData.type.match(/TEXT\S*/)" v-html="currentData.value">
        </td>
        <td v-else>{{currentData.value}}</td>
    </tr>

</template>

<script>
    export default {
        name: "tableEditField",
        props: ['data', 'depth', 'disableEditMode'],
        data() {
            return {
                currentData: null,
                options: [],
                updated: false,
                rich: true
            }
        },

        mounted() {
            this.remount()
        },

        methods: {
            forceSet: function(val){
                this.updated = true
                this.$set(this.currentData, 'value', val)
            },

            loadReferences: function (model) {
                this.axiosPostMsg('/tablemanagement/findAll',{
                    table: model,
                    constraints: []
                }).then(m => {
                    this.$set(this, 'options', m)
                })
            },

            remount: function(){
                //console.log("field", this.depth, this.data)

                this.currentData = Object.assign({}, this.data)

                if(this.currentData.type.match(/DATETIME/)){
                    this.currentData.defaultValue = this.toDateInputFormat(this.data.defaultValue)
                    this.currentData.value = this.toDateInputFormat(this.data.value)
                }

                if(this.currentData.references){
                    this.loadReferences(this.currentData.references.model)
                }

                if(this.currentData.forceUpdated)
                    this.updated = true
                else
                    this.updated = false
                this.$set(this, 'currentData', this.currentData)
            },

            previewFiles: function(event) {
                let self = this
                for(let file of event.target.files){
                    let reader = new FileReader();

                    reader.onload = (function(file) {
                        return function (e) {
                            //console.log("result", e.target.result)
                            let base = e.target.result.split(',')
                            self.$set(self.currentData, "value", base[base.length-1])
                        }
                    })(file)

                    //read as base 64
                    reader.readAsDataURL(file);
                    //read as blob data
                    //console.log(reader)
                    //reader.readAsBinaryString(file)
                }
                this.changed()
            },

            changed: function () {


                this.updated = true
                this.$emit('changed', this.currentData.key, this.currentData.value)
            },

            cancel: function () {
                this.remount()
            },

            isChanged(){
                return this.updated
            },

            getValue(){
                let obj = {}
                obj[this.currentData.key] = this.currentData.value
                return obj
            },

            optionText(option){
                let desc = ""

                if(option.name){
                    desc = option.name
                } else if(option.key) {
                    desc = option.key
                } else if(option.shortDesc) {
                    desc = option.shortDesc
                } else if(option.description) {
                    desc = option.description
                } else {
                    desc = "no 'name' field available"
                }

                return option.id + " - " + desc
            }
        },

        watch: {
            data: function () {

                this.remount()
            },
        }
    }
</script>

<style scoped>

</style>
