<template>

    <td v-if="editMode" v-click-outside="toDisplayMode" class="is-relative">
        <template v-if="dataValue instanceof Date">
            <input type="datetime-local" :placeholder="inputValue" v-model="inputValue">
        </template>
        <template v-else-if="isReference">
            <select v-model="inputValue" @change="toDisplayMode">
                <option :value="null">Null</option>
                <option v-for="o in options" :value="o.id"> {{o.name}}</option>
            </select>
        </template>
        <template v-else-if="typeof dataValue == 'boolean'">
            <select v-model="inputValue" @change="toDisplayMode">
                <option :value="true">Tak</option>
                <option :value="false">Nie</option>
            </select>
        </template>
        <template v-else-if="typeof dataValue == 'number'">
            <input type="number" v-model="inputValue" @keyup.enter="toDisplayMode" class="absolute-fill-parent">
        </template>
        <template v-else>
            <textarea type="text" v-model="inputValue" @keyup.enter="toDisplayMode" :cols="cols" class="absolute-fill-parent"></textarea>
        </template>
    </td>
    <td v-else @dblclick="toEditableMode" :class="classes">
        <template v-if="dataValue instanceof Date">
            {{renderDate(dataValue)}}
        </template>
        <template v-else-if="typeof dataValue == 'object'">
            {{renderString(JSON.stringify(dataValue))}}
        </template>
        <template v-else-if="isReference">
            {{inOptions(dataValue)}}
        </template>
        <template v-else-if="typeof dataValue == 'array'">
            {{renderString(dataValue.reduce((acc, val) => {return acc + "," + val}, ""))}}
        </template>
        <template v-else-if="typeof dataValue == 'string'">

            {{renderString(dataValue)}}
        </template>
        <template v-else-if="typeof dataValue == 'number'">
            {{(dataValue).toFixed(2)}}
        </template>
        <template v-else-if="typeof dataValue == 'boolean'">
            <span class="icon">
                <i v-if="dataValue" class="fas fa-check has-text-success"></i>
                <i v-else class="fas fa-times"></i>
            </span>
        </template>
        <template v-else>
            {{dataValue}}
        </template>
    </td>
</template>

<script>
    import tableApi from "../../../../plugins/tableApi.js";

    export default {
        name: "tableSimpleCell",
        props: ['table', 'id', 'field', 'foreignTable', 'value', 'constraints'],
        mixins: [tableApi],
        data: function () {
            return {
                dataValue: this.value,
                editMode: false,
                tableSimpleParent: null,
                inputValue: this.value,
                changedStatus: null,
                options: [],
            }
        },
        mounted() {
            if(this.$parent.$options._componentTag != "table-simple"){
                console.error("tableSimpleCell has to be rendered as a direct child of tableSimpleComponent!")
            }else{
                this.tableSimpleParent = this.$parent
                this.tableSimpleParent.registerEditableCell(this)
            }

            if(this.isReference){
                this.loadReferencedData()
            }
        },
        destroyed() {
            if(this.tableSimpleParent){
                this.tableSimpleParent.unregisterEditableCell(this)
            }
        },
        methods: {
            inOptions: function (){
                for(let i in this.options){
                    if(this.options[i].id == this.dataValue){
                        return this.options[i].name
                    }
                }
            },

            /**
             * Function is executed by tableSimple which is a parent of tableSimpleCell
             * @param table
             */
            notifyReferenceData: function (table){
                this.$set(this, 'options', table)
            },

            loadReferencedData: function (){
                if(this.tableSimpleParent){
                    this.tableSimpleParent.loadForeignTable(this, {table: this.foreignTable})
                }
            },

            toEditableMode: function (){
                this.editMode = true

                if(this.tableSimpleParent){
                    this.tableSimpleParent.cellOpened(this)
                }

            },

            toDisplayMode: function (){
                this.editMode = false

                let d
                if(this.dataValue instanceof Date){
                    d = this.fromDateInputFormat(this.inputValue)

                    if(d.getTime() != this.dataValue.getTime()){
                        this.dataValue = d
                        this.changed()
                    }

                }else{
                    if(this.dataValue != this.inputValue){
                        this.dataValue = this.inputValue
                        this.changed()
                    }
                }
            },

            changed: function (){
                this.$emit("changed", this.dataValue)

                if(this.field && this.table && this.id) {
                    this.dbUpdate({
                        table: this.table,
                        id: this.id,
                        data: {
                            [this.field]: this.dataValue
                        }
                    }).then(() => {this.changedStatus = true}).catch(() => {this.changedStatus = false})
                }else{
                    console.log("Cannot update database, some props not given.")
                }
            },


        },
        watch: {
            value: function (){
                this.dataValue = this.value
            },
            dataValue: function (){

                if(this.dataValue instanceof Date){
                    this.inputValue = this.toDateInputFormat(this.dataValue)
                }else{
                    this.inputValue = this.dataValue
                }
                this.changedStatus = null
            },
            foreignTable: function(){
                if(this.isReference){
                    this.loadReferencedData()
                }
            }
        },
        computed: {
            cols: function (){
                let l = 0
                if(this.dataValue)
                    l = this.dataValue.toString().length

                if(l < 8){
                    return 8
                }else if(l > 50){
                    return 50
                }else{
                    return l
                }
            },
            classes: function (){
                if(this.changedStatus == null){
                    return []
                }else if(this.changedStatus == true){
                    return ['has-background-success']
                }else{
                    return ['has-background-danger']
                }
            },
            isReference: function (){
                return this.foreignTable
            }
        }
    }
</script>

<style scoped>

</style>
