<template>
    <div>
        <message ref="message"></message>
        <div class="block"><input type="text" v-model="filter" @input="remount()"></div>
        <div class="reference-table-container is-height-80">
            <table class="reference-table block">
                <tr>
                    <th rowspan="2">L.p.</th>
                    <th v-for="d in details.fields" :colspan="colspan(d)" :rowspan="rowspan(d)">
                        <span v-if="d.references">{{translate(d.references.as)}}</span>
                        <span v-else>{{translate(d.name)}}</span>
                    </th>
                    <th rowspan="2">Akcje</th>
                </tr>
                <tr>
                    <template v-for="d in details.fields" v-if="d.references && d.references.details">
                        <th v-for="key in Object.keys(d.references.details.fields)">
                            {{key}}
                        </th>
                    </template>
                </tr>
                <template v-for="(row, index) in displayData" v-if="row">
                    <tr>
                        <td>{{parseInt(index)+1 + (activePage * pageSize)}}</td>
                        <template >
                            <template v-for="d in details.fields" >
                                <template v-if="d.references && d.references.as">
                                    <template v-if="row[d.references.as]">
                                        <template v-for="key in Object.keys(d.references.details.fields)">
                                            <user-database-table-brief-cell
                                                    :name="key"
                                                    :type="d.references.details.fields[key].type"
                                                    :row="row[d.references.as]"
                                            ></user-database-table-brief-cell>
                                        </template>
                                    </template>
                                    <td v-else :colspan="Object.keys(d.references.details.fields).length">
                                        {{JSON.stringify(row[d.name])}}
                                    </td>
                                </template>
                                <user-database-table-brief-cell
                                    v-else
                                    :name="d.name"
                                    :type="d.type"
                                    :row="row"
                                ></user-database-table-brief-cell>
                            </template>
                        </template>
                        <td>
                            <template v-if="!disableEditButton || disableEditButton == false">
                                <router-link :to="'/database/' + table + '/edit/' + row.id + '?redirect=' + $route.fullPath" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </router-link>
                            </template>

                            <template v-if="enableActivateButton">
                                <button class="button is-small is-success" @click="activate(index)">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                </button>
                            </template>

                            <template v-if="onClickRedirection">
                                <router-link :to="onClickRedirection + '/' + row.id + (onClickRedirectionPostfix ? onClickRedirectionPostfix : '')" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </router-link>
                            </template>

                            <template v-if="!disableRemoveButton || disableRemoveButton == false">
                                <button class="button is-small is-danger" @click="remove(row.id)">
                                    <span class="icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </button>
                            </template>
                        </td>
                    </tr>
                    <!---open table brief inside. recurrence structure-->
                    <!--<tr v-if="active == index">
                        <td :colspan="footerColspan">
                            <div class="block" v-for="d in details.associations">
                                <strong>{{d.target}}</strong>
                                <table-brief
                                    :table="d.target"
                                ></table-brief>
                            </div>
                        </td>
                    </tr>-->
                </template>
            </table>
        </div>
        <table-pagination
            ref="pagination"
            :table="table"
            :filters="createFilters"
            :constraints="buildConstraints"
            :activePage="activePage"
            :onClickCreateNew="onClickCreateNew"
            v-on:changed="onPaginationChanged"
        ></table-pagination>
    </div>
</template>


<script>
    import Message from "../../../../assets/messages/message.vue";
    import UserDatabaseTableBriefCell from "./userDatabaseTableBriefCell.vue";
    import TablePagination from "./tablePagination.vue";
    export default {
        name: "tableBrief",
        props: ['table', 'modelDetails', 'disabledFields', 'onClickRedirection', 'constraints',
            'prefix', 'onClickCreateNew', 'disableRemoveButton', 'disableEditButton', 'enableActivateButton', 'onClickRedirectionPostfix'],
        components: {TablePagination, UserDatabaseTableBriefCell, Message},
        data() {
            return {
                data: [],
                pageSize: null,
                activePage: null,
                displayDataReload: 0,
                maxStringLen: 34,
                active: -1,
                details: {},
                filter: "",
            }
        },

        mounted() {
            console.log("mounted")
            this.init()
        },

        methods: {
            init: function() {
                this.data = []

                if(this.modelDetails){
                    this.details = this.modelDetails
                    this.remount()
                }else{
                    this.loadDetails(() => {
                        this.remount()
                    })
                }
            },

            loadDetails: function(callback){
                this.axiosPostMsg('/tablemanagement/describetable', {
                    table: this.table
                }).then(m => {
                    let details = {
                        fields: [],
                        associations: m.associations
                    }
                    for(let key in m.fields){
                        if(this.disabledFieldsComp.indexOf(key) == -1) {
                            //remove keys from associated model
                            if(m.fields[key].references){
                                this.disabledFieldsComp.forEach(val => {
                                    console.log(val, m.fields[key].references)
                                    if(m.fields[key].references.details){
                                        delete m.fields[key].references.details.fields[val]
                                    }
                                })
                            }

                            details.fields.push({name: key, ...m.fields[key]})
                        }
                    }

                    this.$set(this, 'details', details)
                    if(callback) callback()
                })
            },

            onPaginationChanged: function (payload){
                console.log("onPaginationChanged", payload)

                let reload = false
                if(payload.activePage != this.activePage){
                    this.activePage = payload.activePage
                    reload = true
                }
                if(payload.pageSize != this.pageSize){
                    this.pageSize = payload.pageSize
                }
                if(payload.count != this.data.length){
                    this.data = new Array(payload.count )
                    this.data = this.data.map(() => {return {}})
                    this.$set(this, 'data', this.data)
                    reload = true
                }

                if(reload){
                    this.load()
                }
            },

            setPage: function (val) {
                this.activePage = val
            },

            pageSizeChanged: function(pageSize){
                this.pageSize = pageSize
            },

            onCountLoaded: function (count){
                this.data = new Array(count)
                this.data = this.data.map(() => {return {}})
                this.$set(this, 'data', this.data)
                //this.load()
            },

            activate: function(index){
                /*if(index == this.active){
                    this.active = -1
                }else{
                    this.active = index
                }*/
                this.$emit('activate', this.displayData[index])
            },

            remount: function(){
                  this.$refs.pagination.remount()
            },

            loadAssociated: function(){
                this.axiosPostMsg('/tablemanagement/count', {
                    table: this.table,
                    tableAssociated: this.details.association[0],
                    as: this.table,
                    constraints: this.constraints || {}
                }).then(m => {
                    this.data = new Array(m.count)
                    this.data = this.data.map(() => {return {}})
                    this.$set(this, 'data', this.data)

                    this.load()
                })
            },

            remove: function(id){
                if(confirm("Czy na pewno usunąć wiersz?")) {
                    this.axiosPostMsg('/tablemanagement/remove', {
                        table: this.table,
                        id: id
                    }).then(m => {
                        this.remount()
                    }).catch(e => {
                        this.$refs.message.showDanger("", "Nie można usunąć wiersza. Wiersz pozostaje w relacji z innym wierszem w bazie danych")
                    })
                }
            },

            load: function (page, callback) {
                if(!page) page = this.activePage
                let offset = page * this.pageSize
                offset = offset >= 0 ? offset : undefined
                this.axiosPostMsg('/tablemanagement/findall', {
                    table: this.table,
                    options: {
                        offset,
                        limit: this.pageSize
                    },
                    constraints: this.buildConstraints,
                    filter: this.createFilters
                }).then(m => {
                    console.log(m)
                    let k = this.data
                    for(let i=offset; i<offset + this.pageSize; ++i){
                        k[i] = m[i-offset]
                        //console.log(m[i-offset], i)
                    }

                    //console.log(m)
                    this.$set(this, 'data', k)
                    this.displayDataReload ++

                    //control active page after reload data
                    /*if(this.activePage >= this.pages){
                        this.activePage = this.pages -1
                    }*/

                    if (callback) callback()
                })
            },

            colspan(details){
                if(details.references && details.references.details &&
                    details.references.details.fields){
                    return Object.keys(details.references.details.fields).length
                }
                return 1
            },

            rowspan(details){
                if(!details.references){
                    return 2
                }else{
                    return 1
                }
            },

            getPrefix() {
                return this.prefix || ""
            },




        },

        watch: {
            pageSize: function () {
                this.setPage(this.activePage)
            },

            modelDetails: function () {
                this.details = this.modelDetails
            },

            table: function () {
                this.init()
            },

            prefix: function () {
                this.init()
            },

            constraints: function () {
                this.init()
            }
        },

        computed: {
            displayData: function () {
                this.displayDataReload;
                let begin = this.activePage * this.pageSize
                let data = this.data.slice(begin, begin + this.pageSize)

                //console.log("desc", this.destructureKeys(data[0]))

                return data
            },

            footerColspan: function () {
                let colspan = 2 //add id and action columns

                if(!this.details) return colspan
                if(!this.details.fields) return colspan

                colspan += this.details.fields.length //add model fields

                for(let i in this.details.fields){
                    if(this.details.fields[i].references && this.details.fields[i].references.details && this.details.fields[i].references.details.fields){
                        colspan += Object.keys(this.details.fields[i].references.details.fields).length - 1 //remove one because there is
                        //not added model's foreign key
                    }
                }

                return colspan
            },

            disabledFieldsComp: function () {
                if(!this.disabledFields){
                    return []
                }else{
                    return this.disabledFields
                }
            },

            buildConstraints: function () {
                return this.constraints || []
            },

            createFilters: function () {
                let ret = {}

                if(this.filter == "") return ret

                if(this.details) {
                    for (let key in this.details.fields) {
                        ret[this.details.fields[key].name] = this.filter
                    }
                }
                return ret
            },
        }
    }
</script>

<style scoped>

</style>
