<template>
    <section v-if="depth <= maxDepth">
        <div class="table-container block">
            Tabela:
            <table class="reference-table">
                <tr>
                    <th>L.p</th>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Null</th>
                    <th>Domyślna</th>
                    <th>AI</th>
                    <th>Ref.</th>
                </tr>

                <template v-for="(d, index) in computedDetails.fields">
                    <tr>
                        <td>{{parseInt(index)+1}}</td>
                        <td>
                            <span>{{d.name}}</span>
                            <span v-if="d.primaryKey" class="icon">
                                <i class="fas fa-key" style="color:#fcba03"></i>
                            </span>
                        </td>
                        <td>{{d.type}}</td>
                        <td>
                            <span class="icon">
                                <i v-if="d.allowNull" class="fas fa-check has-text-success"></i>
                                <i v-else class="fas fa-times"></i>
                            </span>
                        </td>
                        <td>
                            <span v-if="d.defaultValue == null">Brak</span>
                            <span v-if="d.defaultValue == ''">""</span>
                            <span v-else>{{d.defaultValue}}</span>
                        </td>
                        <td>
                            <span class="icon">
                                <i v-if="d.autoIncrement" class="fas fa-check has-text-success"></i>
                                <i v-else class="fas fa-times"></i>
                            </span>
                        </td>
                        <td>
                            <button v-if="d.references" :class="['button', 'is-small', active != index ? 'is-link' : 'is-danger']" @click="toggle(index)">
                                {{d.references.model}}:{{d.references.key}}
                            </button>
                        </td>
                    </tr>
                    <tr v-if="active == index && d.references">
                        <td colspan="7">
                            <table-details-display
                                :table="d.references.model"
                                :depth="depth + 1"
                            ></table-details-display>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
        <div class="table-container block" v-if="computedDetails.associations && computedDetails.associations.length > 0">
            Relacje:
            <table class="reference-table">
                <tr>
                    <th>L.p.</th>
                    <th>Model</th>
                    <th>Klucz obcy</th>
                    <th>Nazwa relacji</th>
                    <th>Typ</th>
                    <th>Model asocjacyjny</th>
                    <th>Ref.</th></tr>
                <template v-for="(as, index) in computedDetails.associations">
                    <tr>
                        <td>{{parseInt(index)+1}}</td>
                        <td>{{as.target}}</td>
                        <td>{{as.foreignKey}}</td>
                        <td>{{as.as}}</td>
                        <td>{{as.associationType}}</td>
                        <td><span v-if="as.throughModel">{{as.throughModel}}</span></td>
                        <td>
                            <button :class="['button', 'is-small', activeAssociation != index ? 'is-link' : 'is-danger']" @click="toggleAssociations(index)">
                                Rozwiń
                            </button>
                        </td>
                    </tr>
                    <tr v-if="activeAssociation == index">
                        <td colspan="7">
                            <table-details-display
                                :table="as.target"
                                :depth="depth + 1"
                            ></table-details-display>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
    </section>
    <section v-else>
        Maksymalna dopuszczalna głębokość osiągnięta. Depth: {{depth}}, MaxDepth: {{maxDepth}}
    </section>
</template>

<script>
    export default {
        name: "tableDetailsDisplay",
        props: ['table', 'details', 'depth'],
        data() {
            return {
                active: -1,
                activeAssociation: -1,
                computedDetails: [],
                maxDepth: 5
            }
        },

        mounted() {
            if(!this.details){
                this.load()
            }else{
                this.computedDetails = this.details
            }
        },

        methods: {
            toggle: function(index) {
                if(this.active == index){
                    this.active = -1
                }else {
                    this.active = index
                }
            },

            toggleAssociations: function(index) {
                if(this.activeAssociation == index){
                    this.activeAssociation = -1
                }else {
                    this.activeAssociation = index
                }
            },

            load: function () {
                if(!this.details) {
                    this.axiosPostMsg('/tablemanagement/describetable', {
                        table: this.table
                    }).then(m => {

                        let details = {
                            fields: [],
                            associations: m.associations
                        }
                        for(let key in m.fields){
                            details.fields.push({name: key, ...m.fields[key]})
                        }

                        this.$set(this, 'computedDetails', details)
                    })
                }
            }
        },

        watch: {
            details: function () {
                this.computedDetails = this.details
            }
        }
    }
</script>

<style scoped>

</style>
