<template>
    <th>
        {{text}}
        <template v-if="allowFiltering">
            <br>
            <input type="text" v-model="value">
        </template>
        <!--<template v-if="allowOrdering">
            <br>
            <button type="button" @click="orderBy(1)">+</button>&nbsp;<button type="button" @click="orderBy(0)">=</button>&nbsp;<button type="button" @click="orderBy(-1)">-</button>
        </template>-->
    </th>
</template>

<script>
export default {
    props: ['text', 'field', 'setValue', 'allowOrdering', 'allowFiltering'],
    name: "tableSimpleHeader",
    data() {
        return {
            value: this.setValue || "",

        }
    },
    methods: {
        //1,0,-1
        orderBy: function (direction){
            this.$parent.notifyChangedOrderBy(this.field, direction)
        }
    },
    watch: {
        value: function (){
            this.$parent.notifyChangedConstraints(this.field, this.value)
        },
    }
}
</script>

<style scoped>

</style>
