<template>
    <div v-if="(!disableEditModeRoot && isRoot) || (!disableEditMode && !isRoot)">
        <message ref="message"></message>
        <template v-if="isActive">
            <template v-for="(d, index) in data">
                <table-edit-field
                    :data="d"
                    :ref="'fields'"
                    @changed="fieldChanged"
                    :disable-edit-mode="isRoot ? disableEditModeRoot : disableEditMode"
                ></table-edit-field>
                <div class="box" :style="'background-color: #' + color" v-if="d.references">
                    <table-edit-fields-box
                        :depth="!depth ? 1 : (depth + 1)"
                        :foreign-key="d.key"
                        :table="d.references.model"
                        :key-value="d.value"
                        :key-name="d.references.key"
                        :ref="'references'"
                        @keyValueChanged="referenceFieldChanged"
                        :disable-edit-mode="isRoot ? disableEditModeRoot : disableEditMode"
                        :disabled-fields="disabledFields"
                    ></table-edit-fields-box>
                </div>
            </template>
        </template>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label"></label>
            </div>
            <div class="field-body">
                <div class="field" v-if="!isRoot">
                    <div  class="control">
                        <button v-if="!active" class="button is-success is-small" @click="active = !active">Rozwiń</button>
                        <button v-else class="button is-danger is-small" @click="active = !active">Zwiń</button>
                    </div>
                </div>
                <div class="field is-grouped" v-else>
                    <div class="control">
                        <button class="button is-link" @click="saveRoot">Zatwierdź</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light" @click="cancel">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <table class="block reference-table" v-if="isActive">
            <tr><th>Pole</th><th>Wartość</th></tr>
            <template v-for="(d, index) in data">
                <table-edit-field
                        :data="d"
                        :ref="'fields'"
                        @changed="fieldChanged"
                        :disable-edit-mode="isRoot ? disableEditModeRoot : disableEditMode"
                ></table-edit-field>

                <tr>
                    <td colspan="2" v-if="d.references">
                        <table-edit-fields-box
                            :depth="!depth ? 1 : (depth + 1)"
                            :foreign-key="d.key"
                            :table="d.references.model"
                            :key-value="d.value"
                            :key-name="d.references.key"
                            :ref="'references'"
                            @keyValueChanged="referenceFieldChanged"
                            :disable-edit-mode="isRoot ? disableEditModeRoot : disableEditMode"
                            :disabled-fields="disabledFields"
                        ></table-edit-fields-box>
                    </td>
                </tr>
            </template>
        </table>
        <div  class="control">
            <button v-if="!active" class="button is-success is-small" @click="active = !active">Rozwiń</button>
            <button v-else class="button is-danger is-small" @click="active = !active">Zwiń</button>
        </div>

        <div class="block" v-if="isRoot">
            <button class="button is-small is-link" v-on:click="disableEditModeRoot = false">Edytuj</button>
        </div>
    </div>
</template>

<script>
    import TableEditField from "./tableEditField.vue";
    import Message from "../../../../assets/messages/message.vue";
    export default {
        name: "tableEditFieldsBox",
        components: {Message, TableEditField},
        props: ['table', 'keyName', 'foreignKey', 'keyValue', 'depth',
            'details', // is composed of fields and associations
            'disableEditMode', // null | undefined | 0 -> edit mode, else only display
            'disabledFields'
        ],
        data() {
            return {
                data: [],
                ownDetails: [], //fields only!
                ownAssociations: [], //associations only!
                active: false,
                disableEditModeRoot: false,
                constraints: null,
            }
        },

        mounted() {
            this.remount()

            //console.log("constraints", this.$route.query.constraints)
            if(this.$route.query.constraints){
                try{
                    this.constraints = JSON.parse(this.$route.query.constraints)
                }catch (e){

                }
            }
        },

        methods: {

            referenceFieldChanged: function(foreignKey, val){
                for(let i in this.data){
                    if(this.data[i].key == foreignKey){
                        this.data[i].value = val
                        //force set in combo box (select)
                        //allow parent object to read value direct from component
                        this.$refs.fields[i].forceSet(val)
                    }
                }
            },

            fieldChanged: function(key, val){
                //console.log(key, val)

                for(let i in this.data){
                    if(this.data[i].key == key){
                        this.data[i].value = val
                    }
                }
            },

            remount: function(){

                if(!this.disabledFields){
                    this.disabledFields = []
                }

                let defaultValues = {}
                if(this.isRoot){
                    defaultValues = this.$route.query
                    //for root save parameter
                    //this.disableEditModeRoot = this.disableEditMode
                }

                if(this.details && this.details.fields) {
                    this.ownDetails = Object.assign({},this.details.fields)
                    this.ownAssociations = Object.assign({},this.details.associations)
                    for(let i in this.ownDetails){
                        if(defaultValues[this.ownDetails[i].name]){
                            this.ownDetails[i].defaultValue = defaultValues[this.ownDetails[i].name]
                            this.ownDetails[i].forceUpdated = true
                        }
                    }

                    this.remountNext()
                }
                else {
                    this.loadDetails(() => {
                        this.remountNext()
                    })
                }
            },

            remountNext: function() {
                let id = this.keyValue

                if(!id || id == 0){
                    //generate new object based on default values
                    this.$set(this, 'data', this.generateNewObj())
                    this.isInserting = true
                } else {
                    this.isInserting = false
                    this.load()
                }
            },

            generateNewObj: function () {
                let obj = []

                //console.log("generateNewObj", this.constraints)


                for(let i in this.ownDetails){

                    let name = this.ownDetails[i].name
                    let value = this.ownDetails[i].defaultValue
                    let disable = false


                    //load constrains from path
                    if(this.constraints) {
                        for(let i in this.constraints) {
                            console.log("i", i)
                            for (let key in this.constraints[i]) {
                                console.log("key", key, name)
                                if (name == key) {
                                    console.log("value changed")
                                    value = this.constraints[i][key]
                                    disable = true
                                }
                            }
                        }
                    }

                    obj.push({
                        key: name,
                        ...this.ownDetails[i],
                        value: value,
                        disable: disable
                    })
                }

                return obj
            },

            cancel(){
                this.onCancel()
                this.$refs.fields.forEach((val) => val.cancel())
            },

            loadDetails: function(callback){
                this.axiosPostMsg('/tablemanagement/describetable', {
                    table: this.table
                }).then(m => {
                    let details = {
                        fields: [],
                        associations: m.associations
                    }
                    for(let key in m.fields){
                        if(this.disabledFields.indexOf(key) == -1) {
                            //remove keys from associated model
                            if(m.fields[key].references){
                                this.disabledFields.forEach(val => {
                                    delete m.fields[key].references.details.fields[val]
                                })
                            }

                            details.fields.push({name: key, ...m.fields[key]})
                        }
                    }

                    this.$set(this, 'ownDetails', details.fields)
                    this.$set(this, 'ownAssociations', details.associations)
                    if(callback) callback()
                })
            },

            load: function () {
                let payload = {
                    table: this.table
                }
                payload[this.keyName] = this.keyValue

                this.axiosPostMsg('/tablemanagement/findone', payload).then(m => {
                    let obj = this.generateNewObj()
                    for(let i in obj){
                        obj[i].value = m[obj[i].key]
                    }

                    this.$set(this, 'data', obj)
                })
            },

            getValue: function(key){
                for(let i in this.data){
                    if(this.data[i].key == key){
                        this.data[i].value = val
                    }
                }
            },

            save(){
                return new Promise(resolve => {
                    let save = []
                    if(this.$refs.references) {
                        this.$refs.references.forEach((val) => {
                            save.push(val.save())
                        })
                    }

                    Promise.all(save).then(() => {
                        let data = {}
                        let dataChanged = false
                        if(this.$refs.fields) {
                            this.$refs.fields.forEach((val) => {
                                if (val.isChanged() || !this.isKey) {
                                    dataChanged = true
                                    data = {...data, ...val.getValue()}
                                }
                            })
                        }

                        if(dataChanged){
                            let payload = {
                                table: this.table
                            }
                            payload[this.keyName] = this.keyValue
                            payload.data = data

                            //console.log("saving...", payload)

                            this.axiosPostMsg('/tablemanagement/updateorinsert', payload).then((m) => {
                                //console.log(m)

                                if((!this.keyValue || this.keyValue == 0) && m && m[this.keyName]){
                                    this.$emit('keyValueChanged', this.foreignKey, m[this.keyName])
                                }

                                resolve()
                            }).catch(e => {
                                this.$refs.message.showDanger("", "Błąd podczas wprowadzania danych. Upewnij się, że wszystkie pola zostały poprawnie uzupełnione.")
                            })
                        }else{
                            resolve()
                        }
                    })
                })
            },

            onSaveSuccess: function(){
                let path = this.$route.query.redirect
                if(path){
                    this.$router.push({path: path})
                }
            },

            onCancel: function(){
                //if in root element then check if edit mode could be disabled
                //if so, then do this
                if(this.isRoot && this.disableEditMode){
                    //this.disableEditModeRoot = true
                    //return
                }

                let path = this.$route.query.redirect
                if(path){
                    this.$router.push({path: path})
                }
            },

            saveRoot: function(){
                this.save().then(() => {
                    this.onSaveSuccess()

                    this.$refs.message.showSuccess("", "Poprawnie zmodyfikowano dane")
                    this.remount()
                })
            }

        },

        computed: {
            isRoot: function () {
                if(!this.depth || this.depth == 0){
                    return true
                }
                return false
            },

            isActive: function () {
                if(this.isRoot) return true
                else if(this.active == true) return true
                else return false
            },

            color: function () {
                let depth = this.depth
                if(this.isRoot){
                    depth = 0
                }

                let maxDepth=16.0
                let c = 256.0 - ((depth + 1) * 256.0 / maxDepth)
                return c.toString(16).padStart(0)+c.toString(16).padStart(0)+c.toString(16).padStart(0)
            },

            isKey: function(){
                return this.keyValue != undefined && this.keyValue != null && this.keyValue != 0
            }
        },

        watch: {
            table: function () {
                this.remount()
            },

            keyName: function(){
                this.remount()
            },

            keyValue: function () {
                this.remount()
            },

            details: function () {
                this.remount()
            },

            $route: function (){
                //console.log("constraints", this.$route.query.constraints)
                if(this.$route.query.constraints){
                    try{
                        this.constraints = JSON.parse(this.$route.query.constraints)
                    }catch (e){

                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
