<template>
    <section>
        <h1 class="title">Tabela {{table}}</h1>
        <h1 class="subtitle">Przegląd zawartości tabeli</h1>
        <table-brief
            :table="table"
            :model-details="details">
        </table-brief>
    </section>
</template>

<script>
    import TableBrief from "./tableBrief.vue";
    export default {
        name: "userDatabaseTableBrief",
        components: {TableBrief},
        props: ['table', 'details'],
    }
</script>

<style scoped>

</style>
