<template>
    <section>
        <h1 class="title">Tabela {{table}}</h1>
        <h1 class="subtitle">Struktura tabeli</h1>
        <table-details-display
            :table="table"
            :details="details"
            :depth="0"
        ></table-details-display>
    </section>
</template>

<script>
    import TableDetailsDisplay from "./tableDetailsDisplay.vue";
    export default {
        name: "userDatabaseTableMain",
        components: {TableDetailsDisplay},
        props: ['table', 'details'],
        data() {
            return {

            }
        },

        watch: {
        }
    }
</script>

<style scoped>

</style>
