<template>
    <div>
        <h1 class="title">Tabela {{table}}</h1>
        <h1 class="subtitle">
            <template v-if="isInserting">Dodawanie wiersza</template>
            <template v-else>Edycja wiersza</template>
        </h1>

        <table-edit-fields-box
            :table="table"
            :key-value="$route.params.id"
            :key-name="'id'"
            :details="details"
        ></table-edit-fields-box>

    </div>
</template>

<script>
    import TableEditFieldsBox from "./tableEditFieldsBox.vue";
    export default {
        name: "userDatabaseTableEdit",
        components: {TableEditFieldsBox},
        props: ['table', 'details'],
        data() {
            return {
                data: [],
                isInserting:false
            }
        },

        mounted() {
            this.remount()
        },

        methods: {
            remount: function(){
                let id = this.$route.params.id

                if(!id || id == 0){
                    //generate new object based on default values
                    this.isInserting = true
                } else {
                    this.isInserting = false
                }
            },

            generateNewObj: function () {
                let obj = []

                for(let i in this.details){
                    obj.push({
                        key: this.details[i].name,
                        ...this.details[i],
                        value: this.details[i].defaultValue
                    })
                }

                return obj
            },



            /*save: function () {
                this.axiosPostMsg('/tablemanagement/set', {
                    table: this.table,
                    id: this.$route.params.id,
                    data: {}
                }).then(m => {
                    console.log(m)
                })
            }*/
        },

        watch: {
             $route(to, from) {
                 this.remount()
             }
        }
    }
</script>

<style scoped>

</style>
