<template>
    <td v-if="!row">

    </td>
    <td v-else-if="type == 'DATETIME'">
        {{renderDate(row[name])}}
    </td>
    <td v-else-if="typeof row[name] == 'object'">
        {{renderString(JSON.stringify(row[name]))}}
    </td>
    <td v-else-if="typeof row[name] == 'array'">
        {{renderString(row[name].reduce((acc, val) => {return acc + "," + val}, ""))}}
    </td>
    <td v-else-if="typeof row[name] == 'string'">
        {{renderString(row[name])}}
    </td>
    <td v-else-if="typeof row[name] == 'number'">
        {{(row[name]).toFixed(2)}}
    </td>
    <td v-else-if="typeof row[name] == 'boolean'">
        <span class="icon">
            <i v-if="row[name]" class="fas fa-check has-text-success"></i>
            <i v-else class="fas fa-times"></i>
        </span>
    </td>
    <td v-else>
        {{row[name]}}
    </td>
</template>

<script>
    export default {
        name: "userDatabaseTableBriefCell",
        props: ['name', 'type', 'row']
    }
</script>

<style scoped>

</style>
