<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="box">
                    <message ref="message"></message>
                    <h1 class="title is-5">Parametry serwisu:</h1>
                    <object-input title="Nazwa" v-model="data" :config="{name: {}}"></object-input>
                    <object-input title="Typ serwisu" v-model="data" :config="{serviceTypeId:{type: 'id', options: serviceTypeOptions}}"></object-input>
                    <object-input title="Notatki" v-model="data" :config="{notes: {type:'longText'}}"></object-input>
                    <object-input title="Data wykonania" v-model="data" :config="{date:{type:'date'}}"></object-input>

                    <span v-if="id>0">
                        Ostatnia aktualizacja {{renderDate(data.updatedAt)}}
                    </span>
                    <div class="buttons">

                        <button v-if="id != 0" class="button is-success" @click="updateData(id)">
                            Aktualizuj bieżący (#{{id}})
                        </button>
                        <button class="button is-link" @click="updateData(0)">
                            Stwórz nowy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent" v-if="id > 0">
            <div class="tile is-child">
                <db-file-selection
                    :id="$route.params.id"
                    table="HP_HEATPUMPSERVICEFILE"
                    foreignKey="heatpumpserviceId"
                    fileForeignKey="fileId"

                ></db-file-selection>

            </div>
        </div>
    </div>
</template>

<script>
import tableApi from "../../../../../plugins/tableApi";
import ObjectInput from "../../../../../assets/formInputs/objectInput.vue";
import Message from "../../../../../assets/messages/message.vue";
import TableSimple from "../../../databaseInterface/table/tableSimple.vue";
import RemoveFromDatabaseButton from "../../../../../assets/buttons/removeFromDatabaseButton.vue";
import TableSimpleCell from "../../../databaseInterface/table/tableSimpleCell.vue";
import ChooserInputDb from "../../../databaseInterface/chooserInputDb.vue";
import CmsViewImageImporter from "../../cmsView/cmsViewImageImporter.vue";
import DbFileSelection from "../../../databaseInterface/dbFileSelection.vue";

export default {
    name: "refrigerationViewMainServicePreview",
    components: {
        DbFileSelection,
        CmsViewImageImporter,
        ChooserInputDb, TableSimpleCell, RemoveFromDatabaseButton, TableSimple, Message, ObjectInput},
    mixins: [tableApi],
    data() {
        return {
            data: {
                heatpumpId: this.$route.params.heatpumpid,
                name: "",
                notes: "",
                date: new Date(),
            },
            id: this.$route.params.id,
            table: "HP_HEATPUMPSERVICE",
            serviceTypeOptions: [],
        }
    },
    mounted() {
        //this.loadProductsOptions()
        this.load()
        this.loadServiceType()
        this.dbSetMessageRef(this.$refs.message)
    },
    methods: {
        updateData(id) {
            let data = Object.assign({}, this.data)
            delete data.id
            this.dbUpdate({
                table: this.table,
                id: id,
                data
            }).then(m => {
                if(m && (this.id == 0 || id == 0)){
                    this.showSuccess("Sukces", "Poprawnie dodano nowy produkt")
                    this.id = m
                    this.$router.push({params: { id: m }})
                }else{
                    this.showSuccess("Sukces", "Poprawnie zmodyfikowano istniejący produkt")
                }
            }).catch(()=>{})
        },

        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: this.table,
                    id: this.id
                }).then(m => {
                    this.$set(this, 'data', m)
                })
            }
        },

        loadServiceType() {
            this.dbFindAllIds({
                table: "HP_HEATPUMPSERVICETYPE"
            }).then(m => {
                for(let i in m){
                    this.serviceTypeOptions.push(m[i])
                }
            }).catch(()=>{})
        }
    },
    watch: {
        id: function (){
            this.load()
        },
        "$route.params.id": function (){
            this.id = this.$route.params.id
        },
    }
}
</script>

<style scoped>

</style>
