<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="box">
                    <message ref="message"></message>
                    <h1 class="title is-5">Parametry instalacji:</h1>
                    <object-input title="Nazwa" v-model="data" :config="{name: {}}"></object-input>
                    <object-input title="Notatki" v-model="data" :config="{notes: {type:'longText'}}"></object-input>
                    <object-input title="Klient" v-model="data" :config="{customerId: {type:'id', options: customerOptions}}"></object-input>
                    <object-input title="Urządzenie" v-model="data" :config="{productId:{type: 'id', options: productOptions}}"></object-input>
                    <object-input title="Powiadomienia" v-model="data" :config="{notificationPolicyId:{type: 'id', options: notificationPolicyOptions}}"></object-input>
                    <object-input title="Data montażu" v-model="data" :config="{mountedAt:{type:'date'}}"></object-input>
                    <object-input title="Miasto" v-model="data" :config="{city:{}}"></object-input>
                    <object-input title="Kod pocztowy" v-model="data" :config="{code:{}}"></object-input>
                    <object-input title="Ulica" v-model="data" :config="{street:{}}"></object-input>
                    <object-input title="Czynnik chłodniczy" v-model="data" :config="{refrigerantId:{type: 'id', options: refrigerantOptions}}"></object-input>
                    <object-input title="Ilość czynnika [kg]" v-model="data" :config="{refrigerantWeight:{type: 'float'}}"></object-input>
                    <object-input title="Powiadomienia użytkownika" v-model="data" :config="{customerNotificationAllowed:{type: 'bool'}}"></object-input>
                    <object-input title="Powiadomienia serwisu" v-model="data" :config="{serviceNotificationAllowed:{type: 'bool'}}"></object-input>

                    <span v-if="id>0">
                        Ostatnia aktualizacja {{renderDate(data.updatedAt)}}
                    </span>
                    <div class="buttons">

                        <button v-if="id != 0" class="button is-success" @click="updateData(id)">
                            Aktualizuj bieżący (#{{id}})
                        </button>
                        <button class="button is-link" @click="updateData(0)">
                            Stwórz nowy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent" v-if="id > 0">
            <div class="tile is-child">
                <div class="box">
                    <h1 class="title is-5">Wykonane serwisy:</h1>
                    <table-simple
                        ref="table"
                        prefix="prod"
                        table="HP_HEATPUMPSERVICE"
                        :on-click-create-new="$route.path + '/service/0'"
                        :constraints="[{heatpumpId: id}]"
                    >
                        <template v-slot:header>
                            <tr>
                                <th>L.p</th>
                                <th>Nazwa</th>
                                <th>Typ</th>
                                <th>Notatki</th>
                                <th>Data wykonania</th>
                                <th>Akcje</th>
                            </tr>
                        </template>

                        <template v-slot:rows="props">
                            <tr v-for="(d, index) in props.data" v-if="d">

                                <td>{{parseInt(index)+1}}</td>
                                <td>{{d.name}}</td>
                                <table-simple-cell table="HP_HEATPUMPSERVICE" field="notes" :value="d.notes"
                                ></table-simple-cell>
                                <table-simple-cell table="HP_HEATPUMPSERVICE" field="serviceTypeId" :id="d.id"
                                                   foreign-table="HP_HEATPUMPSERVICETYPE" :value="d.serviceTypeId"
                                ></table-simple-cell>
                                <table-simple-cell table="HP_HEATPUMP" field="date" :id="d.id" :value="new Date(d.date)"
                                ></table-simple-cell>
                                <td>
                                    <router-link :to="$route.path + '/service/' + d.id" class="button is-small is-link">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    </router-link>
                                    <remove-from-database-button table="HP_HEATPUMPSERVICE" :id="d.id"
                                                                 @click="$refs.table.init()"
                                    ></remove-from-database-button>
                                </td>
                            </tr>
                        </template>
                    </table-simple>
                </div>

                <div class="box">
                    <h1 class="title is-5">Wysłane powiadomienia</h1>
                    <table-simple
                        ref="table2"
                        prefix="prod"
                        table="HP_NOTIFICATION_LIST"
                        :constraints="[{heatpumpId: id}]"
                    >
                        <template v-slot:header>
                            <tr>
                                <th>L.p</th>
                                <th>Email</th>
                                <th>Nazwa</th>
                                <th>Data powiadomienia</th>
                                <th>Akcje</th>
                            </tr>
                        </template>

                        <template v-slot:rows="props">
                            <tr v-for="(d, index) in props.data" v-if="d">

                                <td>{{parseInt(index)+1}}</td>
                                <td><router-link :to="'/database/UM_EMAILHISTORY/edit/' + d.emailhistoryId">#{{d.emailhistoryId}}</router-link></td>
                                <td>{{d.name}}</td>
                                <td>{{renderDate(d.date)}}</td>
                                <td>
                                    <remove-from-database-button table="HP_NOTIFICATION" :id="d.id"
                                                                 @click="$refs.table2.init()"
                                    ></remove-from-database-button>
                                </td>
                            </tr>
                        </template>
                    </table-simple>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import tableApi from "../../../../../plugins/tableApi";
import ObjectInput from "../../../../../assets/formInputs/objectInput.vue";
import Message from "../../../../../assets/messages/message.vue";
import TableSimple from "../../../databaseInterface/table/tableSimple.vue";
import RemoveFromDatabaseButton from "../../../../../assets/buttons/removeFromDatabaseButton.vue";
import TableSimpleCell from "../../../databaseInterface/table/tableSimpleCell.vue";
import ChooserInputDb from "../../../databaseInterface/chooserInputDb.vue";

export default {
    name: "refrigerationViewMainPreview",
    components: {
        ChooserInputDb, TableSimpleCell, RemoveFromDatabaseButton, TableSimple, Message, ObjectInput},
    mixins: [tableApi],
    data() {
        return {
            data: {
                productId: 0,
                customerId: 0,
                notificationPolicyId: 0,
                mountedAt: new Date(),
                notes: "",
                name: "",
                city: "",
                code: "",
                street: "",
                refrigerantId: 1,
                refrigerantWeight: 2.5,
                customerNotificationAllowed: true,
                serviceNotificationAllowed: true,
            },
            id: this.$route.params.id,
            table: "HP_HEATPUMP",
            notificationPolicyOptions: [],
            refrigerantOptions: [],
            productOptions: [],
            customerOptions: []
        }
    },
    mounted() {
        //this.loadProductsOptions()
        this.load()
        this.loadNotificationPolicyOptions()
        this.loadCustomerOptions()
        this.loadProductsOptions()
        this.loadRefrigerantOptions()
        this.dbSetMessageRef(this.$refs.message)
    },
    methods: {
        updateData(id) {
            let data = Object.assign({}, this.data)
            console.log(data)
            delete data.id
            this.dbUpdate({
                table: this.table,
                id: id,
                data
            }).then(m => {
                if(m && (this.id == 0 || id == 0)){
                    this.showSuccess("Sukces", "Poprawnie dodano nowy produkt")
                    this.id = m
                    this.$router.push({params: { id: m }})
                }else{
                    this.showSuccess("Sukces", "Poprawnie zmodyfikowano istniejący produkt")
                }
            }).catch(()=>{})
        },
        loadProductsOptions: function (){
            this.dbFindAllIds({
                table: "PM_PRODUCT_NAME"
            }).then(m => {
                for(let i in m){
                    this.productOptions.push(m[i])
                }
            }).catch(()=>{})
        },
        loadRefrigerantOptions: function (){
            this.dbFindAllIds({
                table: "HP_REFRIGERANT"
            }).then(m => {
                for(let i in m){
                    this.refrigerantOptions.push(m[i])
                }
            }).catch(()=>{})
        },
        loadNotificationPolicyOptions: function (){
            this.dbFindAllIds({
                table: "HP_NOTIFICATIONPOLICY"
            }).then(m => {
                for(let i in m){
                    this.notificationPolicyOptions.push(m[i])
                }
            }).catch(()=>{})
        },
        loadCustomerOptions: function (){
            this.dbFindAllIds({
                table: "HP_CUSTOMER"
            }).then(m => {
                for(let i in m){
                    this.customerOptions.push(m[i])
                }
            }).catch(()=>{})
        },
        load() {
            //load only of id is correct (greater then 0)
            if(this.id && this.id > 0) {
                this.dbFindOne({
                    table: this.table,
                    id: this.id
                }).then(m => {
                    console.log(m)
                    this.$set(this, 'data', m)
                })
            }
        }
    },
    watch: {
        id: function (){
            this.load()
        },
        "$route.params.id": function (){
            this.id = this.$route.params.id
        },
    }
}
</script>

<style scoped>

</style>
