<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);



        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>



<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://elmecotechnologie.pl">
            <img src="../../images/LOGO.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger"  data-target="navMenu"  aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-hidden-mobile">
        <div class="navbar-end">
            <a class="navbar-item" href="/">
                +48 501 263 866
            </a>
        </div>
    </div>

</div>
<div class="container second-layer">

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Strona główna
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" href="/fotowoltaika">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-solar-panel"></i>
                        </span>
                        <span>Fotowoltaika</span>
                    </span>
                </a>

                <div class="navbar-dropdown">

                    <div class="container">
                        <a href="/fotowoltaika#o_instalacji" class="navbar-item">
                            Czym jest instalacja fotowoltaiczna?
                        </a>
                        <a href="/fotowoltaika#finansowanie_i_doplaty" class="navbar-item">
                            Finansowanie i dopłaty
                        </a>
                        <a href="/fotowoltaika#procedura" class="navbar-item">
                            Procedura
                        </a>
                        <a href="/fotowoltaika#certyfikaty" class="navbar-item">
                            Nasze certyfikaty
                        </a>
                        <a href="/fotowoltaika/faq" class="navbar-item">
                            FAQ
                        </a>

                        <a href="http://panel.elmecotechnologie.pl" class="navbar-item">
                            Panel klienta
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" href="/pompy-ciepla">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-sun"></i>
                        </span>
                        <span>Pompy ciepła</span>
                    </span>
                </a>

                <div class="navbar-dropdown">

                    <div class="container">
                        <a href="/pompy-ciepla#o_instalacji" class="navbar-item">
                            Czym jest pompa ciepła?
                        </a>
                        <a href="/pompy-ciepla#oferta" class="navbar-item">
                            Oferta
                        </a>
                        <a href="/pompy-ciepla/baza-wiedzy" class="navbar-item">
                            Baza wiedzy
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"  href="/automatyka">
                    Automatyka
                </a>

                <div class="navbar-dropdown">

                    <div class="container">
                        <a href="/automatyka#automatyka" class="navbar-item">
                            Automatyka przemysłowa
                        </a>
                        <a href="/automatyka#oferta" class="navbar-item">
                            Oferta
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"  href="/powtran-polska">
                    Falowniki Powtran
                </a>

                <div class="navbar-dropdown">
                    <div class="container">
                        <a class="navbar-item" href="/katalog">
                            Katalog urządzeń
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"  href="/uslugi-elektryczne">
                    Usługi elektryczne
                </a>

                <div class="navbar-dropdown">

                    <div class="container">
                        <a href="/uslugi-elektryczne#elektrykaDlaDomu" class="navbar-item">
                            Elektryka dla domu
                        </a>
                        <a href="/uslugi-elektryczne#elektrykaDlaFirm" class="navbar-item">
                            Elektryka dla firm
                        </a>
                        <a href="/uslugi-elektryczne#pomiaryElektryczne" class="navbar-item">
                            Pomiary
                        </a>
                    </div>
                </div>
            </div>
            <a class="navbar-item" href="/nasze-referencje">
                Referencje
            </a>
            <!--
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ogrzewanie">
                    Ogrzewanie
                </a>

                <div class="navbar-dropdown">
                    <div class="container">
                        <a class="navbar-item" href="/ogrzewanie/pompy-ciepla">
                            Pompy ciepła
                        </a>
                        <a class="navbar-item" href="/ogrzewanie/folie-grzewcze">
                            Maty grzewcze
                        </a>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/kontakt">
                Kontakt
            </a>

            <%if(!session.user.userAuth){%>
                <a class="navbar-item" href="/login">
                    Logowanie
                </a>
            <%}else{%>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/account">
                        Konto
                    </a>

                    <div class="navbar-dropdown">

                        <div class="container">
                            <a href="/dashboard" class="navbar-item">
                                Panel administracyjny
                            </a>
                            <a href="/userapi/logout" class="navbar-item">
                                Wyloguj
                            </a>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>

    </div>
</div>
