<template>
    <div>
        Zawiera edycję listy rachunków. Zbiór rachunków podłączonych pod jedno wydarzenie/inwestycję /cykl kosztów itd..
        np. Wakacje w ...
        Dodatkowo zawiera graficzną prezentację.
    </div>
</template>

<script>
export default {
    name: "billViewMainList"
}
</script>

<style scoped>

</style>
